@require '~styles/variables'
@require '~styles-lib/mixins'

.-compact
	position: relative
	font-size: $font-size-base
	border: 0

	&::before
		theme-prop('border-bottom-color', 'bg-subtle')
		position: absolute
		content: ''
		height: 1px
		border-bottom-width: 2px
		border-bottom-style: solid
		top: 50%
		right: 0
		left: 50%

.-expandable
	cursor: pointer
	user-select: none

// This makes it so that the expander takes up the same amount of space.
.-expander
	font-family: monospace
