<div class="colorpicker">

	<app-popper>
		<!-- position-horizontal="left"
			@focused="isOpen = true"
			@blurred="isOpen = false" -->
		<div
			class="color"
			:class="{ empty: !colors.hex }"
			:style="{
				'background-color': colors.hex,
			}"
			>
		</div>

		<div
			class="colorpicker-popover"
			slot="popover"
			>
			<picker
				:value="colors"
				@input="onChange"
				/>

			<div class="colorpicker-well">
				<div class="col">
					<app-button primary solid block @click.prevent="accept">
						<translate>Accept</translate>
					</app-button>
				</div>
				<div class="col">
					<app-button trans block @click.prevent="cancel">
						<translate>Cancel</translate>
					</app-button>
				</div>
			</div>
		</div>
	</app-popper>

</div>
