<div class="content-editor"
	@focus="onFocus"
	tabindex="1"
	>
	<div class="content-container">
		<div class="-doc" ref="doc" />
		<span
			v-if="shouldShowPlaceholder"
			class="content-placeholder text-muted"
			>
			{{placeholder}}
		</span>
	</div>

	<app-content-editor-controls
		v-if="shouldShowControls"
		:capabilities="capabilities"
		:view="view"
		:state-counter="stateCounter"
		/>
	<app-content-editor-text-controls
		v-if="shouldShowTextControls"
		:capabilities="capabilities"
		:view="view"
		:state-counter="stateCounter"
		/>
	<app-content-editor-emoji-controls
		v-if="shouldShowEmojiControls"
		:view="view"
		:state-counter="stateCounter"
		@hide="onEmojisHide"
		/>

	<app-content-viewer
		v-if="showViewer"
		show-source
		:source="viewerSource" />

</div>
