<div
	class="content-editor"
	@focus="onFocus"
	ref="editor"
	tabindex="0"
	>
	<div
		class="content-container"
		:class="{
			'disabled': disabled,
			'content-container-emoji': couldShowEmojiPanel
		}"
		>
		<div class="-doc" ref="doc" />
		<span
			v-if="shouldShowPlaceholder"
			class="content-placeholder text-muted"
			>
			{{placeholder}}
		</span>
		<transition name="fade">
			<app-content-editor-controls-emoji-panel
				v-if="shouldShowEmojiPanel"
				:view="view"
				:state-counter="stateCounter"
				/>
		</transition>
	</div>

	<transition name="fade">
		<app-content-editor-controls
			v-if="shouldShowControls"
			:capabilities="capabilities"
			:view="view"
			:state-counter="stateCounter"
			/>
	</transition>
	<transition name="fade">
		<app-content-editor-text-controls
			v-if="shouldShowTextControls"
			:capabilities="capabilities"
			:view="view"
			:state-counter="stateCounter"
			@click="onTextControlClicked"
			/>
	</transition>
	<app-content-editor-emoji-controls
		v-if="shouldShowEmojiControls"
		:view="view"
		:state-counter="stateCounter"
		@hide="onEmojisHide"
		/>

	<app-content-viewer
		v-if="showViewer"
		show-source
		:source="viewerSource" />

</div>
