@require '~styles/variables'

>>> .editor-spoiler
	border-color: var(--theme-bg-subtle)
	border-width: 5px
	border-style: dashed

>>> .editor-spoiler:before
	content: none;
>>> .editor-spoiler:after
	content: none;

>>> p
	margin-top: 10px;
	margin-bottom: 10px;

>>> code
	white-space: pre-wrap

>>> td
	border-width: 1px
	border-style: solid
	padding: 4px
	min-width: 2em
