@require '~styles/variables'
@require '~styles-lib/mixins'

.content-container
	position: relative

.content-placeholder
	top: 0
	left: 4px
	position: absolute
	font-style: italic
	pointer-events: none

// Do not show dotted selection outline
>>> .ProseMirror
	outline: 0px solid transparent !important

// Override prosemirror selection border around selected nodes
>>> .ProseMirror-selectednode
	theme-prop('outline-color', 'highlight') !important

>>> .content-editor-spoiler
	border-color: var(--theme-bg-subtle)
	border-width: 5px
	border-style: dashed
	font-size: 15px
	padding-top: 4px

>>> .content-editor-spoiler:before
	content: none;
>>> .content-editor-spoiler:after
	content: none;

>>> p
	margin-top: 10px;
	margin-bottom: 10px;

>>> code
	white-space: pre-wrap

>>> td
	border-width: 1px
	border-style: solid
	padding: 4px
	min-width: 2em

>>> .content-editor-heading
	margin-top: 0px

>>> blockquote::before
	white-space: normal

>>> blockquote::after
	white-space: normal
