<div class="content-editor">
	<div class="-doc" ref="doc" />
	<app-content-editor-controls
		v-if="shouldShowControls"
		:capabilities="capabilities"
		:view="view"
		:state-counter="stateCounter" />
	<app-content-editor-text-controls
		v-if="shouldShowTextControls"
		:capabilities="capabilities"
		:view="view"
		:state-counter="stateCounter" />
	<app-content-editor-emoji-controls
		v-if="shouldShowEmojiControls"
		:view="view"
		:state-counter="stateCounter"
		@hide="onEmojisHide"
		/>

	<app-content-viewer
		:source="viewerSource" />

</div>
