@require '~styles/variables'

>>> .content-editor-spoiler
	border-color: var(--theme-bg-subtle)
	border-width: 5px
	border-style: dashed
	font-size: 15px
	padding-top: 4px

>>> .content-editor-spoiler:before
	content: none;
>>> .content-editor-spoiler:after
	content: none;

>>> p
	margin-top: 10px;
	margin-bottom: 10px;

>>> code
	white-space: pre-wrap

>>> td
	border-width: 1px
	border-style: solid
	padding: 4px
	min-width: 2em

>>> .content-editor-heading
	margin-top: 0px
