<app-base-content-component
	v-if="hasContent"
	:is-editing="isEditing"
	@removed="onRemoved"
	>

	<app-video-embed
		v-if="type === 'youtube-video'"
		video-provider="youtube"
		:video-id="source"
		/>
	<app-widget-compiler-widget-soundcloud
		v-else-if="type === 'soundcloud-song'"
		:track-id="source"
		/>
	<app-content-embed-game-embed
		v-else-if="type === 'game-jolt-game'"
		:game-id="source"
		:hydrator="hydrator"
		/>
	<app-content-embed-user-embed
		v-else-if="type === 'game-jolt-user'"
		:username="source"
		:hydrator="hydrator"
		/>

</app-base-content-component>
<div
	contenteditable="false"
	@paste="onpaste"
	v-else
	>
	<input
		ref="placeholderInput"
		class="-placeholder"
		type="text"
		readonly
		:placeholder="' ' + $gettext(`Paste a link to embed content from Game Jolt or an external site (e.g. YouTube).`)"
		/>
</div>
