<div
	ref="container"
	class="content-editor-text-controls"
	:style="{
		'bottom': this.bottom,
		'left': this.left,
	}"
	>

	<transition name="fade">
		<div v-if="visible">
			<app-button
				v-if="capabilities.textBold"
				circle
				icon="bold"
				:primary="hasMark('strong')"
				solid
				@click="onClickBold"
				v-app-tooltip="$gettext('Bold (Ctrl+B)')"
				/>
			<app-button
				v-if="capabilities.textItalics"
				circle
				icon="italic"
				:primary="hasMark('em')"
				solid
				@click="onClickItalic"
				v-app-tooltip="$gettext('Italic (Ctrl+I)')"
				/>
			<app-button
				v-if="capabilities.textStrike"
				circle
				icon="strikethrough"
				:primary="hasMark('strike')"
				solid
				@click="onClickStrikethrough"
				v-app-tooltip="$gettext('Strikethrough')"
				/>
			<app-button
				v-if="capabilities.textCode"
				circle
				icon="brackets"
				:primary="hasMark('code')"
				solid
				@click="onClickCode"
				v-app-tooltip="$gettext('Code (Ctrl+`)')"
				/>
			<app-button
				v-if="capabilities.textLink"
				circle
				icon="link"
				:primary="hasMark('link')"
				solid
				@click="onClickLink"
				v-app-tooltip="$gettext('Link')"
				/>
			<template v-if="capabilities.lists">
				<template v-if="canLiftListItems">
					<app-button
						circle
						icon="heart"
						solid
						primary
						@click="doLiftListItems"
						v-app-tooltip="$gettext('Lift from List')"
						/>
				</template>
				<template v-else-if="canWrapInLists">
					<app-button
						circle
						icon="bullet-list"
						solid
						@click="onClickBulletList"
						v-app-tooltip="$gettext('Unordered List')"
						/>
					<app-button
						circle
						icon="numbered-list"
						solid
						@click="onClickOrderedList"
						v-app-tooltip="$gettext('Ordered List')"
						/>
				</template>
			</template>
			<app-button
				v-if="capabilities.spoiler"
				circle
				icon="inactive"
				:primary="isInSpoiler"
				solid
				@click="onClickSpoiler"
				v-app-tooltip="$gettext('Spoiler')"
				/>
		</div>
	</transition>
</div>
