<div
	ref="container"
	class="content-editor-text-controls"
	:style="{
		'bottom': this.bottom,
		'left': this.left,
	}"
	>

	<div v-if="visible">
		<app-button
			v-if="capabilities.textBold"
			circle
			icon="heart"
			solid
			@click="onClickBold"
			v-app-tooltip="$gettext('Bold (Ctrl+B)')"
			/>
		<app-button
			v-if="capabilities.textItalics"
			circle
			icon="heart"
			solid
			@click="onClickItalic"
			v-app-tooltip="$gettext('Italic (Ctrl+I)')"
			/>
		<app-button
			v-if="capabilities.textStrike"
			circle
			icon="heart"
			solid
			@click="onClickStrikethrough"
			v-app-tooltip="$gettext('Strikethrough')"
			/>
		<app-button
			v-if="capabilities.textCode"
			circle
			icon="brackets"
			solid
			@click="onClickCode"
			v-app-tooltip="$gettext('Code (Ctrl+`)')"
			/>
		<app-button
			v-if="capabilities.textLink"
			circle
			icon="link"
			solid
			@click="onClickLink"
			v-app-tooltip="$gettext('Link')"
			/>
	</div>
</div>
