@require '~styles/variables'
@require '~styles-lib/mixins'

.user-card
	rounded-corners()
	theme-prop('background-color', 'bg-offset')
	margin-bottom: $line-height-computed
	overflow: hidden

.-well
	padding: 10px

hr
	margin: 0

.-user-info
	theme-prop('background-color', 'darker')
	text-align: center

.-header
	theme-prop('background-color', 'link')
	height: 100px
	background-repeat: no-repeat
	background-position: center center
	background-size: cover

.-verified
	theme-prop('color', 'highlight')
	vertical-align: middle

.-avatar
	theme-prop('background-color', 'darker')
	theme-prop('border-color', 'darker')
	position: relative
	display: block
	width: 100px
	height: 100px
	margin-top: -(@width * (1 - 0.618))
	margin-left: auto
	margin-right: auto
	border-width: 4px
	border-style: solid
	border-radius: 50%
	overflow: hidden
	z-index: 2

.-display-name
	text-overflow()
	font-weight: bold
	font-size: $font-size-large

.-username
	theme-prop('color', 'fg-muted')
	text-overflow()
	font-size: $font-size-small

.-follow
	clear: both
	margin-top: $line-height-computed

.-stats
	text-align: center

.-follows-you-tag
	margin-left: 10px;
