@require '~styles/variables'
@require '~styles-lib/mixins'

.user-card
	rounded-corners()
	theme-prop('background-color', 'bg-offset')

>>> .popover .user-card
	min-width: 300px

.-well
	padding: ($grid-gutter-width / 2)

	@media $media-xs
		padding: ($grid-gutter-width-xs / 2)

hr
	margin: 0

.-user-info
	clearfix()

	&-inner
		margin-left: 50px + ($grid-gutter-width / 2)

.-verified
	theme-prop('color', 'highlight')
	float: right
	margin-left: ($grid-gutter-width / 2)

.-avatar
	width: 50px
	float: left

.-display-name
	text-overflow()
	font-weight: bold
	font-size: $font-size-large

.-username
	theme-prop('color', 'fg-muted')
	text-overflow()
	font-size: $font-size-small

.-follow
	clear: both
	margin-top: $line-height-computed
