@require '~styles/variables'
@require '~styles-lib/mixins'

.user-card
	rounded-corners()
	background-color: $gray-lightest

>>> .popover .user-card
	min-width: 300px

.-well
	padding: ($grid-gutter-width / 2)

	@media $media-xs
		padding: ($grid-gutter-width-xs / 2)

hr
	margin: 0

.-user-info
	clearfix()

	&-inner
		margin-left: 50px + ($grid-gutter-width / 2)

.-verified
	float: right
	margin-left: ($grid-gutter-width / 2)
	color: var(--theme-green)

.-avatar
	width: 50px
	float: left

.-display-name
	text-overflow()
	font-weight: bold
	font-size: $font-size-large

.-username
	text-overflow()
	font-size: $font-size-small
	color: $text-muted

.-follow
	clear: both
	margin-top: $line-height-computed
