@require '~styles/variables'
@require '~styles-lib/mixins'

.pagination
	clearfix()
	display: inline-block
	padding-left: 0
	margin-bottom: $line-height-computed
	user-select: none

	&-item
		float: left
		margin-right: 3px

.pager
	clearfix()
	padding-left: 0
	margin: $line-height-computed 0
	list-style: none
	text-align: center
	user-select: none

	.pagination-item
		float: none

		&.next
			float: right

		&.previous
			float: left

	&.reverse
		.pagination-item.next
			float: left

		.pagination-item.previous
			float: right
