<!--
	There was a bug where the URLs weren't updating.
	The state name would stay the same, but the state params would be different and the ui-sref wouldn't
	update. This ng-repeat forces it to recompile itself every time the state params change.
	This ensures the URLs get calculated each time.
-->
<div ng-repeat="_ in [ $ctrl.$state.params ]">

	<!--
		Number pagination type
	-->
	<div ng-if="!$ctrl.pager && !$ctrl.screen.isXs">
		<ul class="pagination"
			ng-if="$ctrl.totalItems > $ctrl.itemsPerPage"
			>

			<li ng-if="$ctrl.hasPrevious && $ctrl.currentPage != 2">
				<a
					class="btn btn-outline"
					ui-sref="{{ $ctrl.$state.current.name }}( { {{ $ctrl.queryParam || 'page' }}: 1 } )"
					ui-sref-opts="{ inherit: true }"
					gj-no-auto-scroll
					ng-click="$ctrl.onPageClick( $event, 1 )"
					translate
					>
					First
				</a>
			</li>
			<li ng-if="$ctrl.hasPrevious">
				<a
					class="btn btn-outline"
					ui-sref="{{ $ctrl.$state.current.name }}( { {{ $ctrl.queryParam || 'page' }}: $ctrl.prevPage } )"
					ui-sref-opts="{ inherit: true }"
					gj-no-auto-scroll
					ng-click="$ctrl.onPageClick( $event, $ctrl.prevPage )"
					translate
					>
					Previous
				</a>
			</li>

			<li ng-if="$ctrl.prevChunkPage">
				<a
					class="btn btn-outline btn-sparse"
					ui-sref="{{ $ctrl.$state.current.name }}( { {{ $ctrl.queryParam || 'page' }}: $ctrl.prevChunkPage } )"
					ui-sref-opts="{ inherit: true }"
					gj-no-auto-scroll
					ng-click="$ctrl.onPageClick( $event, $ctrl.prevChunkPage )"
					>
					...
				</a>
			</li>

			<li ng-repeat="page in $ctrl.pages track by $index" ng-class="{ active: page == $ctrl.currentPage }">
				<a
					class="btn btn-outline btn-sparse"
					ng-if="page != $ctrl.currentPage"
					ui-sref="{{ $ctrl.$state.current.name }}( { {{ $ctrl.queryParam || 'page' }}: (page > 1 ? page : undefined) } )"
					ui-sref-opts="{ inherit: true }"
					gj-no-auto-scroll
					ng-click="$ctrl.onPageClick( $event, page )"
					>
					{{ page }}
				</a>
				<span class="btn btn-outline btn-sparse active" ng-if="page == $ctrl.currentPage">
					{{ page }}
				</span>
			</li>

			<li ng-if="$ctrl.nextChunkPage">
				<a
					class="btn btn-outline btn-sparse"
					ui-sref="{{ $ctrl.$state.current.name }}( { {{ $ctrl.queryParam || 'page' }}: $ctrl.nextChunkPage } )"
					ui-sref-opts="{ inherit: true }"
					gj-no-auto-scroll
					ng-click="$ctrl.onPageClick( $event, $ctrl.nextChunkPage )"
					>
					...
				</a>
			</li>

			<li ng-if="$ctrl.hasNext">
				<a
					class="btn btn-outline"
					ui-sref="{{ $ctrl.$state.current.name }}( { {{ $ctrl.queryParam || 'page' }}: $ctrl.nextPage } )"
					ui-sref-opts="{ inherit: true }"
					gj-no-auto-scroll
					ng-click="$ctrl.onPageClick( $event, $ctrl.nextPage )"
					translate
					>
					Next
				</a>
			</li>
			<li ng-if="$ctrl.hasNext && $ctrl.currentPage != $ctrl.totalPages - 1">
				<a
					class="btn btn-outline"
					ui-sref="{{ $ctrl.$state.current.name }}( { {{ $ctrl.queryParam || 'page' }}: $ctrl.totalPages } )"
					ui-sref-opts="{ inherit: true }"
					gj-no-auto-scroll
					ng-click="$ctrl.onPageClick( $event, $ctrl.totalPages )"
					translate
					>
					Last
				</a>
			</li>
		</ul>
	</div>

	<!--
		Pager type
	-->
	<div ng-if="$ctrl.pager || $ctrl.screen.isXs">
		<ul class="pager" ng-class="{ reverse: $ctrl.reverseButtons }">
			<li class="previous" ng-if="$ctrl.hasPrevious">
				<a
					class="btn btn-outline"
					ui-sref="{{ $ctrl.$state.current.name }}( { {{ $ctrl.queryParam || 'page' }}: $ctrl.prevPage } )"
					ui-sref-opts="{ inherit: true }"
					gj-no-auto-scroll
					ng-click="$ctrl.onPageClick( $event, $ctrl.prevPage )"
					>
					{{ ($ctrl.previousText || '&laquo; Previous') }}
				</a>
				<span ng-if="!$ctrl.hasPrevious">{{ ($ctrl.previousText || '&laquo; Previous') }}</span>
			</li>
			<li ng-if="$ctrl.currentPage > 1">
				<span class="btn btn-outline btn-sparse active">
					{{ $ctrl.currentPage }}
				</span>
			</li>
			<li class="next" ng-if="$ctrl.hasNext">
				<a
					class="btn btn-outline"
					ui-sref="{{ $ctrl.$state.current.name }}( { {{ $ctrl.queryParam || 'page' }}: $ctrl.nextPage } )"
					ui-sref-opts="{ inherit: true }"
					gj-no-auto-scroll
					ng-click="$ctrl.onPageClick( $event, $ctrl.nextPage )"
					>
					{{ ($ctrl.nextText || 'Next &raquo;') }}
				</a>
				<span ng-if="!$ctrl.hasNext">{{ ($ctrl.nextText || 'Next &raquo;') }}</span>
			</li>
		</ul>
	</div>

</div>
