<!--
	There was a bug where the URLs weren't updating.
	The state name would stay the same, but the state params would be different and the ui-sref wouldn't
	update. This ng-repeat forces it to recompile itself every time the state params change.
	This ensures the URLs get calculated each time.
-->
<ul class="pagination"
	ng-repeat="__ in [ $state.params ]"
	ng-if="ctrl.totalItems > ctrl.itemsPerPage"
	>

	<li ng-if="ctrl.hasPrevious && ctrl.currentPage != 2">
		<a
			ui-sref="{{ $state.current.name }}( { {{ ctrl.queryParam || 'page' }}: 1 } )"
			ui-sref-opts="{ inherit: true }"
			gj-no-auto-scroll
			ng-click="ctrl.onPageClick( $event, 1 )"
			>
			First
		</a>
	</li>
	<li ng-if="ctrl.hasPrevious">
		<a
			ui-sref="{{ $state.current.name }}( { {{ ctrl.queryParam || 'page' }}: ctrl.prevPage } )"
			ui-sref-opts="{ inherit: true }"
			gj-no-auto-scroll
			ng-click="ctrl.onPageClick( $event, ctrl.prevPage )"
			>
			Previous
		</a>
	</li>

	<li ng-if="ctrl.prevChunkPage">
		<a
			ui-sref="{{ $state.current.name }}( { {{ ctrl.queryParam || 'page' }}: ctrl.prevChunkPage } )"
			ui-sref-opts="{ inherit: true }"
			gj-no-auto-scroll
			ng-click="ctrl.onPageClick( $event, ctrl.prevChunkPage )"
			>
			...
		</a>
	</li>

	<li ng-repeat="page in ctrl.pages track by $index" ng-class="{ active: page == ctrl.currentPage }">
		<a
			ng-if="page != ctrl.currentPage"
			ui-sref="{{ $state.current.name }}( { {{ ctrl.queryParam || 'page' }}: (page > 1 ? page : undefined) } )"
			ui-sref-opts="{ inherit: true }"
			gj-no-auto-scroll
			ng-click="ctrl.onPageClick( $event, page )"
			>
			{{ page }}
		</a>
		<span ng-if="page == ctrl.currentPage">
			{{ page }}
		</span>
	</li>

	<li ng-if="ctrl.nextChunkPage">
		<a
			ui-sref="{{ $state.current.name }}( { {{ ctrl.queryParam || 'page' }}: ctrl.nextChunkPage } )"
			ui-sref-opts="{ inherit: true }"
			gj-no-auto-scroll
			ng-click="ctrl.onPageClick( $event, ctrl.nextChunkPage )"
			>
			...
		</a>
	</li>

	<li ng-if="ctrl.hasNext">
		<a
			ui-sref="{{ $state.current.name }}( { {{ ctrl.queryParam || 'page' }}: ctrl.nextPage } )"
			ui-sref-opts="{ inherit: true }"
			gj-no-auto-scroll
			ng-click="ctrl.onPageClick( $event, ctrl.nextPage )"
			>
			Next
		</a>
	</li>
	<li ng-if="ctrl.hasNext && ctrl.currentPage != ctrl.totalPages - 1">
		<a
			ui-sref="{{ $state.current.name }}( { {{ ctrl.queryParam || 'page' }}: ctrl.totalPages } )"
			ui-sref-opts="{ inherit: true }"
			gj-no-auto-scroll
			ng-click="ctrl.onPageClick( $event, ctrl.totalPages )"
			>
			Last
		</a>
	</li>
</ul>
