@require '~styles/variables'
@require '../../../stylus/common/mixins'

.hidden-text-expander
	margin-bottom: $font-size-base

.-videos
	margin-top: 3px // the extra spacing looked nice

.comment-video-thumbnail
	margin-bottom: $line-height-computed !important
