nav.collapse-list
	position: relative
	font-family: $font-family-heading
	margin-bottom: $line-height-computed

	.collapse-list-button
		display: block
		background-color: $gray-lightest
		height: 40px
		user-select: none

	.collapse-list-icon
		float: right
		width: 40px
		height: 40px
		line-height: 40px
		text-align: center
		background-color: $gray

		> .jolticon
			color: $gj-green

	&.opened ul li a
		display: block

	ul
		margin: 0
		padding: 0
		background-color: $gray-lighter

	li
		margin: 0
		list-style: none

		a
			display: none
			padding: 10px
			color: $gray

			&.active
				position: absolute
				top: 0
				left: 0
				display: block
				color: $black
				font-weight: bold

				// Any clicks on the active element should fall through the the collapse-list-button behind it.
				// This allow them to open the nav easier by clicking through the active label.
				pointer-events: none

				> .jolticon
					color: $black

			.tag
				margin-right: 5px
				vertical-align: text-top

			.jolticon
				color: $gray-light
				margin-right: 10px

			.badge
				margin-left: 5px
