@require '../card'
@require '~styles-lib/mixins'

.-avatar
	theme-prop('background-color', 'bg-offset')

.-placeholder-large
	lazy-placeholder-inline()
	height: $font-size-large

.-placeholder-small
	lazy-placeholder-inline()
	height: $font-size-small
