@require '~styles/variables'
@require '~styles-lib/mixins'

.ad-leaderboard, .ad-rectangle
	text-align: center

	.ad-inner
		margin: 0 auto

	.text-left &
		text-align: left

.ad-inner
	content-prop('background-color', 'bg-offset')
	border-radius: $border-radius-base

.ad-leaderboard
	.ad-inner, >>> .ad-slot > div
		width: 728px !important
		height: 90px !important

.ad-rectangle
	.ad-inner, >>> .ad-slot > div
		width: 300px !important
		height: 250px !important

.ad-skyscraper
	.ad-inner, >>> .ad-slot > div
		width: 160px !important
		height: 600px !important

>>> .ad-label
	color: $text-muted
	font-size: $font-size-small
	text-transform: uppercase
