@require '~styles/variables'
@require '~styles-lib/mixins'

.-size-leaderboard
	.-slot, >>> div
		display: block
		margin: 0 auto
		width: 728px !important
		height: 90px !important

.-size-rectangle
	.-slot, >>> div
		display: block
		margin: 0 auto
		width: 300px !important
		height: 250px !important
