@require '~styles/variables'

.ad-leaderboard
.ad-rectangle
	text-align: center

	.ad-inner
		margin: 0 auto

		// Specifically to get Google Ads to center correctly.
		> div > div
			margin: 0 auto

	.text-left &
		text-align: left

		.ad-inner
			&
			> div > div
				margin: 0

.ad-inner
	background-color: $gray-lightest

.ad-leaderboard .ad-inner
	width: 728px
	height: 90px

.ad-rectangle .ad-inner
	width: 300px
	height: 250px

.ad-skyscraper .ad-inner
	width: 160px
	height: 600px

.ad-label
	color: $text-muted
	font-size: $font-size-small
	text-transform: uppercase
