.show-type-grid
	position: relative
	background-image: linear-gradient(hsla(0,0%,0%,0) 95%, hsla(0,25%,50%,.5) 95%)
	background-position: 50% 19px
	background-size: 24px 24px

	&::before
		position: absolute
		content: ''
		top: 0
		right: 0
		bottom: 0
		left: 0

		background-image: linear-gradient(hsla(0,0%,0%,0) 95%, hsla(0,25%,50%,.3) 95%)
		background-position: 50% 19px
		background-size: 12px 12px
