<div class="media-bar-item">
	<a class="media-bar-item-wrapper" @click="onClick">

		<img
			v-if="item.media_type !== 'sketchfab'"
			v-app-img-responsive="item.img_thumbnail"
			:title="item.media_type == 'image' ? item.caption : item.title"
			:alt="item.media_type == 'image' ? item.caption : item.title"
			>

		<img
			v-else
			class="img-responsive"
			:src="item.img_thumbnail"
			alt=""
			>

		<span class="media-bar-item-play" v-if="item.media_type === 'video'">
			<app-jolticon icon="play" />
		</span>

		<span class="media-bar-item-play" v-if="item.media_type === 'sketchfab'">
			<app-jolticon icon="sketchfab" />
		</span>

	</a>
</div>
