@require '~styles/variables'
@require '~styles-lib/mixins'

.blip
	rounded-corners()
	change-bg('bg-offset')
	position: relative
	top: 1px // Needed to play nicely with buttons for some reason
	display: inline-block
	margin: 0 0 0 5px
	padding: 0 5px
	font-family: $font-family-tiny
	font-weight: bold
	font-size: $font-size-tiny
	line-height: 20px
	min-width: 10px
	text-align: center
	vertical-align: baseline

	/**
	 * Carets
	 */
	.blip-caret
		// Set to white since we'll have to override with content prop anyway.
		caret(direction: left, color: $white, size: 3px)
		theme-prop('border-right-color', 'bg-offset')

	&.filled
		change-bg('bi-bg')
		theme-prop('color', 'bi-fg')

		.blip-caret
			theme-prop('border-right-color', 'bi-bg')
