/**
 * Fills
 */
.fill-offset
	theme-prop('background-color', 'bg-offset')

	// Select all children
	*
		// Since a bunch of elements use the "bg-offset" color, we want to set
		// the var so they all use the "bg" color instead.
		--theme-bg-offset: var(--theme-bg)

.fill-highlight
	theme-prop('background-color', 'bi-bg')
	theme-prop('color', 'bi-fg')

	a
		theme-prop('color', 'bi-fg')
		text-decoration: underline

		&:hover
			text-decoration: none

	.button
		theme-dark()

.fill-notice
	theme-prop('background-color', 'notice')
	theme-prop('color', 'notice-fg')

	a
		theme-prop('color', 'notice-fg')
		text-decoration: underline

		&:hover
			text-decoration: none

	.button
		theme-dark()

.fill-gray
	theme-prop('background-color', 'gray')

	// Select all children
	*
		// The gray color is what we use for offset in dark background, so we
		// gotta change the offset color to be different.
		--theme-bg-offset: var(--theme-bg)

.fill-dark
	theme-prop('background-color', 'dark')

.fill-darker
	theme-prop('background-color', 'darker')

.fill-darkest-subtle
	theme-prop('background-color', 'darkest-subtle')

.fill-darkest
	theme-prop('background-color', 'darkest')

.fill-black
	background-color: $black

.fill-black, .fill-darkest, .fill-darkest-subtle, .fill-darker, .fill-dark, .fill-gray
	theme-prop('color', 'fg')
