/**
 * Fills
 */
.fill-offset
	theme-prop('background-color', 'bg-offset')

	.help-block
		theme-prop('background-color', 'fg-muted')

	/*
	   .input-group-addon
	   background-color: $gray-light
	   color: $gray-lightest
	   border-color: $gray-light

	   .form-control
	   border-color: $gray-light

	   .form-control:focus
	   border-color: $gray-dark
	*/

.fill-highlight
	theme-prop('background-color', 'highlight')
	theme-prop('color', 'highlight-fg')

.fill-notice
	theme-prop('background-color', 'notice')
	theme-prop('color', 'notice-fg')

.fill-white
	background-color: $white

.fill-lightest
	background-color: $gray-lightest

.fill-lighter
	background-color: $gray-lighter

.fill-light
	background-color: $gray-light

.fill-gray
	background-color: $gray

.fill-dark
	background-color: $gray-dark

.fill-darker
	background-color: $gray-darker

.fill-darkest
	background-color: $gray-darkest

.fill-black
	background-color: $black

.fill-green
	background-color: var(--theme-green)

.fill-dark-green
	background-color: var(--theme-dark-green)

.fill-pink
	background-color: var(--theme-pink)

.fill-blue
	background-color: var(--theme-blue)

.fill-black, .fill-darkest, .fill-darker, .fill-dark, .fill-gray, .fill-light
	color: $gray-lighter

	h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6
		color: $gray-lightest

	a
		color: var(--theme-green)

		&:hover
			color: var(--theme-blue)

	.link-muted, .link-help
		color: $text-muted

		&:hover, &:focus
			color: $white

	.link-unstyled
		color: inherit

	.control-label
		color: $gray-lighter

	.help-block
		color: $gray-light

.fill-light
	&, .control-label
		color: $gray-lightest

	.help-block
		color: $gray-lighter

.fill-lighter
	.help-block
		color: $gray

	.input-group-addon
		background-color: $gray-light
		color: $gray-lightest
		border-color: $gray-light

	.form-control
		border-color: $gray-light

	.form-control:focus
		border-color: $gray-dark

.fill-lightest
	blockquote, hr
		border-color: $gray-lighter

	code
		background-color: $gray-lighter
		color: $gray-dark

	pre code
		background-color: transparent
		color: inherit

.fill-lighter, .fill-lightest, .fill-white
	color: $gray-darkest

	a
		color: $link-color

		&:hover
			color: $link-hover-color

	.link-muted, .link-help
		color: $text-muted

		&:hover, &:focus
			color: $black

	.link-unstyled
		color: inherit

	.control-label
		color: $text-color

	.help-block
		color: $gray-light

.fill-pink
	&, a, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6
		color: $white

	a
		font-weight: bold

		&:hover
			text-decoration: underline

.fill-dark-green
	&, a, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6
		color: var(--theme-green)

	a
		font-weight: bold

		&:hover
			text-decoration: underline

.fill-green
	color: $gray-darkest

/* hr
   .fill-black &
   border-top-color: $gray-darker

   .fill-darkest &
   border-top-color: $gray-darker

   .fill-darker &
   border-top-color: $gray-dark

   .fill-dark &
   border-top-color: $gray

   .fill-gray &
   border-top-color: $gray-light

   .fill-light &
   border-top-color: $gray-lighter

   .fill-lighter &
   border-top-color: $gray-light

   .fill-lighest &
   border-top-color: $gray-lighter

   .fill-white &
   border-top-color: $gray-lightest */
