/**
 * This is a "module" loader for our GJ compontent styles.
 * Makes it easier to include components.
 */
load-module( module-name )
	@import '../../components/' + module-name + '/*.styl'

/**
 * Media Helper
 */
media( min = false, max = false )
	if min != false and max != false
		'screen and (min-width: ' + min + ') and (max-width: ' + max + ')'
	else if min != false
		'screen and (min-width: ' + min + ')'
	else if max != false
		'screen and (max-width: ' + max + ')'

/**
 * Calculating widescreen 16:9 height
 */
calc-hd-height( width )
	width / (16 / 9)
