// This allows us to exclude certain common components by
// setting these variables to true before including this file.
$gj-exclude-common-normalize ?= false
$gj-exclude-common-scaffolding ?= false
$gj-exclude-common-type ?= false
$gj-exclude-common-code ?= false
$gj-exclude-common-grid ?= false
$gj-exclude-common-forms ?= false
$gj-exclude-common-input-groups ?= false
$gj-exclude-common-tables ?= false
$gj-exclude-common-utilities ?= false
$gj-exclude-common-responsive-utilities ?= false
$gj-exclude-common-fills ?= false

// Our common functions.
@require './functions'

// Normalize
if ( !$gj-exclude-common-normalize )
	@require '~bootstrap-stylus/stylus/normalize'

// Bootstrap core
@require '~bootstrap-stylus/stylus/mixins'

if ( !$gj-exclude-common-scaffolding )
	@require '~bootstrap-stylus/stylus/scaffolding'

if ( !$gj-exclude-common-type )
	@require '~bootstrap-stylus/stylus/type'

if ( !$gj-exclude-common-code )
	@require '~bootstrap-stylus/stylus/code'

if ( !$gj-exclude-common-grid )
	@require '~bootstrap-stylus/stylus/grid'

if ( !$gj-exclude-common-forms )
	@require '~bootstrap-stylus/stylus/forms'

// Bootstrap components
if ( !$gj-exclude-common-input-groups )
	@require '~bootstrap-stylus/stylus/input-groups'

if ( !$gj-exclude-common-tables )
	@require '~bootstrap-stylus/stylus/tables'

// Bootstrap utilities
if ( !$gj-exclude-common-utilities )
	@require '~bootstrap-stylus/stylus/utilities'

if ( !$gj-exclude-common-responsive-utilities )
	@require '~bootstrap-stylus/stylus/responsive-utilities'

// ----------------------------------------

// Our common components.
@require './mixins'
@require '../animation'

if ( !$gj-exclude-common-scaffolding )
	@require './scaffolding'

if ( !$gj-exclude-common-type )
	@require './type'

if ( !$gj-exclude-common-utilities )
	@require './utilities'

if ( !$gj-exclude-common-grid )
	@require './grid'

if ( !$gj-exclude-common-fills )
	@require './fills'

if ( !$gj-exclude-common-forms )
	@require './forms'

if ( !$gj-exclude-common-tables )
	@require './tables'
