@require './bootstrap-mixins'

theme-prop($prop, $val, $important = false)
	$important = $important ? '!important' : ''
	{$prop}: lookup('$theme-' + $val) unquote($important)
	{$prop}: unquote('var(--theme-' + $val + ')') unquote($important)

rounded-corners()
	border-radius: $border-radius-base

// Sync with the Theme component.
theme-dark()
	--theme-highlight: var(--dark-theme-highlight)
	--theme-backlight: var(--dark-theme-backlight)
	--theme-notice: var(--dark-theme-notice)
	--theme-bi-bg: var(--dark-theme-bi-bg)
	--theme-bi-fg: var(--dark-theme-bi-fg)
	--theme-bg: var(--dark-theme-bg)
	--theme-bg-trans: var(--dark-theme-bg-trans)
	--theme-bg-offset-base: var(--dark-theme-bg-offset-base)
	--theme-bg-offset-trans-base: var(--dark-theme-bg-offset-trans-base)
	--theme-bg-offset: var(--dark-theme-bg-offset)
	--theme-bg-offset-trans: var(--dark-theme-bg-offset-trans)
	--theme-bg-subtle: var(--dark-theme-bg-subtle)
	--theme-fg: var(--dark-theme-fg)
	--theme-fg-muted: var(--dark-theme-fg-muted)
	--theme-link: var(--dark-theme-link)
	--theme-link-hover: var(--dark-theme-link-hover)

/**
 * Make a caret! Not for rabbits.
 */
caret(color, direction = 'left', size = 3px)
	position: absolute
	width: 0
	height: 0
	border-top: size solid transparent
	border-right: size solid transparent
	border-bottom: size solid transparent
	border-left: size solid transparent
	// Reset in case we stacked this mixin.
	top: auto
	left: auto
	right: auto
	bottom: auto
	margin-top: 0
	margin-left: 0

	if (direction == 'left' || (direction == 'right'))
		top: 50%
		margin-top: -(size)
	else if (direction == 'up' || (direction == 'down'))
		left: 50%
		margin-left: -(size)

	if (direction == 'left')
		left: -(size)
		border-right: size solid color
		border-left: none
	else if (direction == 'up')
		top: -(size)
		border-bottom: size solid color
		border-top: none
	else if (direction == 'right')
		right: -(size)
		border-left: size solid color
		border-right: none
	else if (direction == 'down')
		bottom: -(size)
		border-top: size solid color
		border-bottom: none

/**
 * Images
 */
img-circle()
	border-radius: 50%

overlay-img()
	content: ''
	display: block
	position: absolute
	top: 0 !important
	left: 0 !important
	width: 100%
	height: 100%

floating-img()
	border: 1px solid rgba(255, 255, 255, 0.1)
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.8)

/**
 * Links
 */
$selection-color ?= #b4d5fe

link-underlines(color, bg-color, bg-color-hover)
	// Local mixin
	_text-shadow-to-crop-underline(color)
		text-shadow: 0.03em 0 color, -0.03em 0 color, 0 0.03em color, 0 -0.03em color, 0.06em 0 color, -0.06em 0 color, 0.09em 0 color, -0.09em 0 color, 0.12em 0 color, -0.12em 0 color, 0.15em 0 color, -0.15em 0 color

	_text-shadow-to-crop-underline(bg-color)
	color: color
	text-decoration: none
	background-image: linear-gradient(bg-color, bg-color), linear-gradient(bg-color, bg-color), linear-gradient(color, color)
	background-size: 0.05em 1px, 0.05em 1px, 1px 1px
	background-repeat: no-repeat, no-repeat, repeat-x
	background-position: 0 90%, 100% 90%, 0 90%

	&::selection
		_text-shadow-to-crop-underline($selection-color)
		background: $selection-color

	&::-moz-selection
		_text-shadow-to-crop-underline($selection-color)
		background: $selection-color

	&:before, &:after, *, *:before, *:after
		text-shadow: none

	&:visited
		color: color

	&:hover
		background-image: linear-gradient(bg-color, bg-color), linear-gradient(bg-color, bg-color), linear-gradient(bg-color-hover, bg-color-hover)

/**
 * Clearfix
 */
clearfix()
	&:before, &:after
		content: ' '
		display: table

	&:after
		clear: both

/**
 * Bleeds
 */
full-bleed()
	margin-left: -($grid-gutter-width-xs / 2)
	margin-right: @margin-left
	border-radius: 0 !important

	@media $media-sm-up
		margin-left: -($grid-gutter-width / 2)
		margin-right: @margin-left
		border-radius: 0 !important

full-bleed-xs()
	@media $media-xs
		margin-left: -($grid-gutter-width-xs / 2)
		margin-right: @margin-left
		border-radius: 0 !important

full-bleed-sm()
	@media $media-sm
		margin-left: -($grid-gutter-width / 2)
		margin-right: @margin-left
		border-radius: 0 !important

/**
 * Scrollable
 */
scrollable()
	overflow-y: auto
	overflow-x: hidden
	-webkit-overflow-scrolling: touch
	will-change: scroll-position

scrollable-x()
	overflow-y: hidden
	overflow-x: auto
	-webkit-overflow-scrolling: touch
	will-change: scroll-position

/**
 * Lists
 */
link-unstyled()
	color: inherit

	&:hover, &:focus
		text-decoration: underline

/**
 * Placeholders
 */
lazy-placeholder-inline()
	rounded-corners()
	theme-prop('background-color', 'bg-offset')
	display: inline-block
	vertical-align: middle
	width: 100%
	height: $font-size-base

lazy-placeholder-block()
	rounded-corners()
	theme-prop('background-color', 'bg-offset')
	display: block
	height: $font-size-base

/**
 * Dot Separator
 */
dot-separator()
	theme-prop('background-color', 'lighter')
	display: inline-block
	margin: 0 10px
	height: 4px
	width: 4px
	border-radius: 100%
	line-height: 20px
	vertical-align: middle

/**
 * Pulls
 */
pull-right()
	float: right !important

pull-left()
	float: left !important

/**
 * Shadows
 */
raise()
	box-shadow: 0 1px 7px rgba(0, 0, 0, 0.05)

raise-2()
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1)

/**
 * Spacer
 */
spacer-xs()
	@media $media-xs
		full-bleed()
		theme-prop('background-color', 'bg-offset')
		theme-prop('border-top-color', 'bg-subtle')
		theme-prop('border-bottom-color', 'bg-subtle')
		display: block
		height: ($line-height-computed / 2)
		border-top-width: 1px
		border-top-style: solid
		border-bottom-width: 1px
		border-bottom-style: solid
		margin-bottom: $line-height-computed

spacer()
	display: block
	height: $line-height-computed
	spacer-xs()

/**
 * Input Placeholder Button
 */
input-placeholder-button()
	theme-prop('border-color', 'bg-subtle')
	theme-prop('color', 'fg-muted')
	theme-prop('background-color', 'bg')
	height: $input-height-base * 1.5
	line-height: $input-height-base * 1.5
	padding-left: $padding-base-horizontal
	padding-right: $padding-base-horizontal
	border-width: 1px
	border-style: solid
	border-radius: $input-border-radius
	font-style: italic
	cursor: pointer

	&:hover
		theme-prop('border-color', 'fg-muted')

@require '../mixins/animations'
@require '../mixins/play-button-overlay'
@require '../mixins/pressy'
