@require 'fonts.styl'

[ng\\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak
	display: none !important

// https://github.com/ftlabs/fastclick#when-it-isnt-needed
// http://msdn.microsoft.com/en-us/library/ie/hh772044(v=vs.85).aspx
a, input, button
	touch-action: manipulation

a
	// Force pointer.
	// With angular a lot of times we don't have hrefs.
	cursor: pointer

	&:hover, &:focus
		text-decoration: none

	// TODO(themes)
	user-prop('color', 'offlight')

	&:hover
		color: $black

	.theme-dark &
		user-prop('color', 'highlight')

		&:hover
			color: $white

.link-muted
	color: $text-muted

.link-unstyled
	link-unstyled()

.link-help
	color: $text-muted
	border-bottom: 1px dotted $gray

	&:hover, &:focus
		border-bottom: 0
		text-decoration: underline

.link-block
	display: block

.position-root
	position: relative

hr
	content-prop('border-top-color', 'offset')

/**
 * Scrollable
 */
.scrollable
	scrollable()

.scrollable-x
	scrollable-x()

/**
 * Full Bleeds
 */
.full-bleed
	full-bleed()

.full-bleed-xs
	full-bleed-xs()

.full-bleed-sm
	full-bleed-sm()

/**
 * Sans margin
 */
.sans-margin.sans-margin
	margin-top: 0
	margin-bottom: 0

.sans-margin-bottom.sans-margin-bottom
	margin-bottom: 0

.sans-margin-top.sans-margin-top
	margin-top: 0
