
:root
	--theme-highlight: $theme-highlight
	--theme-downlight: $theme-downlight
	--theme-notice: $theme-notice
	--theme-highlight-fg: $theme-highlight-fg
	--theme-notice-fg: $theme-notice-fg
	--theme-bg: $theme-bg
	--theme-bg-offset: $theme-bg-offset
	--theme-bg-subtle: $theme-bg-subtle
	--theme-fg: $theme-fg
	--theme-fg-muted: $theme-fg-muted
	--theme-link: $theme-link
	--theme-link-hover: $theme-link-hover
	--theme-bg-trans: $theme-bg-trans
	// TODO(themes): remove these
	--theme-green: var(--theme-highlight)
	--theme-dark-green: var(--theme-downlight)
	--theme-blue: var(--theme-highlight)
	--theme-pink: var(--theme-notice)

/**
 * Dark Mode
 */
.theme-dark, .fill-gray, .fill-dark, .fill-darker, .fill-darkest, .fill-black
	--theme-bg: $dark-theme-bg
	--theme-bg-offset: $dark-theme-bg-offset
	--theme-bg-subtle: $dark-theme-bg-subtle
	--theme-fg: $dark-theme-fg
	--theme-fg-muted: $dark-theme-fg-muted
	--theme-link: $dark-theme-link
	--theme-link-hover: $dark-theme-link-hover
	--theme-bg-trans: $dark-theme-bg-trans
