.hidden
	display: none !important
	visibility: hidden !important

.pixel
	display: block
	width: 0
	height: 0
	line-height: 0

.dot-separator
	display: inline-block
	margin: 0 10px
	height: 4px
	width: 4px
	border-radius: 100%
	line-height: 20px
	vertical-align: middle
	background-color: $gray-lighter

// Mobile screens are so small that it doesn't make sense to have a fixed table styling on them.
// Let's by default only apply this to sm and up.
@media $media-sm-up
	.table-fixed
		table-layout: fixed
