.hidden
	display: none !important
	visibility: hidden !important

.pixel
	display: block
	width: 0
	height: 0
	line-height: 0

.dot-separator
	dot-separator()

hr.underbar
	content-prop('border-top-color', 'fg-muted')
	margin-top: 0
	border-top-width: 3px
	border-top-style: solid
	width: 50px
	margin-left: 0
	margin-right: 0
	display: none
	text-align: left

	@media $media-sm-up
		display: block

	&.underbar-center
		margin-left: auto
		margin-right: auto

	/* .fill-black &
	   border-top-color: $white
	   
	   .fill-darkest &, .fill-darker &, .fill-dark &
	   border-top-color: $gray-light
	   
	   .fill-pink &
	   border-top-color: $black */

// Mobile screens are so small that it doesn't make sense to have a fixed table styling on them.
// Let's by default only apply this to sm and up.
@media $media-sm-up
	.table-fixed
		table-layout: fixed
