// Enable overriding of where certain folders live.
$gj-bower-lib-folder ?= '../../../../bower-lib'
$gj-app-styles-folder ?= '../../../../app'

@import $gj-bower-lib-folder + '/bootstrap-stylus/stylus/variables'
@import './_variables'
@import '../animation/easing'
