.lazy-placeholder
	background-color: $gray-lightest

	span&
		width: 100%
		display: inline-block
		height: $font-size-base
		vertical-align: middle

	&-h1
		height: $font-size-h1 !important

	&-h2
		height: $font-size-h2 !important

	&-h3
		height: $font-size-h3 !important

	&-h4
		height: $font-size-h4 !important

// For immediate transition between visibility of elements.
.lazy-placeholder-resolving > ng-transclude > :not(.lazy-placeholder)
	display: none

.lazy-placeholder-resolved > ng-transclude > .lazy-placeholder
	display: none
