@require '~styles/variables'
@require '~styles-lib/mixins'

$toggle-padding = 3px
$toggle-width = $input-height-base * 2 // + $toggle-padding * 2

.toggle
	theme-prop('background-color', 'bg-subtle')
	display: block
	overflow: hidden
	width: $toggle-width
	height: $input-height-base
	line-height: $input-height-base
	border-radius: $input-height-base
	vertical-align: top
	transition: all ease-in-out 300ms
	text-align: left
	cursor: pointer
	user-select: none
	outline: none

	// This does a sort of outline style.
	&:focus
		box-shadow: 0 0 0 2px $white, 0 0 0 4px rgba($input-border-focus, 0.5)

	&[disabled], &.-disabled
		opacity: 0.5
		cursor: not-allowed !important
		box-shadow: none

	.form-horizontal &
		margin-top: ($padding-base-vertical + 1px)

.-checked
	theme-prop('background-color', 'link')

.-knob
	background-color: $white
	display: block
	margin: $toggle-padding
	width: ($input-height-base - $toggle-padding * 2)
	height: @width
	border-radius: @width
	transition: transform $strong-ease-out 300ms

	.-checked &
		transform: translateX($input-height-base)
