<section class="section" id="styleguide-link">
	<h1 class="section-header">Links</h1>

	<p>Because vue-router doesn't encode special characters in URL params, we need to do it
	ourself through <code>app-router-link</code>. The API is the same as <code>router-link</code>
	but we sanitize the params input.</p>

	<h3>Default <code>router-link</code></h3>

	<router-link
		:to="{
			name: 'library.collection.tag',
			params: {
				id: '昨夜のコンサートは最高でした',
			},
			query: {
				test: '昨夜のコンサートは最高でした',
			},
		}"
		target="_blank"
		>
		昨夜のコンサートは最高でした
	</router-link>

	<h3>Our <code>app-router-link</code></h3>

	<app-router-link
		:to="{
			name: 'library.collection.tag',
			params: {
				id: '昨夜のコンサートは最高でした',
			},
			query: {
				test: '昨夜のコンサートは最高でした',
			},
		}"
		target="_blank"
		>
		昨夜のコンサートは最高でした
	</app-router-link>
</section>
