.datepicker-dropdown
	position: relative

.datepicker-dropdown-menu
	position: absolute
	top: 100%
	left: 0
	z-index: 1000
	display: none // none by default, but block on "open" of the menu
	float: left
	min-width: 160px
	padding: 1px
	margin: 10px 0 0
	list-style: none
	font-size: $font-size-base
	background-color: $white
	border: 1px solid $gray-lighter
	box-shadow: 0 6px 12px rgba( 0, 0, 0, .175 )
	background-clip: padding-box

	&:before
		content: ''
		caret( color: $gray-lightest, direction: 'up', size: 13px )
		top: @top + 2px  // 2px less. Make it attach to the button below it

	.datepicker-popup-button-bar
		padding: 5px
		padding-top: 20px