@require '~styles/variables'

datepicker-button-variant( color, background, hover-background )
	color: color
	background-color: background

	&:hover
	&:focus
	&:active
	&.active
	.open .dropdown-toggle&
		color: color
		background-color: hover-background

	&:active
	&.active
	.open .dropdown-toggle&
		background-image: none

	// &.disabled
	// &[disabled]
	// fieldset[disabled] &
	// 	&
	// 	&:hover
	// 	&:focus
	// 	&:active
	// 	&.active
	// 		background-color: background

	.badge
		color: background
		background-color: color

/**
 * The datepicker buttons.
 */
.datepicker-btn
	display: inline-block
	margin: 0
	text-align: center
	vertical-align: middle
	cursor: pointer
	background-image: none // Reset unusual Firefox-on-Android default style see https://github.com/necolas/normalize.css/issues/214
	border: 0
	white-space: nowrap
	user-select: none

	padding: 6px 12px
	font-size: $font-size-base
	line-height: $line-height-base

	// Less padding so it fits in the width for small displays.
	@media $media-xs
		padding-left: 10px
		padding-right: 10px

	&:hover
	&:focus
	&:active
		text-decoration: none
		outline: none

	&.disabled
	&[disabled]
	fieldset[disabled] &
		cursor: not-allowed
		pointer-events: none // Future-proof disabling of clicks
		opacity: 0.4
		box-shadow: none

	.jolticon
		cursor: pointer

	.text-info
		color: $gj-dark-green
		font-weight: bold

	/**
	 * Button variants
	 */
	&.datepicker-btn-default
		datepicker-button-variant( $gray-dark, $gray-lightest, $gray-lighter )

	&.datepicker-btn-info
		datepicker-button-variant( $gj-green, $gj-dark-green, $gj-dark-green )

		.text-info
			color: $gj-green

	/**
	 * Block buttons.
	 */
	&.datepicker-btn-block
		display: block
		width: 100%
		padding-left: 0
		padding-right: 0

	.datepicker-btn-block + .datepicker-btn-block
		margin-top: 5px

	input[type="submit"]
	input[type="reset"]
	input[type="button"]
		&.datepicker-btn-block
			width: 100%
