<table class="datepicker-table">
	<thead>
		<tr>
			<th>
				<button
					type="button"
					class="datepicker-btn datepicker-btn-default pull-left"
					@click="move(-1)"
					style="width: 100%"
					>
					<app-jolticon icon="chevron-left" />
				</button>
			</th>
			<th :colspan="5 + parent.showWeeks">
				<button
					type="button"
					class="datepicker-btn datepicker-btn-default"
					@click="parent.toggleMode()"
					style="width:100%;"
					>
					<strong>{{title}}</strong>
				</button>
			</th>
			<th>
				<button
					type="button"
					class="datepicker-btn datepicker-btn-default pull-right"
					@click="move(1)"
					style="width: 100%"
					>
					<app-jolticon icon="chevron-right" />
				</button>
			</th>
		</tr>
		<tr>
			<th v-show="parent.showWeeks" class="text-center"></th>
			<th v-for="label of labels" class="text-center">
				<small>{{label.abbr}}</small>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr v-for="(row, i) of rows" :key="i">
			<td v-show="parent.showWeeks" class="text-center">
				<em>{{ weekNumbers[i] }}</em>
			</td>
			<td v-for="(dt, n) of row" :key="n" class="text-center">
				<a
					style="width: 100%;"
					class="datepicker-btn datepicker-btn-default"
					:class="{
						'datepicker-btn-info': dt.selected,
						'active': parent.isActive(dt),
					}"
					@click="parent.select(dt.date)"
					:disabled="!!dt.disabled"
					>
					<span
						:class="{
							'text-muted': !!dt.secondary,
							'text-info': !!dt.current,
						}"
						>
						{{dt.label}}
					</span>
				</a>
			</td>
		</tr>
	</tbody>
</table>
