<table
	role="grid"
	class="datepicker-table"
	:aria-labelledby="`${parent.uniqueId}-title`"
	:aria-activedescendant="parent.activeDateId"
	>
	<thead>
		<tr>
			<th>
				<button
					type="button"
					class="datepicker-btn datepicker-btn-default pull-left"
					@click="move(-1)"
					tabindex="-1"
					style="width: 100%"
					>
					<app-jolticon icon="chevron-left" />
				</button>
			</th>
			<th :colspan="5 + parent.showWeeks">
				<button
					:id="`${parent.uniqueId}-title`"
					role="heading"
					aria-live="assertive"
					aria-atomic="true"
					type="button"
					class="datepicker-btn datepicker-btn-default"
					@click="parent.toggleMode()"
					tabindex="-1"
					style="width:100%;"
					>
					<strong>{{title}}</strong>
				</button>
			</th>
			<th>
				<button
					type="button"
					class="datepicker-btn datepicker-btn-default pull-right"
					@click="move(1)"
					tabindex="-1"
					style="width: 100%"
					>
					<app-jolticon icon="chevron-right" />
				</button>
			</th>
		</tr>
		<tr>
			<th v-show="parent.showWeeks" class="text-center"></th>
			<th v-for="label in labels" class="text-center">
				<small :aria-label="`${label.full}`">{{label.abbr}}</small>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr	v-for="(row, index) in rows">
			<td v-show="parent.showWeeks" class="text-center"><em>{{ weekNumbers[index] }}</em></td>
			<td
				v-for="dt in row"
				:key="dt.date.getTime()"
				class="text-center"
				role="gridcell"
				:id="dt.uid"
				:aria-disabled="!!dt.disabled"
				>
				<a
					style="width:100%;"
					:class="[
						'datepicker-btn',
						'datepicker-btn-default',
						dt.selected ? 'datepicker-btn-info' : '',
						parent.isActive(dt) ? 'active' : '',
					]"
					@click="parent.select(dt.date)"
					:disabled="!!dt.disabled"
					tabindex="-1"
					>
					<span
						:class="{
							'text-muted': !!dt.secondary,
							'text-info': !!dt.current,
						}"
						>
						{{dt.label}}
					</span>
				</a>
			</td>
		</tr>
	</tbody>
</table>
