<div class="datepicker-dropdown">
	<div
		class="datepicker-dropdown-menu"
		:style="{ display: isOpen ? 'block' : 'none' }"
		@keydown="keydown( $event )"
		>
		<slot></slot>
		<div v-if="showButtonBar" class="datepicker-popup-button-bar">
			<!-- TODO change a elements to button? -->
			<a class="btn" @click="select('today')">
				<app-jolticon icon="check" /> {{ getText('current') }}
			</a>
			<a class="btn pull-right" @click="close()">
				<app-jolticon icon="remove" /> {{ getText('close') }}
			</a>
		</div>
	</div>
</div>
