<div class="datepicker-dropdown">
	<div class="datepicker-dropdown-menu" ng-style="{display: (isOpen && 'block') || 'none'}" ng-keydown="keydown($event)">
		<div ng-transclude></div>
		<div ng-if="showButtonBar" class="datepicker-popup-button-bar">
			<a class="btn" ng-click="select('today')"><span class="jolticon jolticon-check"></span>{{ getText('current') }}</a>
			<a class="btn pull-right" ng-click="close()"><span class="jolticon jolticon-remove"></span> {{ getText('close') }}</a>
		</div>
	</div>
</div>
