@require '~styles/variables'
@require '../../../../stylus/common/mixins'

.user-avatar-img
	display: block
	position: relative

	img
		img-responsive()
		border-radius: $border-radius-base

		.avatar-circle &
			img-circle()
