<div>
	<v-touch
		class="media-bar-lightbox"
		@panstart="panStart"
		@pan="pan"
		@panend="panEnd"
		>

		<span v-shortkey="[ 'arrowleft' ]" @shortkey="goPrev"></span>
		<span v-shortkey="[ 'arrowright' ]" @shortkey="goNext"></span>

		<div class="media-bar-lightbox-inner">

			<a class="media-bar-lightbox-prev"
				v-if="mediaBar.activeIndex > 0"
				@click="goPrev"
				>
				<app-jolticon icon="chevron-left" />
			</a>

			<a class="media-bar-lightbox-next"
				v-if="mediaBar.activeIndex < mediaBar.mediaItems.length - 1"
				@click="goNext"
				>
				<app-jolticon icon="chevron-right" />
			</a>

			<div class="media-bar-lightbox-controls">
				<a class="btn btn-outline btn-overlay-variant"
					v-if="mediaBar.activeItem.media_type === 'image'"
					:href="mediaBar.activeItem.media_item.img_url"
					target="_blank"
					>
					<app-jolticon icon="download" />
					<span>Download</span>
				</a>
				<a class="btn btn-danger-outline btn-overlay-variant"
					v-shortkey="[ 'esc' ]"
					@click="close"
					@shortkey="close"
					>
					<app-jolticon icon="remove" />
					<span>Close</span>
				</a>
			</div>

			<app-media-bar-lightbox-slider>

				<app-media-bar-lightbox-item
					v-for="( item, index ) of mediaBar.mediaItems"
					:key="item.id"
					:item="item"
					:item-index="index"
					:active-index="mediaBar.activeIndex"
					>
				</app-media-bar-lightbox-item>

			</app-media-bar-lightbox-slider>

		</div>
	</v-touch>
</div>
