<div class="media-bar-lightbox"
	hm-panstart="$ctrl.panStart( $event )"
	hm-pan="$ctrl.pan( $event )"
	hm-panend="$ctrl.panEnd( $event )"
	hm-recognizer-options='{ invokeApply: false }'
	>

	<a class="media-bar-lightbox-prev" ng-click="$ctrl.goPrev()" ng-if="$ctrl.mediaBar.activeIndex > 0">
		<span class="jolticon jolticon-chevron-left"></span>
	</a>

	<a class="media-bar-lightbox-next" ng-click="$ctrl.goNext()" ng-if="$ctrl.mediaBar.activeIndex < $ctrl.mediaBar.mediaItems.length - 1">
		<span class="jolticon jolticon-chevron-right"></span>
	</a>

	<div class="media-bar-lightbox-controls">
		<a class="btn btn-outline btn-overlay-variant" ng-href="{{ $ctrl.mediaBar.activeItem.media_item.img_url }}"
			ng-if="$ctrl.mediaBar.activeItem.media_type == 'image'"
			target="_blank"
			>
			<span class="jolticon jolticon-download"></span>
			<span translate>games.view.media.download</span>
		</a>
		<a class="btn btn-danger-outline btn-overlay-variant" ng-click="$ctrl.close()">
			<span class="jolticon jolticon-remove"></span>
			<span translate>games.view.media.close</span>
		</a>
	</div>

	<div class="media-bar-lightbox-slider">

		<gj-media-bar-lightbox-item
			ng-repeat="item in $ctrl.mediaBar.mediaItems track by item.id"
			item="::item"
			item-index="::$index"
			active-index="$ctrl.mediaBar.activeIndex"
			media-bar="$ctrl.mediaBar"
			>
		</gj-media-bar-lightbox-item>

	</div>

</div>
