@require '~styles/variables'

$-controls-height = 80px
$-button-size = 90px

// Kill scroll on body.
>>> .media-bar-lightbox-open
	overflow: hidden

.media-bar-lightbox
	&.dragging
		cursor: grabbing

.-inner
	display: flex
	flex-flow: column nowrap
	position: fixed
	top: 0
	right: 0
	bottom: 0
	left: 0
	z-index: $zindex-media-bar-lightbox
	background-color: rgba(0, 0, 0, 0.85)
	user-select: none

.-controls
	flex: 0 0 auto
	height: $-controls-height
	line-height: $-controls-height
	text-align: right

.-next, .-prev
	position: absolute
	top: 50%
	width: $-button-size
	height: $-button-size
	line-height: $-button-size
	margin-top: -(@height / 2)
	z-index: 1
	background-color: rgba($black, 0.5)
	border-radius: $border-radius-base
	text-align: center

	> .jolticon
		vertical-align: middle
		font-size: 16px * 3
		color: $white

	&:hover
		background-color: $white

		> .jolticon
			color: $black

.-next
	right: 0
	border-top-right-radius: 0
	border-bottom-right-radius: 0

.-prev
	left: 0
	border-top-left-radius: 0
	border-bottom-left-radius: 0

// http://stackoverflow.com/questions/10269290/how-to-arrange-many-div-elements-side-by-side-with-no-wrap
.-slider
	flex: 1 1 auto
	padding-bottom: $-controls-height
	white-space: nowrap
	// Ease out so that with fast flicks it doesn't look like it slows down after letting go.
	transition: transform 300ms $weak-ease-out

	// We need manual control of styling when dragging.
	.dragging &
		transition: none
