<section class="section" id="styleguide-button">
	<h1 class="section-header">Buttons</h1>

	<h3>Regular</h3>

	<div>
		<span v-for="btnClass of [ '', 'btn-success', 'btn-primary', 'btn-danger' ]">
			<a class="btn" :class="btnClass">
				<app-jolticon icon="chevron-right" />
				Save Game
			</a>
			&nbsp;
		</span>
	</div>

	<h3>Outline</h3>

	<div>
		<span v-for="btnClass of [ 'btn-outline', 'btn-success-outline', 'btn-primary-outline', 'btn-danger-outline' ]">
			<a class="btn" :class="btnClass">
				<app-jolticon icon="chevron-right" />
				Save Game
			</a>
			&nbsp;
		</span>
	</div>

	<h3>Without Icons</h3>

	<div>
		<span v-for="btnClass of [ '', 'btn-success', 'btn-primary', 'btn-danger' ]">
			<a class="btn" :class="btnClass">
				Save Game
			</a>
			&nbsp;
		</span>
	</div>
	<br>

	<div>
		<span v-for="btnClass of [ 'btn-outline', 'btn-success-outline', 'btn-primary-outline', 'btn-danger-outline' ]">
			<a class="btn" :class="btnClass">
				Save Game
			</a>
			&nbsp;
		</span>
	</div>

	<h3>Button Classes</h3>
	<p>You can use these on various tags that you may want to style as buttons.</p>

	<div>
		<a class="btn btn-outline">
			<app-jolticon icon="chevron-right" />
			A Tag
		</a>
		<button class="btn btn-success-outline">
			<app-jolticon icon="chevron-right" />
			Button Tag
		</button>
		<input type="submit" class="btn btn-primary-outline" value="Input Tag as Submit">
		<input type="button" class="btn btn-danger-outline" value="Input Tag as Button">
	</div>

	<h3>Dark Variant</h3>
	<p>You can also force the dark variant for use on dark backgrounds. This only affects outline buttons.</p>

	<div>
		<span v-for="btnClass of [ 'btn-outline', 'btn-success-outline', 'btn-primary-outline', 'btn-danger-outline' ]">
			<a class="btn btn-dark-variant" :class="btnClass">
				<app-jolticon icon="chevron-right" />
				Save Game
			</a>
			&nbsp;
		</span>
	</div>

	<h3>Overlay Variant</h3>
	<p>Similar to dark variant, but shades in the background color a bit. Useful for overlaying images.</p>

	<div>
		<span v-for="btnClass of [ 'btn-outline', 'btn-success-outline', 'btn-primary-outline', 'btn-danger-outline' ]">
			<a class="btn btn-overlay-variant" :class="btnClass">
				<app-jolticon icon="chevron-right" />
				Save Game
			</a>
			&nbsp;
		</span>
	</div>

	<h3>In Fills</h3>
	<p>Darker fills will automatically get the dark variant styling.</p>

	<div class="well fill-dark">

		<span v-for="btnClass of [ 'btn-outline', 'btn-success-outline', 'btn-primary-outline', 'btn-danger-outline' ]">
			<a class="btn" :class="btnClass">
				<app-jolticon icon="chevron-right" />
				Save Game
			</a>
			&nbsp;
		</span>
	</div>

	<p>Lighter fills will keep the default styling.</p>

	<div class="well fill-lighter">
		<span v-for="btnClass of [ 'btn-outline', 'btn-success-outline', 'btn-primary-outline', 'btn-danger-outline' ]">
			<a class="btn" :class="btnClass">
				<app-jolticon icon="chevron-right" />
				Save Game
			</a>
			&nbsp;
		</span>
	</div>

	<div class="well fill-lighter">
		<span v-for="btnClass of [ '', 'btn-success', 'btn-primary', 'btn-danger' ]">
			<a class="btn" :class="btnClass">
				<app-jolticon icon="chevron-right" />
				Save Game
			</a>
			&nbsp;
		</span>
	</div>

	<h3>Active State</h3>

	<div>
		<span v-for="btnClass of [ '', 'btn-success', 'btn-primary', 'btn-danger' ]">
			<a class="btn active" :class="btnClass">
				<app-jolticon icon="chevron-right" />
				Save Game
			</a>
			&nbsp;
		</span>
	</div>
	<br>

	<p>Active states for outline buttons look the same as normal buttons.</p>

	<div>
		<span v-for="btnClass of [ 'btn-outline', 'btn-success-outline', 'btn-primary-outline', 'btn-danger-outline' ]">
			<a class="btn active" :class="btnClass">
				<app-jolticon icon="chevron-right" />
				Save Game
			</a>
			&nbsp;
		</span>
	</div>
	<br>

	<p>In daker fills they will look different, though...</p>

	<div class="well fill-dark">
		<span v-for="btnClass of [ 'btn-outline', 'btn-success-outline', 'btn-primary-outline', 'btn-danger-outline' ]">
			<a class="btn active" :class="btnClass">
				<app-jolticon icon="chevron-right" />
				Save Game
			</a>
			&nbsp;
		</span>
	</div>

	<h3>Sparse</h3>
	<p>Can be used for icon-only buttons.</p>

	<div>
		<span v-for="btnClass of [ '', 'btn-success', 'btn-primary', 'btn-danger' ]">
			<a class="btn btn-sparse" :class="btnClass">
				<app-jolticon icon="ellipsis-h" />
			</a>
			&nbsp;
		</span>
	</div>
	<br>

	<div>
		<span v-for="btnClass of [ 'btn-outline', 'btn-success-outline', 'btn-primary-outline', 'btn-danger-outline' ]">
			<a class="btn btn-sparse" :class="btnClass">
				<app-jolticon icon="ellipsis-h" />
			</a>
			&nbsp;
		</span>
	</div>

	<h3>Inner Styling</h3>

	<div>
		<span v-for="btnClass of [ '', 'btn-success', 'btn-primary', 'btn-danger' ]">
			<a class="btn" :class="btnClass">
				<app-jolticon icon="download" />
				Download
				<small>12MB</small>
				<app-jolticon icon="linux jolticon-addon" />
			</a>
			&nbsp;
		</span>
	</div>
	<br>

	<div>
		<span v-for="btnClass of [ 'btn-outline', 'btn-success-outline', 'btn-primary-outline', 'btn-danger-outline' ]">
			<a class="btn" :class="btnClass">
				<app-jolticon icon="download" />
				Download
				<small>12MB</small>
				<app-jolticon icon="linux jolticon-addon" />
			</a>
			&nbsp;
		</span>
	</div>
	<br>

	<div class="well fill-dark">
		<span v-for="btnClass of [ 'btn-outline', 'btn-success-outline', 'btn-primary-outline', 'btn-danger-outline' ]">
			<a class="btn" :class="btnClass">
				<app-jolticon icon="download" />
				Download
				<small>12MB</small>
				<app-jolticon icon="linux jolticon-addon" />
			</a>
			&nbsp;
		</span>
	</div>

	<h3>Button Badges</h3>

	<div>
		<span v-for="btnClass of [ '', 'btn-success', 'btn-primary', 'btn-danger' ]">
			<a class="btn" :class="btnClass">
				<span class="btn-badge">4</span>
				<app-jolticon icon="subscribe" />
				Follow
			</a>
			&nbsp;
		</span>

		<a class="btn btn-success btn-sparse">
			<span class="btn-badge">4</span>
			<app-jolticon icon="subscribe" />
		</a>
	</div>
	<br>

	<div>
		<span v-for="btnClass of [ 'btn-outline', 'btn-success-outline', 'btn-primary-outline', 'btn-danger-outline' ]">
			<a class="btn" :class="btnClass">
				<span class="btn-badge">4</span>
				<app-jolticon icon="subscribe" />
				Follow
			</a>
			&nbsp;
		</span>

		<a class="btn btn-success-outline btn-sparse">
			<span class="btn-badge">4</span>
			<app-jolticon icon="subscribe" />
		</a>
	</div>
	<br>

	<div class="well fill-dark">
		<span v-for="btnClass of [ 'btn-outline', 'btn-success-outline', 'btn-primary-outline', 'btn-danger-outline' ]">
			<a class="btn" :class="btnClass">
				<span class="btn-badge">4</span>
				<app-jolticon icon="subscribe" />
				Follow
			</a>
			&nbsp;
		</span>
	</div>

	<div>
		<span v-for="btnClass of [ 'btn-outline', 'btn-success-outline', 'btn-primary-outline', 'btn-danger-outline' ]">
			<a class="btn btn-overlay-variant" :class="btnClass">
				<span class="btn-badge">4</span>
				<app-jolticon icon="subscribe" />
				Follow
			</a>
			&nbsp;
		</span>
	</div>
	<br>

	<div>
		<a class="btn btn-sm">
			<app-jolticon icon="chevron-right" />
			<span class="btn-badge">4</span>
			.btn-sm
		</a>
		<a class="btn btn-sm btn-success btn-sparse">
			<span class="btn-badge">4</span>
			<app-jolticon icon="subscribe" />
		</a>
		<a class="btn btn-sm btn-outline">
			<app-jolticon icon="chevron-right" />
			<span class="btn-badge">4</span>
			.btn-sm
		</a>
		<a class="btn btn-sm btn-success-outline btn-sparse">
			<span class="btn-badge">4</span>
			<app-jolticon icon="subscribe" />
		</a>
	</div>
	<br>

	<div>
		<a class="btn btn-lg">
			<app-jolticon icon="chevron-right" />
			<span class="btn-badge">4</span>
			.btn-lg
		</a>
		<a class="btn btn-lg btn-success btn-sparse">
			<span class="btn-badge">4</span>
			<app-jolticon icon="subscribe" />
		</a>
		<a class="btn btn-lg btn-outline">
			<app-jolticon icon="chevron-right" />
			<span class="btn-badge">4</span>
			.btn-lg
		</a>
		<a class="btn btn-lg btn-success-outline btn-sparse">
			<span class="btn-badge">4</span>
			<app-jolticon icon="subscribe" />
		</a>
	</div>

	<h3>Block Buttons</h3>

	<div>
		<a class="btn btn-block">
			<app-jolticon icon="chevron-right" />
			Block Button
		</a>
		<a class="btn btn-block btn-outline">
			<app-jolticon icon="chevron-right" />
			Block Outline Button
		</a>
	</div>

	<h3>Button Sizing</h3>

	<div>
		<a class="btn btn-sm btn-block">
			<app-jolticon icon="chevron-right" />
			.btn-sm
		</a>
		<br>
		<a class="btn btn-sm">
			<app-jolticon icon="chevron-right" />
			.btn-sm
		</a>
		<a class="btn btn-sm btn-sparse">
			<app-jolticon icon="chevron-right" />
		</a>
		<a class="btn btn-sm btn-outline">
			<app-jolticon icon="chevron-right" />
			.btn-sm
		</a>
		<a class="btn btn-sm btn-outline btn-sparse">
			<app-jolticon icon="chevron-right" />
		</a>
	</div>
	<br>

	<div>
		<a class="btn btn-lg btn-block">
			<app-jolticon icon="chevron-right" />
			.btn-lg
		</a>
		<br>
		<a class="btn btn-lg">
			<app-jolticon icon="chevron-right" />
			.btn-lg
		</a>
		<a class="btn btn-lg btn-sparse">
			<app-jolticon icon="chevron-right" />
		</a>
		<a class="btn btn-lg btn-outline">
			<app-jolticon icon="chevron-right" />
			.btn-lg
		</a>
		<a class="btn btn-lg btn-outline btn-sparse">
			<app-jolticon icon="chevron-right" />
		</a>
	</div>

	<h3>Disabled State</h3>

	<div>
		<span v-for="btnClass of [ '', 'btn-success', 'btn-primary', 'btn-danger' ]">
			<a class="btn disabled" :class="btnClass">
				<app-jolticon icon="chevron-right" />
				Save Game
			</a>
			&nbsp;
		</span>
	</div>
	<br>

	<div>
		<span v-for="btnClass of [ 'btn-outline', 'btn-success-outline', 'btn-primary-outline', 'btn-danger-outline' ]">
			<a class="btn disabled" :class="btnClass">
				<app-jolticon icon="chevron-right" />
				Save Game
			</a>
			&nbsp;
		</span>
	</div>

</section>
