@require '~styles/variables'
@require '../../stylus/mixins/button'

/**
 * We have to set !important for any main text-color in buttons.
 * This is because certain .fill classes override link colors and it screws things up.
 */
.btn
	display: inline-block
	text-transform: uppercase
	font-family: $font-family-heading
	font-size: $font-size-small
	font-weight: bold
	line-height: $button-line-height
	padding: 0 $button-padding-horizontal
	vertical-align: middle
	cursor: pointer
	border: 0
	outline: 0
	white-space: nowrap
	text-decoration: none !important
	user-select: none

	&:hover
		text-decoration: none
		cursor: pointer

	// Does a "press down" animation.
	// Was screwing up visually in package cards in client...
	// &:active
	// 	transform: translateY( 2px )

	.jolticon
		cursor: pointer
		vertical-align: middle
		margin: 0 $button-icon-spacing-right 0 0

	.jolticon-addon
		margin-left: 5px

	small
		font-weight: normal
		font-size: $font-size-tiny
		vertical-align: middle

	&-badge
		float: right
		display: inline-block
		padding: 0 ($button-padding-horizontal / 2)
		margin-left: ($button-padding-horizontal / 2) * 1.5
		margin-right: -($button-padding-horizontal)
		background-color: $black
		color: $gj-green
		font-size: $font-size-small

/**
 * Disabled State
 */
.btn
	&.disabled
	&[disabled]
	fieldset[disabled] &
		cursor: not-allowed
		opacity: 0.5

		// Make sure pressing it doesn't do the press animation.
		&:active
			transform: none

		.jolticon
			cursor: not-allowed

/**
 * Block buttons
 */
.btn-block
	display: block
	width: 100%
	text-align: center

// Put a bit of spacing between two block buttons.
.btn-block + .btn-block
	margin-top: 5px

@media $media-xs
	.btn-block-xs
		display: block
		width: 100%
		text-align: center

	.btn-block-xs + .btn-block-xs
	.btn-block-xs + .btn-block
	.btn-block + .btn-block-xs
		margin-top: 5px

/**
 * Outline buttons
 */
.btn-outline
.btn-success-outline
.btn-primary-outline
.btn-danger-outline
	border-width: $button-outline-border-size
	border-style: solid
	line-height: ($button-line-height - (@border-width * 2))
	padding-left: $button-padding-horizontal - @border-width
	padding-right: @padding-left

	.btn-badge
		margin-right: -($button-padding-horizontal - $button-outline-border-size)

/**
* Default
*/
.btn
	button-variant( background: $black, color: $white, icon-color: $gj-green, outline-color: $black, active-background: $black, active-color: $gj-green, addon-color: $gray-lighter, outline-addon-color: $gray-light )

.btn-success
	button-variant( background: $gj-dark-green, color: $white, icon-color: $gj-green, outline-color: $gj-dark-green, active-background: $gj-dark-green, active-color: $gj-green, addon-color: $gray-lighter, outline-addon-color: $gray-light )

.btn-primary
	button-variant( background: $gj-blue, color: $black, icon-color: $black, outline-color: $gj-blue, active-background: $gj-blue, active-color: $white, addon-color: $white, outline-addon-color: $gray-light )

.btn-danger
	button-variant( background: $gj-pink, color: $black, icon-color: $black, outline-color: $gj-pink, active-background: $gj-pink, active-color: $white, addon-color: $white, outline-addon-color: $gray-light )

/**
 * Dark variant
 */
 .btn-dark-variant
	&.btn-outline
	&.btn-success-outline
	&.btn-primary-outline
	&.btn-danger-outline
		border-color: $gray-light
		color: $gray-lighter !important

		.jolticon
			color: $gj-green

		// We don't fill them when they're on dark background.
		// We simply highlight the current outlined version.
		&:hover
		&.active
			background-color: transparent
			border-color: $white
			color: $white !important

	&.btn-success-outline
		border-color: $gj-green
		color: $gj-green !important

	&.btn-primary-outline
		border-color: $gj-blue
		color: $gj-blue !important

		.jolticon
			color: $gj-blue

	&.btn-danger-outline
		border-color: $gj-pink
		color: $gj-pink !important

		.jolticon
			color: $gj-pink

// Orverride button styling in fills.
.fill-black
.fill-darkest
.fill-darker
.fill-dark
.fill-gray
.fill-light
.fill-pink
	.btn
		@extend .btn-dark-variant

/**
 * Overlay variant
 * Basically the same as dark variant.
 */
.btn-overlay-variant
	@extend .btn-dark-variant
	background-color: rgba( $black, 0.65 ) !important

	// All overlays have white text so it shows up better.
	&.btn
		color: $white !important

/**
 * Sparse buttons
 * Keep it down here so the padding styles overwrite previous definitions.
 */
.btn-sparse
	$$btn-horizontal-padding = (($button-line-height - $button-icon-size) / 2)

	// We basically override the left/right padding to match the top and bottom.
	padding-left: $$btn-horizontal-padding
	padding-right: $$btn-horizontal-padding

	.btn-badge
		margin-right -($$btn-horizontal-padding)
		margin-left: ($$btn-horizontal-padding)

	.jolticon
		margin: 0 !important

	&.btn-outline
	&.btn-success-outline
	&.btn-primary-outline
	&.btn-danger-outline
		$$btn-horizontal-padding = (($button-line-height - $button-icon-size) / 2) - $button-outline-border-size

		padding-left: $$btn-horizontal-padding
		padding-right: $$btn-horizontal-padding

		.btn-badge
			margin-right -($$btn-horizontal-padding)
			margin-left: ($$btn-horizontal-padding)

/**
 * Button sizes
 */
.btn-sm
	create-btn-size( 'sm' )

.btn-lg
	create-btn-size( 'lg' )
