<component
	:is="tag"
	class="button"
	:class="{
		'-primary': this.primary,
		'-trans': this.trans,
		'-outline': !this.solid,
		'-overlay': this.overlay,
		'-circle': this.circle,
		'-sparse': this.sparse || this.circle,
		'-lg': this.lg,
		'-sm': this.sm,
		'-block': this.block,
		'-block-xs': this.blockXs,
		'-disabled': this.disabled,
	}"
	:disabled="this.disabled"
	@click="onClick"
	>
	<span v-if="badge" class="-badge">{{ badge }}</span>
	<app-jolticon class="-icon" v-if="icon" :icon="icon" />
	<slot />
</component>
