<app-modal>
	<div class="modal-controls">
		<button class="btn btn-danger-outline" @click="modal.dismiss()">
			<app-jolticon icon="remove" />
			<translate>Close</translate>
		</button>
	</div>

	 <div class="modal-header">
		<h2 class="modal-title">
			{{ (package.title || game.title) }}
		</h2>
	</div>

	<div class="modal-body">
		<form-game-package-payment
			:game="game"
			:package="package"
			:sellable="sellable"
			:partner-key="partnerKey"
			:partner="partner"
			@bought="bought"
			/>

		<div v-if="sellable.type === 'pwyw' && build">
			<hr>
			<app-jolticon icon="download-box" />
			<a class="link-unstyled small" @click="skipPayment">
				<translate v-if="!GJ_IS_CLIENT">No thanks, take me to the download.</translate>
				<translate v-else>No thanks, just install it.</translate>
			</a>
		</div>
	</div>
</app-modal>
