.fade-collapse
	position: relative
	overflow: hidden

	@media $media-sm-up
		transition: height 600ms $strong-ease-out

	&::before
		position: absolute
		display: none
		content: ''
		bottom: 0
		left: 0
		right: 0
		height: 100px
		background-image: linear-gradient( to bottom, rgba( $white, 0 ) 0%, rgba( $white, 1 ) 100% )
		pointer-events: none
		z-index: 1

	&-sm
		.fade-collapse::before
			height: 30px !important

	.fill-lightest &
		&::before
			background-image: linear-gradient( to bottom, rgba( $gray-lightest, 0 ) 0%, rgba( $gray-lightest, 1 ) 100% )

	.fill-darker &
		&::before
			background-image: linear-gradient( to bottom, rgba( $gray-darker, 0 ) 0%, rgba( $gray-darker, 1 ) 100% )

	.fill-darkest &
		&::before
			background-image: linear-gradient( to bottom, rgba( $gray-darkest, 0 ) 0%, rgba( $gray-darkest, 1 ) 100% )

.fade-collapse-collapsed
	&::before
		display: block
