@require '~styles/variables'

.fade-collapse
	position: relative
	overflow: hidden

	@media $media-sm-up
		&.-animate
			transition: max-height 600ms $strong-ease-out

.-fade
	position: absolute
	display: none
	bottom: 0
	left: 0
	right: 0
	height: 100px
	z-index: 1
	background-image: linear-gradient(to bottom, rgba($white, 0) 0, rgba($white, 1) 100%)
	background-image: linear-gradient(to bottom, var(--theme-bg-trans) 0, var(--theme-bg) 100%)

	.-sm &
		height: 30px

	.fill-lightest &
		background-image: linear-gradient(to bottom, rgba($gray-lightest, 0) 0, rgba($gray-lightest, 1) 100%)

	.fill-darker &
		background-image: linear-gradient(to bottom, rgba($gray-darker, 0) 0, rgba($gray-darker, 1) 100%)

	.fill-darkest &
		background-image: linear-gradient(to bottom, rgba($gray-darkest, 0) 0, rgba($gray-darkest, 1) 100%)

	// We need this full name since it's targeted in other components to change the styling.
	.fade-collapse-collapsed &
		display: block
