<div class="comment-video-thumbnail">
	<a class="-thumb"
		@click="showModal()"
		v-app-track-event="`comment-video-thumbnail:click`"
		>
		<div
			class="-controls"
			@click.stop
			>
			<app-user-follow-widget
				:user="user"
				:sparse="true"
				event-label="video-thumb"
				/>
		</div>

		<div class="play-button-overlay play-button-overlay-small">
			<app-jolticon icon="play" />
		</div>

		<div class="inner">
			<app-jolticon icon="video" />

			<!-- <template v-if="isHydrated"> -->
				<img
					class="img-responsive"
					:class="{
						loaded: isLoaded,
					}"
					:src="video.img_thumbnail"
					:alt="video.title"
					@load="onThumbLoaded"
					>
				<!-- <app-game-thumbnail-img
					:game="game"
					:class="{
						loaded: isThumbnailLoaded,
					}"
					@loaded="onThumbnailLoad"
					/> -->

				<!-- <app-video
					v-if="shouldShowVideo"
					:poster="game.thumbnail_media_item.mediaserver_url"
					:webm="game.thumbnail_media_item.mediaserver_url_webm"
					:mp4="game.thumbnail_media_item.mediaserver_url_mp4"
					/>
			</template> -->
		</div>
	</a>

	<div class="-meta">
		<app-user-avatar :user="user" />

		<router-link
			class="-user"
			:to="{ name: 'profile.overview', params: { username: user.username } }"
			:title="`${user.display_name} (@${user.username})`"
			v-app-track-event="`comment-video-thumbnail:user`"
			>
			{{ user.display_name }}
		</router-link>

		<a
			class="-title"
			@click="showModal()"
			v-app-track-event="`comment-video-thumbnail:title`"
			>
			{{ video.title }}
		</a>
	</div>
</div>
