<div>
	<div class="comment-video-thumbnail">
		<a class="comment-video-thumbnail-inner"
			@click="isLightboxActive = true"
			v-app-track-event="`comment-video-thumbnail:click`"
			>
			<div class="play-button-overlay play-button-overlay-small">
				<app-jolticon icon="play" />
			</div>

			<img class="img-responsive" :src="video.img_thumbnail" alt="Video Comment">
		</a>

		<router-link class="comment-video-thumbnail-game"
			v-if="showGame"
			:to="video.game.routeLocation"
			v-app-tooltip="video.game.title"
			v-app-track-event="`comment-video-thumbnail:game`"
			>
			<app-game-thumbnail-img :game="video.game" />
		</router-link>

		<router-link class="comment-video-thumbnail-user"
			v-if="showUser"
			:to="{ name: 'profile.overview', params: { username: video.comment.user.username } }"
			v-app-tooltip="`${video.comment.user.display_name} (@${video.comment.user.username})`"
			v-app-track-event="`comment-video-thumbnail:user`"
			>
			<img :src="video.comment.user.img_avatar" class="img-responsive" alt="">
		</router-link>
	</div>

	<app-comment-video-lightbox
		v-if="isLightboxActive"
		:video="video"
		@closed="isLightboxActive = false"
		/>
</div>
