@require '~styles/variables'
@require '~styles-lib/mixins'

// Most of this styling needs to be done globally.
>>> .timeline-list
	$border-size = 2px

	&-item
		position: relative
		display: block
		color: inherit

		&-bubble
			theme-prop('background-color', 'bg-offset')
			theme-prop('color', 'fg-muted')
			theme-prop('border-color', 'bg')
			text-align: center
			border-radius: 50%
			position: absolute
			left: 0
			top: 0
			width: $timeline-list-icon-size
			height: $timeline-list-icon-size
			line-height: $timeline-list-icon-size
			border-width: 3px
			border-style: solid
			z-index: 1

			> .jolticon
				position: relative
				top: -2px
				margin: 0
				vertical-align: baseline

			img
				border-radius: 50% !important

		&-main
			clearfix()
			padding-bottom: $line-height-computed

			// On desktop it goes full-width. On mobile we have to add the normal padding to the
			// right so it doesn't hit up against the edge.
			@media $media-xs
				padding-right: ($grid-gutter-width-xs / 2)

			$-padding-left = $timeline-list-avatar-margin + $timeline-list-icon-size
			padding-left: $border-size + $-padding-left

			&.is-thread
				theme-prop('border-left-color', 'bg-subtle')
				border-left-width: $border-size
				border-left-style: solid
				margin-left: ($timeline-list-icon-size / 2)
				padding-left: ($timeline-list-icon-size / 2) + $timeline-list-avatar-margin

				&.is-last
					border-left: 0
					margin-left: 0
					padding-left: $border-size + $-padding-left

		&-meta
			theme-prop('color', 'fg-muted')
			margin-bottom: 10px
			font-size: $font-size-tiny

		&-title
			theme-prop('color', 'fg')
			display: block
			margin-top: 5px
			font-weight: bold
			font-size: $font-size-h4

		&-title-small
			font-size: $font-size-base

		&-details
			margin-top: 5px

		&-content
			theme-prop('color', 'fg')

			p:last-child
				margin-bottom: 0

		&-thumb, &-avatar
			rounded-corners()
			float: left
			width: $timeline-list-avatar-size
			height: $timeline-list-avatar-size
			margin-right: $timeline-list-avatar-margin

		&-thumb
			theme-prop('background-color', 'bg-offset')
			background-repeat: no-repeat
			background-position: center center
			background-size: cover

		&-ad
			theme-prop('border-left-color', 'bg-subtle')
			margin-left: ($timeline-list-icon-size / 2)
			padding-bottom: $line-height-computed
			border-left-width: $border-size
			border-left-style: solid

			section
				border-top-right-radius: $border-radius-base
				border-bottom-right-radius: $border-radius-base

			&-container
				margin: 0 auto
				width: 300px
				height: 250px
				margin-bottom: 10px

		&-controls
			.button
				margin-right: 5px !important

			// Silly, but we gotta move these back into place.
			.blip
				position: relative
				left: -5px

		/**
		 * Active Item
		 */
		&-bubble.active, &-bubble.new
			theme-prop('border-color', 'notice')
