<app-modal>

	<div class="modal-controls">
		<button class="btn btn-danger-outline" @click="modal.dismiss()">
			<app-jolticon icon="remove" />
			<translate>Close</translate>
		</button>
	</div>

	<!-- <div class="modal-header">
		<h1 class="text-center section-header">
			<translate>We've built some new stuff!</translate>
		</h1>

		<p class="small text-center">
			<translate>Constantly improving for your enjoyment. Be enjoyed!</translate>
		</p>
	</div>

	<hr> -->

	<div class="modal-body">

		<app-comment-widget
			v-if="!comment"
			:resource="resource"
			:resource-id="resourceId"
			/>

		<app-comment-modal-comment
			v-else
			:comment="comment"
			/>

	</div>

</app-modal>
