<app-scroll-scroller
	overlay
	horizontal
	class="fill-darker"
	>
	<div class="-items" :style="{ height: mediaBarHeight + 'px' }">

		<div class="-loading-container" v-if="!mediaItems || !mediaItems.length">
			<app-loading centered no-color stationary hide-label />
		</div>

		<template v-if="mediaItems && mediaItems.length">
			<app-media-bar-item
				v-for="item of mediaItems"
				:key="item.id"
				:item="item"
				@click.native="setActiveItem(item)"
				/>
		</template>

	</div>
</app-scroll-scroller>
