@require '~styles/variables'
@require '~styles-lib/mixins'

.media-bar
	theme-prop('border-bottom-color', 'bg-subtle')
	border-bottom-width: 1px
	border-bottom-style: solid

.-loading-container
	position: absolute
	left: 0
	right: 0
	top: 50%

	.loading
		margin-top: -20px

.-items
	position: relative
	padding: 20px 0
	white-space: nowrap
	text-align: center
