[gj-form] button.btn .gj-form-success-icon
	margin-right: 0
	width: 20px
	overflow: hidden
	transition: opacity 300ms, width 300ms

	&.ng-enter
	&.ng-leave.ng-leave-active
		opacity: 0
		width: 0

	&.ng-enter.ng-enter-active
	&.ng-leave
		opacity: 1
		width: 20px
