@require '~styles/variables'
@require '~styles-lib/mixins'

// Override code styling to always have the default code block background color
.content-viewer-code-block
	theme-prop('background-color', 'darkest', true)
	position: relative

	& *::selection {
		theme-prop('background', 'gray', true)
	}

	&:before
		content: attr(data-annotation)
		position: absolute
		top: 8px
		right: 10px
		font-size: $font-size-small
		font-style: italic
