.content-viewer-code-block {
	counter-reset: line;
}

.content-viewer-code-block span:before {
	width: 2.5em;
	counter-increment: line;
	content: counter(line);
	display: inline-block;
	border-right: 1px solid #666;
	padding: 0 0.5em;
	margin-right: 0.5em;
	color: #666;
	text-align: right;
}
