.debug-bar
	padding: 10px 15px
	display: none
	position: fixed
	bottom: 0
	left: 0
	right: 0
	background-color: rgba( $gray, 0.5 )
	color: $white
	pointer-events: hover
	text-align: center
	pointer-events: none
	z-index: 99999

	&.active
		@media $media-md-up
			display: block
