@require '~styles/variables'
@require '~styles-lib/mixins'

.fade-enter-active, .fade-leave-active
	transition: opacity 0.05s

.fade-enter, .fade-leave-to
	opacity: 0

.emoji-button-container
	position: absolute
	right: 0
	transition: top 0.05s ease-in-out

.emoji-button
	transition: filter 0.15s ease
	transition: transform 0.2s ease
	cursor: pointer

	&:not(:hover)
		filter: grayscale(1) opacity(75%)

	&:hover
		transform: scale(1.2)

	&:focus
		outline: none

.emoji-button-active
	filter: none !important
	transform: scale(1.2)

.emoji-panel
	position: absolute
	bottom: 32px
	right: -8px
	theme-prop('background-color', 'bg-offset')
	display: flex
	flex-wrap: wrap
	width: 320px
	padding: 10px 8px 8px 8px
	rounded-corners()
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1)
	z-index: 50

	&:focus
		outline: none

.emoji-box
	padding: 6px
	rounded-corners()
	cursor: pointer

	&:hover
		theme-prop('background-color', 'bg')

	& > span
		cursor: pointer
