@require '~styles/variables'
@require '~styles-lib/mixins'

.button-placeholder
	rounded-corners()
	content-prop('background-color', 'bg-offset')
	display: inline-block
	height: $button-line-height
	vertical-align: middle
	width: 75px

	&.sparse
		width: $button-line-height

	&.circle
		border-radius: 50%
