@require '~styles/variables'

.button-placeholder
	content-prop('background-color', 'bg-offset')
	display: inline-block
	height: $button-line-height
	border-radius: $border-radius-base
	vertical-align: middle
	width: 75px

	&.sparse
		width: $button-line-height

	&.circle
		border-radius: 50%
