<!-- Add Button -->
<a class="i-button big block editable-accordion-button anim-fade-in"
	ng-click="toggle()"
	ng-class="{ active: editableAccordion.isAdding }"
	gj-scroll-when="editableAccordion.isAdding">

	<span class="jolticon jolticon-add"></span>
	{{ addLabel }}
</a>

<!-- Add Container -->
<div class="editable-accordion-item-add" gj-expand-when="editableAccordion.isAdding" ng-class="{ active: editableAccordion.isAdding }">

	<!-- Inner div contains padding so we can collapse -->
	<div class="editable-accordion-item-add-well well fill-lightest">

		<div ng-transclude></div>

	</div>

</div>
