@require '~styles/variables'
@require '../../stylus/common/mixins'
@require '../../stylus/common/fills'
@require '../well/well'

gj-editable-accordion
gj-editable-accordion-item
gj-editable-accordion-add
	display: block

.editable-accordion-separator
	margin-top: $line-height-computed
	margin-bottom: $line-height-computed
	height: 3px
	border: 0
	background: $gray-lighter

.editable-accordion-item-edit
.editable-accordion-button
.editable-accordion-item-add
	clearfix()
	margin-bottom: $line-height-computed

/**
 * Add/Edit Stuff
 */
.editable-accordion-item-edit
.editable-accordion-item-add
	position: relative
	margin-top: -17px

	form:last-child
	ng-form:last-child
		margin-bottom: 0

	// Full bleed the container on mobile.
	@media $media-xs
		margin-left: -($grid-gutter-width-xs /2)
		margin-right: -($grid-gutter-width-xs /2)

.editable-accordion-item-edit-well
.editable-accordion-item-add-well
	margin-bottom: 0

.editable-accordion-item-add
.editable-accordion-item-edit

	&:before
		caret( color: $gray-lightest, direction: 'up', size: 10px )
		opacity: 0
		pointer-events: none
		transition: opacity 400ms

	&.active:before
		opacity: 1

/**
 * Forms
 */
.editable-accordion-item-edit
.editable-accordion-item-add
	form
	ng-form
		@extend .fill-white
		@extend .well

/**
 * Editing
 */
.editable-accordion-item-edit

	form
	ng-form
		margin-top: $line-height-computed

		&.visibility

			.help-block
				margin-bottom: 0

/**
 * Adding
 */
.editable-accordion-button
	user-select: none

	// Make room for the icon so it appears more centered when expanded.
	padding-right: 15px + (32px * 0.5) !important

/**
 * This is the placeholder that may get shown while dragging.
 * It's kind of crazy, but allows it to be the correct size with the right amount of spacing below.
 */
.editable-accordion .angular-ui-tree-placeholder
	position: relative
	display: block
	border: none

	&:before
		content: ''
		display: block
		position: absolute
		top: 0
		right: 0
		bottom: $line-height-computed
		left: 0
		border: 2px dashed $gray
