<app-message-thread-item
	:id="`comment-${comment.id}`"
	:user="comment.user"
	:date="comment.posted_on"
	:is-active="isHighlighted"
	:replied-to="parent ? parent.user : undefined"
	:is-showing-replies="isShowingReplies"
	>

	<template slot="tags" v-if="isOwner || isCollaborator">

		<span class="tag tag-active">
			<translate v-if="isOwner">Dev</translate>
			<translate v-else>Collaborator</translate>
		</span>

	</template>

	<template slot="meta">

		<span class="dot-separator"></span>

		<a class="link-muted"
			@click="copyPermalink"
			v-app-tooltip="$gettext( `Copy Link to Clipboard` )"
			>
			<app-jolticon icon="link" class="middle" />
		</a>

		<a
			v-if="app.user"
			class="link-muted"
			v-app-tooltip="$gettext( 'More Options' )"
			v-app-popover-trigger="`comment-more-options-${comment.id}`"
			>
			<app-jolticon icon="ellipsis-h" class="middle" />
		</a>

		<app-popover
			v-if="app.user"
			:popover-id="`comment-more-options-${comment.id}`"
			:append-to-body="true"
			>
			<div class="list-group list-group-dark">
				<!-- TODO(collaborators) do we need to check if the comment belongs to a game and if the user has permission for it here? -->
				<a class="list-group-item has-icon"
					v-if="app.user.id !== comment.user.id"
					@click="report"
					>
					<app-jolticon icon="flag warning" />
					<translate>Report Comment</translate>
				</a>
				<a class="list-group-item has-icon"
					v-else
					@click="startEdit"
					>
					<app-jolticon icon="edit" />
					<translate>Edit Comment</translate>
				</a>

				<a class="list-group-item has-icon"
					v-if="canRemove"
					@click="removeComment"
					>
					<app-jolticon icon="remove warning" />
					<translate>Remove Comment</translate>
				</a>
				<a class="list-group-item has-icon"
					v-if="app.user.permission_level >= 3"
					:href="`${Environment.baseUrl}/moderate/comments/remove/${ comment.id}`"
					target="_blank"
					>
					<app-jolticon icon="remove warning" />
					<template v-if="app.user.id === comment.user.id || (widget.resourceOwner && widget.resourceOwner.id === app.user.id)">
						<translate>Remove Comment (Moderate)</translate>
					</template>
					<template v-else>
						<translate>Remove Comment</translate>
					</template>
				</a>
			</div>
		</app-popover>

	</template>

	<template v-if="!isEditing">
		<app-fade-collapse
			:collapse-height="300"
			:is-open="showFullContent"
			@require-change="canToggleContent = $event"
			>
			<div class="comment-content"
				v-html="widget.isShowingTranslations && widget.translations[ comment.id ]
					? widget.translations[ comment.id ].content
					: comment.comment_compiled
				"
				>
			</div>

			<p class="text-muted small" v-if="comment.modified_on">
				<b><translate>Last modified on</translate></b>
				<span :title="date( comment.modified_on, 'medium' )">
					{{ comment.modified_on | date( 'longDate' ) }}
				</span>
			</p>
		</app-fade-collapse>

		<a class="hidden-text-expander"
			v-if="canToggleContent"
			@click="showFullContent = !showFullContent"
			v-app-track-event="`comment-widget:toggle-full-content`"
			>
		</a>

		<div class="comment-videos" v-if="comment.videos.length">
			<div class="row">
				<div
					class="col-xs-6 col-sm-4"
					v-for="video of comment.videos.slice( 0, showAllVideos ? 10 : 2)"
					:key="video.id"
					>
					<app-comment-video-thumbnail :video="video" />
				</div>
			</div>

			<p class="comment-videos-more-link"
				v-if="comment.videos.length > 2 && !showAllVideos"
				>
				<a class="small link-muted"
					@click="showAllVideos = true"
					v-app-track-event="`comment-widget:more-videos`"
					>
					<translate
						:translate-n="comment.videos.length - 2"
						:translate-params="{ count: comment.videos.length - 2 }"
						translate-plural="+%{ count } more videos"
						>
						+%{ count } more video
					</translate>
				</a>
			</p>
		</div>

		<template slot="controls">

			<span class="comment-vote-btn" v-app-auth-required>
				<button
					class="btn btn-outline btn-sparse btn-circle"
					:class="{
						'active btn-success': comment.user_vote
					}"
					@click="onVoteClick"
					:disabled="!canVote"
					v-app-tooltip="votingTooltip"
					v-app-track-event="`comment-widget:vote-click`"
					>
					<app-jolticon icon="heart" />
				</button>
				<span class="blip light filled" v-if="comment.votes > 0">
					<span class="blip-caret"></span>
					<span class="blip-count">{{ comment.votes | number }}</span>
				</span>
			</span>

			<!--
				Only show the reply if isn't a child.
				We only show it on the parent comments.
			-->
			<span v-if="!isChild" v-app-auth-required>
				<button
					class="btn btn-outline btn-sparse btn-circle"
					@click="isReplying = !isReplying"
					v-app-tooltip="$gettext( 'Reply' )"
					v-app-track-event="`comment-widget:reply-click`"
					>
					<app-jolticon icon="reply" />
				</button>
			</span>

			<template v-if="canFollow">
				<button
					v-if="!widget.subscriptions[ comment.id ]"
					class="btn btn-outline btn-sparse btn-circle"
					@click="onFollowClick"
					v-app-tooltip="$gettext( `Get notifications when people post new replies to this thread.` )"
					v-app-track-event="`comment-widget:follow-click`"
					>
					<app-jolticon icon="subscribe" />
				</button>

				<button
					v-else
					class="btn btn-success active btn-sparse btn-circle"
					@click="onFollowClick"
					v-app-tooltip="$gettext( `You're following this comment thread and will be notified of replies.` )"
					v-app-track-event="`comment-widget:follow-click`"
					>
					<app-jolticon icon="subscribed" />
				</button>
			</template>

			&nbsp;
			&nbsp;

			<a
				v-if="children && children.length"
				class="small"
				@click="isShowingChildren = !isShowingChildren"
				>
				<translate
					:translate-n="children.length"
					:translate-params="{ count: children.length }"
					translate-plural="+%{ count } replies"
					>
					+%{ count } reply
				</translate>
			</a>

		</template>
	</template>
	<template v-else>
		<app-comment-widget-add
			v-app-scroll-when.animate="true"
			:model="comment"
			@submit="onCommentEdited"
			@cancel="isEditing = false"
			/>
	</template>

	<!-- Child Comments -->
	<template v-if="isShowingReplies" slot="replies">

		<app-message-thread v-if="isShowingChildren">
			<app-comment-widget-comment
				v-for="child of children"
				:key="child.id"
				:resource="resource"
				:resource-id="resourceId"
				:comment="child"
				:parent="comment"
				/>
		</app-message-thread>

		<!--
			Don't include the form in the DOM until we need it. When the if is
			triggered, the scroll-when will trigger and we'll scroll to the
			reply box.
		-->
		<app-message-thread-add v-if="isReplying">
			<app-comment-widget-add
				v-app-scroll-when.animate="true"
				:resource="resource"
				:resource-id="resourceId"
				:parent-id="comment.id"
				@submit="onReplyAdd"
				/>
		</app-message-thread-add>

	</template>

</app-message-thread-item>
