@require '~styles/variables'
@require '../../../../stylus/common/mixins'

.hidden-text-expander
	margin-bottom: $font-size-base

.comment

	&-videos
		margin-top: 3px  // the extra spacing looked nice
