@require '~styles/variables'
@require '~styles-lib/mixins'

.game-external-package-card
	&-badge
		rounded-corners()
		float: right
		margin-top: -(15px + 4px)
		margin-left: 15px
		padding: 10px
		text-align: center

		strong
			color: $white

	.card
		padding-bottom: 0

	.card-controls
		margin-bottom: 10px

		small
			margin-left: 5px
