<app-form class="auth-form" name="joinForm">
	<fieldset :disabled="!Connection.isOnline">

		<app-form-group name="email" :label="$gettext( 'Email' )" :hide-label="true">
			<app-form-control
				type="email"
				:rules="{
					availability: { url: '/web/auth/check-field-availability/email' },
				}"
				:validate-on="[ 'blur' ]"
				:placeholder="$gettext( 'Email' )"
				/>

			<app-form-control-errors />
		</app-form-group>

		<app-form-group name="username" :label="$gettext( 'Username' )" :hide-label="true">
			<app-form-control
				type="text"
				:rules="{
					min: 3,
					max: 30,
					pattern: 'username',
					availability: { url: '/web/auth/check-field-availability/username' },
				}"
				:validate-on="[ 'blur' ]"
				:placeholder="$gettext( 'Username' )"
				/>

			<app-form-control-errors />
		</app-form-group>

		<app-form-group name="password" :label="$gettext( 'Password' )" :hide-label="true">
			<app-form-control
				type="password"
				:rules="{
					min: 4,
					max: 300,
				}"
				:validate-on="[ 'blur' ]"
				:placeholder="$gettext( 'Password' )"
				/>

			<app-form-control-errors />
		</app-form-group>

		<br>

		<div class="form-group">
			<app-form-button icon="friends" class="btn-block" :class="{ 'btn-success': darkVariant }">
				<translate>Sign Up</translate>
			</app-form-button>
		</div>

	</fieldset>
</app-form>
