<div class="auth-join">

	<button class="btn btn-outline btn-block anim-fade-in-enlarge stagger"
		:class="{ 'btn-dark-variant': darkVariant }"
		:disabled="Connection.isClientOffline || blocked"
		@click="linkedAccountLogin( 'facebook' )"
		>
		<app-jolticon icon="facebook" />
		<translate>Sign Up With Facebook</translate>
	</button>

	<button class="btn btn-outline btn-block anim-fade-in-enlarge stagger"
		:class="{ 'btn-dark-variant': darkVariant }"
		:disabled="Connection.isClientOffline || blocked"
		@click="linkedAccountLogin( 'google' )"
		>
		<app-jolticon icon="google-plus" />
		<translate>Sign Up With Google+</translate>
	</button>

	<button class="btn btn-outline btn-block anim-fade-in-enlarge stagger"
		:class="{ 'btn-dark-variant': darkVariant }"
		:disabled="Connection.isClientOffline || blocked"
		@click="linkedAccountLogin( 'twitter' )"
		>
		<app-jolticon icon="twitter" />
		<translate>Sign Up With Twitter</translate>
	</button>

	<button class="btn btn-outline btn-block anim-fade-in-enlarge stagger"
		:class="{ 'btn-dark-variant': darkVariant }"
		:disabled="Connection.isClientOffline || blocked"
		@click="linkedAccountLogin( 'twitch' )"
		>
		<app-jolticon icon="twitch" />
		<translate>Sign Up With Twitch</translate>
	</button>

	<div class="auth-line-thru">
		<translate>or</translate>
	</div>

	<app-auth-join-form
		:dark-variant="darkVariant"
		:blocked="blocked"
		@submit="onJoin"
		/>

	<div class="alert alert-warning -blocked-message" v-if="blocked">
		<translate>You must wait 15 minutes before creating another account.</translate>
	</div>

</div>
