<app-card class="game-container">
	<template v-if="hasError">
		<app-jolticon icon="notice" /><translate>Failed to load game information</translate>
		<br>
		<app-button
			@click="onClickRetry"
			>
			<translate>Retry</translate>
		</app-button>
	</template>
	<template v-else-if="isHydrated">
		<app-theme :theme="game.theme" force-dark>
			<template v-if="game.header_media_item">
				<div class="header-background">
					<img class="header-background-img" :src="game.header_media_item.img_url" />
				</div>
				<div class="header-background-fade" />
			</template>
			<div class="-inner">
				<router-link
					:to="game.getUrl()"
					>
					<div class="-thumbnail">
						<app-game-thumbnail-img
							:game="game"
							/>
					</div>
				</router-link>
				<div class="-title">
					<router-link
						:to="game.getUrl()"
						>
						<strong>{{game.title}}</strong>
					</router-link>
					<br>
					<translate>by</translate> <strong>{{game.developer.display_name}}</strong>
				</div>
			</div>
			<div class="content">
				<app-game-follow-widget :game="game" />
				<app-game-compat-icons :game="game" />
			</div>
		</app-theme>
	</template>
	<template v-else>
		<app-loading />
	</template>
</app-card>
