.content-well
	rounded-corners()
	raise()
	theme-prop('background-color', 'bg')
	theme-prop('border-color', 'bg-offset')
	padding: ($grid-gutter-width / 2)
	// margin-bottom: $line-height-computed
	// border-width: 1px
	// border-style: solid

.well
	rounded-corners()
	margin-bottom: $line-height-computed
	padding: ($grid-gutter-width-xs / 2)

	@media $media-sm-up
		padding: ($grid-gutter-width / 2)

	&.sans-margin
		border-radius: 0
		margin-top: 0
		margin-bottom: 0

.well-row
	padding-top: $grid-gutter-width-xs
	padding-bottom: $grid-gutter-width-xs
	border-radius: 0

	@media $media-sm-up
		padding-top: $grid-gutter-width
		padding-bottom: $grid-gutter-width
