@require '~styles/variables'
@require '~styles-lib/mixins'

.content-editor-table-controls
	theme-prop('background-color', 'bg-offset')
	rounded-corners()
	padding-top: 4px
	padding-bottom: 4px
	padding-left: 10px
	padding-right: 10px
	white-space: normal
	margin-bottom: 10px

.-title
	font-style: italic
	theme-prop('color', 'fg-muted')
