.graph
	padding: ($grid-gutter-width-xs / 2)
	margin-bottom: $line-height-computed

	@media $media-sm-up
		padding: 10px

.graph-background-variant
	background-color: inherit !important

.chart-legend
.bar-legend
.line-legend
.pie-legend
.radar-legend
.polararea-legend
.doughnut-legend
	margin: 0
	list-style-type: none
	text-align: center

	li
		display: inline-block
		white-space: nowrap
		margin: 0
		padding: 2px 8px
		cursor: default
		font-size: $font-size-tiny
		color: $gray-lighter

		span
			display: inline-block
			width: 14px
			height: 14px
			margin-right: 8px
			margin-top: -1px
			vertical-align: middle

@import './line'
@import './pie'
