<app-form name="commentAddForm">

	<app-form-group
		:class="{ 'sans-margin-bottom': (!changed || !valid) && method !== 'edit' }"
		name="comment"
		:label="$gettext( 'Leave a Comment' )"
		hide-label
		>

		<app-form-control-markdown
			preview-class="comment-content"
			preview-url="/comments/preview"
			markdown-mode="comments"
			:placeholder="$gettext( `Leave a comment...` )"
			:autofocus="autofocus"
			/>

		<app-form-control-errors label="comment" />
	</app-form-group>

	<div class="text-right">
		<app-form-button
			class="btn-block-xs"
			show-when-valid
			:icon="method === 'add' ? 'add-comment' : 'edit'"
			>
			<translate v-if="method === 'add'">Add Comment</translate>
			<translate v-else-if="method === 'edit'">Save</translate>
		</app-form-button>

		<button
			class="btn btn-danger-outline"
			v-if="method === 'edit'"
			@click.prevent="onCancel"
			>
			<translate>Cancel</translate>
		</button>
	</div>

</app-form>
