.form-upload-control

	.progress
		margin-bottom: 0

	gj-card:last-child .card
		margin-bottom: 0

	&-drop-target
		border: 2px dashed $gray-light
		padding: ($grid-gutter-width / 2)

	&-drop-active
		border-color: $gj-green
		border-style: solid
