<div class="form-upload-control"
	ngf-drop-available="dropSupported"
	ng-class="{ 'form-upload-control-drop-target': dropSupported }"
	ngf-drag-over-class="'form-upload-control-drop-active'"
	ngf-drop="onFileSelect( $files )"
	>

	<div ng-show="!ngModel.$viewValue.length">

		<!--
			If we have a label, then we show the upload "button" as a link instead.
			We hide the button and use it to simulate a click on it.
		-->
		<div class="small" ng-if="!!uploadLinkLabel">
			<a class="link-muted" ng-click="showFileSelect()">
				{{ uploadLinkLabel }}
			</a>
		</div>

		<input type="file"
			ng-if="!multiple"
			ngf-select="onFileSelect( $files )"
			ng-hide="!!uploadLinkLabel"
			accept="{{ accept }}"
			ngf-multiple="false"
			>

		<input type="file"
			ng-if="multiple"
			ngf-select="onFileSelect( $files )"
			ng-hide="!!uploadLinkLabel"
			accept="{{ accept }}"
			ngf-multiple="true"
			multiple
			>
	</div>

	<div class="form-upload-control-files" ng-show="ngModel.$viewValue.length && !progress">
		<div
			ui-tree
			ui-tree-nodes
			drag-enabled="isSortable ? true : false"
			ng-model="ngModel.$viewValue"
			>

			<gj-card
				ng-repeat="file in ngModel.$viewValue"
				ui-tree-node
				is-draggable="isSortable ? true : false"
				>
				<div class="row">
					<div class="col-xs-3" ng-if="::isImage( file )">
						<gj-form-upload-control-img-preview file="file"></gj-form-upload-control-img-preview>
					</div>
					<div ng-class="::isImage( file ) ? 'col-xs-9' : 'col-xs-12'">
						<div class="card-title">
							<h5>
								{{ file.name }}
							</h5>
						</div>

						<div class="card-controls">
							<a class="btn btn-danger-outline" ng-click="clearFile( $index )">
								<span class="jolticon jolticon-remove"></span>
								<span translate>Clear File</span>
							</a>
						</div>
					</div>
				</div>
			</gj-card>

		</div>
	</div>

	<div class="progress" ng-if="progress !== false">
		<div class="progress-bar"
			role="progressbar"
			ng-attr-aria-valuenow="{{ progress }}"
			aria-valuemin="0"
			aria-valuemax="100"
			ng-style="{ width: progress + '%' }"
			>
			<span ng-if="progress < 99">
				{{ progress }}%
			</span>
			<span ng-if="progress >= 99" translate>
				Processing...
			</span>
		</div>
	</div>

	<div ng-if="progress >= 99">
		<br>
		<div class="alert alert-info">
			<p translate>
				Upload complete! Please wait while we process your file(s). This may take a few minutes, so don't close or refresh the page.
			</p>
		</div>
	</div>
</div>
