@require '~styles/variables'
@require '~styles-lib/mixins'

.theme-bubble
	theme-prop('border-color', 'bg-subtle')
	position: relative
	padding-top: calc(100% - 4px)
	height: 0
	overflow: hidden
	border-radius: 50%
	border-width: 2px
	border-style: solid

	&:hover
		theme-prop('border-color', 'fg')

.-highlight, .-backlight
	position: absolute
	width: 150%
	height: 150%

.-highlight
	top: 0
	left: 0
	z-index: 1

.-backlight
	theme-prop('border-color', 'bg')
	bottom: calc(-75% - 1px)
	right: calc(-75% - 1px)
	transform: rotateZ(45deg)
	z-index: 2
	border-width: 2px
	border-style: solid
