@require '~styles/variables'
@require '~styles-lib/mixins'

.font-selector
	&-font-list
		margin: 0
		padding: 0
		height: 300px
		overflow-y: auto
		overflow-x: hidden

	&-font-list-item, &-selected
		margin: 0
		padding: 8px 15px
		list-style: none
		cursor: pointer

		&:hover
			theme-prop('background-color', 'bg-subtle')
			border-bottom-left-radius: $border-radius-base
			border-bottom-right-radius: $border-radius-base

			.font-selector-cancel
				theme-prop('color', 'link-hover')

	&-cancel
		theme-prop('color', 'fg-muted')
		float: right

	&-clear
		theme-prop('color', 'fg-muted', true)
		float: right

		&:hover
			theme-prop('color', 'link-hover', true)

	&-filter
		theme-prop('background-color', 'bg-subtle')
		padding: 10px 15px
