<div class="theme-editor-image">

	<a class="theme-editor-image-clear"
		ng-click="$ctrl.clear()"
		ng-if="$ctrl.ngModel.$modelValue"
		translate
		>
		clear
	</a>

	<div class="theme-editor-image-content">
		<img
			class="theme-editor-image-img"
			ng-if="$ctrl.ngModel.$modelValue.img_url"
			ng-src="{{ $ctrl.ngModel.$modelValue.img_url }}"
			alt=""
			>

		<gj-theme-editor-image-form
			type="{{ $ctrl.type }}"
			parent-id="$ctrl.parentId"
			gj-form-submit-handler="$ctrl.onImageAdded( $response )"
			>
		</gj-theme-editor-image-form>
	</div>

</div>
