@require '~styles/variables'
@require '../../../stylus/common/mixins'

.theme-editor-image
	padding: 8px 15px

	&-clear
		float: right
		color: $gray-light !important

		&:hover
			color: $black !important

	&-content
		clear: both

	&-img
		img-responsive()
		max-height: 200px
		margin-bottom: $line-height-computed
