.theme-editor .CodeMirror
	border-color: $gray-dark
	height: 400px

	&-focused
		border-color: $gray

.theme-editor-definitions
	@extend .fill-white

	.form-group
		@extend .clearfix
		animation-duration: 0
		margin-bottom: 0
		border-bottom: 1px solid $gray-lightest

	.control-label
		float: left
		padding: 8px 15px
		margin-bottom: 0

.theme-editor-colorpicker
	padding: 8px 15px
	float: right

	.sp-replacer
		float: right
		padding: 0
		border: 0
		background: none

	.sp-preview
		margin: 0
		width: 40px
		height: 22px
		border: 2px solid $gray-lighter

	.sp-clear-display
		top: 2px
		bottom: @top

	.sp-dd
		display: none

.theme-editor-dropdown
	clear: both
	padding: 0 15px 8px

.theme-editor-font-family
	clear: both

.form-group.theme-editor-definition-css
	border: 0

.theme-editor-code
	clear: both
