nav.platform-list
	font-family: $font-family-heading
	margin-bottom: ($line-height-computed / 2)

	ul
		margin: 0
		padding: 0

		// When you hover over the full nav list make the inactive links darker.
		&:hover a
			color: $gray-dark

			// Don't override the active color on hover, though.
			&.active
				color: $black

		li
			margin: 0
			list-style: none

			&:first-child a
				margin-top: 0

		a
			display: block
			padding: 0 15px
			margin: $line-height-computed 0
			margin-left: -18px // Make it so that the list is flush against the left. (subtract padding and border)
			color: $gray-light // Keep the inactive ones lighter.
			// Set default border styles.
			// We override individuals below, so keep these long form.
			border-style: solid
			border-color: transparent
			border-width: 0
			border-left-width: 3px
			// Don't allow to select the text when clicking on a "tab".
			user-select: none
			// Fade any color changes.
			transition: color 300ms

			// Show the left border on hover.
			&:hover
				border-color: $gray-lighter
				transition: none // Don't transition into the hover. Only transition out of it.

			&.active
				color: $black
				font-weight: bold

				.jolticon
					color: $black

			.tag
				margin-right: 5px
				vertical-align: text-top

			.badge
				margin-left: 5px

		.jolticon
			color: $gray-light
			margin-right: 10px

	/**
	 * Inline nav lists
	 */
	&.inline ul
		@extend .clearfix

		li
			float: left
			margin-right: ($grid-gutter-width / 2)

			@media $media-xs
				margin-right: ($grid-gutter-width-xs / 2)

		a
			display: inline-block
			border-left: 0
			border-bottom-width: 3px
			margin: 0
			// For some reason we need this extra 1px of padding with the font
			// we use.
			padding: 0 5px ($line-height-computed / 2) + 1px 0

			&:hover
				border-color: $gray-lighter

			&.active
				border-color: $gray-light
				font-weight: normal // Don't bold active inline items.

		.jolticon
			margin-right: 5px

	/**
	 * Section header nav lists
	 */
	header.section &
		margin-top: ($line-height-computed * 1.5)
		margin-bottom: 0

		ul:hover a
			color: $gray-lighter

			&.active
				color: $white

		a, &.inline ul a
			line-height: 2.5
			color: $gray-light

			&:hover
				color: $gray-lightest

			&.active
				color: $white
				border-color: var(--user-green)

				.jolticon
					color: $white

			.jolticon
				color: $gray-lighter

		// Buttons should be forced to a certain color.
		&.buttons, &.inline.buttons
			a, &:hover a
				color: var(--user-green)
				transition: none

			a:hover
				color: var(--user-pink)

			a .jolticon
				color: $white

			li:last-child a
				margin-right: 0

/**
 * In dark fills
 */
.fill-black, .fill-darkest, .fill-darker, .fill-dark
	nav.platform-list ul
		a.active
			color: $gray-lightest !important

			.jolticon
				color: $gray-lightest !important

		&:hover a
			color: $gray-lighter !important

			&.active
				color: $gray-lightest !important

section.nav-only
	nav.platform-list.inline
		margin-top: $font-size-base
		margin-bottom: 0

nav.platform-list
	font-family: $font-family-heading
	margin-bottom: ($line-height-computed / 2)

	ul > li > ul
		font-size: $font-size-small

		> li > a
			margin: ($line-height-computed / 2) 0
			padding-left: 30px
