@require '~styles/variables'

.error-page
	text-align: center

	.ararat
		margin-top: -190px
		margin-bottom: $grid-gutter-width

		@media $media-xs
			margin-bottom: $grid-gutter-width-xs

		> img
			display: block
			margin: 0 auto