<span class="comment-controls">
	<span class="comment-vote-btn" v-app-auth-required>
		<app-button
			icon="heart"
			circle
			:primary="!!comment.user_vote"
			:solid="!!comment.user_vote"
			@click="onVoteClick()"
			v-app-tooltip="votingTooltip"
			v-app-track-event="`comment-widget:vote-click`"
			/>

		<span class="blip light filled" v-if="comment.votes > 0">
			<span class="blip-caret"></span>
			<span class="blip-count">{{ comment.votes | number }}</span>
		</span>
	</span>

	<span v-if="showReply" v-app-auth-required>
		<app-button
			icon="reply"
			circle
			@click="onReplyClick()"
			v-app-tooltip="$gettext( 'Reply' )"
			v-app-track-event="`comment-widget:reply-click`"
			/>
	</span>
</span>
