<span class="comment-controls">
	<span class="comment-vote-button" v-app-auth-required>
		<app-button
			icon="thumbs-up"
			circle
			trans
			:primary="hasUpvote"
			:solid="hasUpvote"
			@click="onUpvoteClick()"
			v-app-tooltip="votingTooltip"
			v-app-track-event="`comment-widget:vote-click`"
			/>

		<span
			v-if="comment.votes > 0"
			class="blip"
			:class="{
				'filled': hasUpvote,
			}"
			>
			<span class="blip-caret"></span>
			<span class="blip-count">{{ comment.votes | number }}</span>
		</span>

		<app-button
			icon="thumbs-down"
			circle
			trans
			:primary="hasDownvote"
			:solid="hasDownvote"
			@click="onDownvoteClick()"
			v-app-track-event="`comment-widget:vote-click`"
			/>

	</span>

	<span v-if="showReply" v-app-auth-required>
		<app-button
			icon="reply"
			circle
			trans
			@click="onReplyClick()"
			v-app-tooltip="$gettext( 'Reply' )"
			v-app-track-event="`comment-widget:reply-click`"
			/>
	</span>
</span>
