.user-bar
	$avatar-size = 30px

	@media $media-xs
		.container
			padding-left: 0
			padding-right: 0

	&-user
		padding-top: 10px !important
		padding-bottom: 10px !important

	&-avatar
		display: inline-block !important
		width: $avatar-size
		height: $avatar-size
		vertical-align: middle

	&-username
		display: inline-block
		margin-left: 10px

		@media $media-mobile
			display: none

	.btn
		margin-top: 7px  // Blah, stupid hardcoded
