<div class="media-bar-lightbox-item">
	<div class="media-bar-lightbox-item-inner" v-if="isActive || isNext || isPrev">

		<!-- Image -->
		<div v-if="item.media_type === 'image'">
			<div class="media-bar-lightbox-item-embed"
				v-if="maxWidth && maxHeight"
				>

				<!--
					The min/max will be the actual dimensions for the image thumbnail.
				-->
				<app-img-responsive
					:src="item.img_thumbnail"
					:alt="item.caption"
					:style="{ width: maxWidth + 'px', height: maxHeight + 'px' }"
					/>
			</div>

			<div class="media-bar-lightbox-item-caption" v-if="item.caption">
				<h4>{{ item.caption }}</h4>
			</div>
		</div>

		<!-- Video -->
		<div v-if="item.media_type === 'video'">
			<div class="media-bar-lightbox-item-embed"
				v-if="isActive && maxWidth && maxHeight"
				>
				<app-video-embed
					class="media-bar-lightbox-item-embed"
					:video-provider="item.type"
					:video-id="item.url"
					:max-video-width="maxWidth"
					:max-video-height="maxHeight"
					:autoplay="true"
					/>
			</div>

			<div class="media-bar-lightbox-item-caption">
				<h4>{{ item.title }}</h4>
				<!--TODO: This used to link links-->
				<p v-if="item.description" v-text="item.description"></p>
			</div>
		</div>

		<!-- Sketchfab -->
		<div v-if="item.media_type === 'sketchfab'">
			<div class="game-media-bar-lightbox-item-embed"
				v-if="isActive && maxWidth && maxHeight"
				>
				<app-sketchfab-embed
					class="game-media-bar-lightbox-item-embed"
					:sketchfab-id="item.sketchfab_id"
					:max-width="maxWidth"
					:max-height="maxHeight"
					:autoplay="true"
					/>
			</div>
		</div>

	</div>
</div>
