$media-bar-lightbox-item-start-opacity = 0.5
$media-bar-lightbox-item-start-scale = 0.5

gj-media-bar-lightbox-item
	display: inline-block
	width: 80%
	vertical-align: top
	transition: transform 300ms $weak-ease-out, opacity 300ms $weak-ease-out

	&.next
	&.prev
		opacity: $media-bar-lightbox-item-start-opacity
		transform: scale( $media-bar-lightbox-item-start-scale, $media-bar-lightbox-item-start-scale )

	// We need manual control of styling when dragging.
	.dragging &
		transition: none

.media-bar-lightbox-item

	// Browsers will allow you to drag the image somewhere to paste the URL.
	// Turn that off since we want to enable dragging to switch images.
	img
		pointer-events: none

.media-bar-lightbox-item-embed
	position: relative

	img
	iframe
		display: block
		margin: 0 auto
		border: 5px solid $gray-dark

.media-bar-lightbox-item-caption
	padding-top: $font-size-base
	text-align: center
	color: $white
	width: 900px
	max-width: 80%
	margin: 0 auto
	white-space: normal

	h4
		margin-top: 0
		color: $white
		font-weight: 300

	a
		color: $gj-blue
		&:hover
			color: $gj-pink
