<div style="display: inline">
	<transition name="popover-anim"
		@after-leave="_onLeft"
		>
		<div class="popover"
			ref="popover"
			v-show="isVisible"
			:class="[ this.position ]"
			:style="{
				position: positionBy === 'fixed' ? 'fixed' : 'absolute',
			}"
			>
			<div class="arrow"
				:style="{
					left: arrowLeft,
					top: arrowTop,
				}"
				>
			</div>

			<div class="popover-content scrollable"
				:style="{ 'max-height': appendToBody && !noMaxHeight ? (Screen.windowHeight - 100) + 'px' : undefined }"
				:class="{
					'popover-no-max-height': noMaxHeight,
				}"
				@mouseenter="onMouseEnter"
				@mouseleave="onMouseLeave"
				@click="onClick"
				>
				<slot></slot>
			</div>
		</div>
	</transition>
</div>
