@require '~styles/variables'
@require '~styles-lib/mixins'
@require '../../stylus/animation/fade/fade-in'
@require '../../stylus/animation/fade/fade-out-shrink'

.popover
	position: absolute
	top: 0
	left: 0
	z-index: $zindex-popover
	max-width: $popover-size
	text-align: left // Reset given new insertion method
	white-space: normal // Overrides for proper insertion

	// Mainly for testing.
	// It just shows the popover in the page with no fanciness of hide/show.
	&-in-place
		position: relative
		display: block
		z-index: 1

		.popover-content
			max-height: none

	&.popover-anim-enter-active
		// Make it a bit faster than normal on enter.
		// This way they can interact with it sooner.
		animation-duration: 250ms

	&.popover-anim-leave-active
		@extend .anim-fade-out-shrink
		display: block // Force it visible while removing.
		z-index: $zindex-popover - 1

	// When active show it visible.
	&.visible
		display: block

	&.top
		& > .arrow
			caret(var(--theme-bg-subtle), 'down', $popover-arrow-size)
			bottom: -($popover-arrow-size - $popover-extra-margin)

		&.popover-anim-enter-active
			@extend .anim-fade-in-down

	&.right
		& > .arrow
			caret(var(--theme-bg-subtle), 'left', $popover-arrow-size)
			left: -($popover-arrow-size - $popover-extra-margin)

		&.popover-anim-enter-active
			@extend .anim-fade-in-right

	&.bottom
		& > .arrow
			caret(var(--theme-bg-subtle), 'up', $popover-arrow-size)
			top: -($popover-arrow-size - $popover-extra-margin)

		&.popover-anim-enter-active
			@extend .anim-fade-in-up

	&.left
		& > .arrow
			caret(var(--theme-bg-subtle), 'right', $popover-arrow-size)
			right: -($popover-arrow-size - $popover-extra-margin)

		&.popover-anim-enter-active
			@extend .anim-fade-in-left

.popover-content
	rounded-corners()
	theme-prop('background-color', 'bg-offset')
	theme-prop('border-color', 'bg-subtle')
	max-height: 360px
	min-width: 200px
	background-clip: padding-box
	border-width: 2px
	border-style: solid
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1)

	&.popover-no-max-height
		max-height: none
		overflow: visible !important

	.popover.top &
		margin-bottom: $popover-extra-margin

	.popover.right &
		margin-left: $popover-extra-margin

	.popover.bottom &
		margin-top: $popover-extra-margin

	.popover.left &
		margin-right: $popover-extra-margin

	> nav.pills > ul, > .btn
		margin-bottom: $popover-spacing

	> nav.platform-list
		margin-bottom: 0
		margin-top: $popover-spacing * 2

	.alert
		margin-bottom: 0

	.well
		margin-bottom: 0

.popover-no-collapse
	@media $media-sm-up
		width: $popover-size

.popover-heading
	padding: $popover-spacing
	white-space: nowrap
	font-weight: bold

.popover-backdrop
	display: none

/**
 * Mobile
 */
@media $media-xs
	// Shade the body when we open the popover.
	// We only show the backdrop on XS displays.
	.popover-backdrop
		display: block
		position: fixed
		top: 0
		right: 0
		bottom: 0
		left: 0
		background-color: #000
		opacity: 0.6
		z-index: 10

	// Force it so that it takes up the width of the container.
	.popover
		left: 0 !important
		right: 0 !important
		max-width: none !important

	.popover-content
		border-right: 0
		border-left: 0
		border-radius: 0
