<div style="display: inline">
	<transition name="popover-anim"
		@after-leave="_onLeft"
		>
		<div class="popover"
			ref="popover"
			v-show="isVisible"
			:class="[ this.position ]"
			:style="{
				position: positionBy === 'fixed' ? 'fixed' : 'absolute',
			}"
			>
			<div class="arrow"
				:style="{
					left: arrowLeft,
					top: arrowTop,
				}"
				>
			</div>

			<app-scroll-inview-parent
				ref="inviewParent"
				class="popover-content scrollable"
				:style="{ 'max-height': appendToBody && !noMaxHeight ? (Screen.windowHeight - 100) + 'px' : undefined }"
				:class="{
					'popover-no-max-height': noMaxHeight,
				}"
				:throttle="0"
				@mouseenter.native="onMouseEnter"
				@mouseleave.native="onMouseLeave"
				@click.native="onClick"
				>
				<slot></slot>
			</app-scroll-inview-parent>
		</div>
	</transition>
</div>
