$popover-border-color = $gray-light
$popover-bg-color = $gray-lightest
$popover-bg-color-dark = $gray-darkest
$popover-arrow-size = 8px
$popover-size = 400px
$popover-spacing = 5px

// This will be used to push the popover away from the trigger by this amount.
$popover-extra-margin = 3px

.popover
	position: absolute
	top: 0
	left: 0
	z-index: $zindex-popover
	display: none
	max-width: $popover-size
	text-align: left // Reset given new insertion method

	// Overrides for proper insertion
	white-space: normal

	// Mainly for testing.
	// It just shows the popover in the page with no fanciness of hide/show.
	&-in-place
		position: relative
		display: block
		z-index: 1

		.popover-content
			max-height: none

	&.active-add
		// Make it a bit faster than normal on enter.
		// This way they can interact with it sooner.
		animation-duration: 250ms

	&.active-remove
		@extend .no-animate
		display: block  // Force it visible while removing.

	// When active show it visible.
	&.active
		display: block

	&.top
		& > .arrow
			caret( $popover-border-color, 'down', $popover-arrow-size )
			bottom: -($popover-arrow-size - $popover-extra-margin)

		&.active-add
			@extend .anim-fade-in-down

	&.right
		& > .arrow
			caret( $popover-border-color, 'left', $popover-arrow-size )
			left: -($popover-arrow-size - $popover-extra-margin)

		&.active-add
			@extend .anim-fade-in-right

	&.bottom
		& > .arrow
			caret( $popover-border-color, 'up', $popover-arrow-size )
			top: -($popover-arrow-size - $popover-extra-margin)

		&.active-add
			@extend .anim-fade-in-up

	&.left
		& > .arrow
			caret( $popover-border-color, 'right', $popover-arrow-size )
			right: -($popover-arrow-size - $popover-extra-margin)

		&.active-add
			@extend .anim-fade-in-left

.popover-content
	@extend .scrollable
	max-height: 360px
	min-width: 200px
	background-color: $popover-bg-color
	background-clip: padding-box
	border: 2px solid $popover-border-color
	box-shadow 5px 5px 10px rgba( 0, 0, 0, 0.1 )

	.popover.top &
		margin-bottom: $popover-extra-margin

	.popover.right &
		margin-left: $popover-extra-margin

	.popover.bottom &
		margin-top: $popover-extra-margin

	.popover.left &
		margin-right: $popover-extra-margin

	> nav.pills > ul
	> .i-button
		margin-bottom: $popover-spacing

	> nav.platform-list
		margin-bottom: 0
		margin-top: $popover-spacing * 2

	.alert
		margin-bottom: 0

.popover-dark
	border: 0
	padding: 2px

	.popover-content
		@extend .fill-darkest
		background-color: $popover-bg-color-dark

	&.top > .arrow
		caret( $popover-bg-color-dark, 'down', $popover-arrow-size )

	&.right > .arrow
		caret( $popover-bg-color-dark, 'left', $popover-arrow-size )

	&.bottom > .arrow
		caret( $popover-bg-color-dark, 'up', $popover-arrow-size )

	&.left > .arrow
		caret( $popover-bg-color-dark, 'right', $popover-arrow-size )

.popover-no-collapse
	@media $media-sm-up
		width: $popover-size

.popover-heading
	margin: $popover-spacing
	white-space: nowrap
	font-weight: bold

/**
 * Mobile
 */
@media $media-xs

	// Shade the body when we open the popover.
	// We only show the backdrop on XS displays.
	.popover-backdrop
		position: fixed
		top: 0
		right: 0
		bottom: 0
		left: 0
		background-color: #000
		opacity: 0.6
		z-index: 10

	// Force it so that it takes up the width of the container.
	.popover
		left: 0 !important
		right: 0 !important
		max-width: none !important

	.popover-content
		border-right: 0
		border-left: 0
