.angular-ui-tree-nodes
	position: relative

.angular-ui-tree-hidden
	display: none

.angular-ui-tree-handle
	&
	& .jolticon
		cursor: move !important

.angular-ui-tree-drag
	position: absolute
	cursor: move
	pointer-events: none
	z-index: 1000
	opacity: 0.8

.angular-ui-tree-placeholder
	border: 2px dashed $gray-light
