<app-modal class="fill-darkest">
	<div class="modal-controls -header-controls clearfix">
		<app-button @click="minimize" v-if="canMinimize">
			<translate>Minimize</translate>
		</app-button>
		<app-button @click="close">
			<translate>Close</translate>
		</app-button>
	</div>

	<div class="-body">

		<iframe
			ref="frame"
			class="-embed"
			nwdisable
			nwfaketop
			v-if="url"
			type="text/html"
			frameborder="0"
			scrolling="no"
			webkitallowfullscreen mozallowfullscreen allowfullscreen
			:src="url"
			@load="focus"
			>
		</iframe>

	</div>
</app-modal>
