.game-play-modal-open
	overflow: hidden

.game-play-modal
	@extend .fill-darkest
	position: fixed
	top: 0
	right: 0
	bottom: 0
	left: 0
	overflow: auto
	overflow-y: scroll
	z-index: $zindex-modal
	background-color: transparent

	&-backdrop
		position: fixed
		top: 0
		left: 0
		right: 0
		bottom: 0
		z-index: ($zindex-modal-background - 10)
		background-color: $gray-darkest

	&-header-controls
		@extend .clearfix
		margin-top: -2px  // Remove the top border from buttons.
		padding-bottom: ($grid-gutter-width-xs / 2)
		text-align: center

		@media $media-md-up
			padding-right: ($grid-gutter-width-xs / 2)
			text-align: right

	&-embed
		margin: 0 auto

		// This fixes issues where they don't set a body bg color.
		// https://github.com/gamejolt/next-issue-tracker/issues/241
		> iframe
			background-color: $white
