<div class="game-play-modal-backdrop anim-fade-in"></div>

<div class="game-play-modal">
	<div class="game-play-modal-header-controls">
		<button class="btn btn-outline" ng-click="$ctrl.minimize()" ng-if="$ctrl.canMinimize">
			<span class="jolticon jolticon-minimize"></span>
			<span translate>Minimize</span>
		</button>
		<button class="btn btn-danger-outline warning" ng-click="$ctrl.close()">
			<span class="jolticon jolticon-remove"></span>
			<span translate>Close Game</span>
		</button>
	</div>

	<div class="game-play-modal-body">

		<iframe class="game-play-modal-embed"
			nwdisable nwfaketop
			ng-if="$ctrl.embedUrl"
			type="text/html"
			frameborder="0"
			scrolling="no"
			webkitallowfullscreen mozallowfullscreen allowfullscreen
			ng-src="{{ $ctrl.embedUrl }}"
			gj-load="$ctrl.focus()"
			>
		</iframe>

	</div>
</div>
