<div class="game-play-modal-backdrop anim-fade-in"></div>

<div class="game-play-modal">
	<div class="game-play-modal-header-controls">
		<button class="btn btn-outline" ng-click="$ctrl.minimize()" ng-if="$ctrl.canMinimize">
			<span class="jolticon jolticon-minimize"></span>
			<span translate>Minimize</span>
		</button>
		<button class="btn btn-danger-outline warning" ng-click="$ctrl.close()">
			<span class="jolticon jolticon-remove"></span>
			<span translate>Close Game</span>
		</button>
	</div>

	<div class="game-play-modal-body">

		<iframe class="game-play-modal-embed"
			nwdisable nwfaketop
			ng-if="$ctrl.embedUrl"
			type="text/html"
			frameborder="0"
			scrolling="no"
			webkitallowfullscreen mozallowfullscreen allowfullscreen
			ng-src="{{ $ctrl.embedUrl }}"
			gj-load="$ctrl.focus()"
			>
		</iframe>
			<!--width="{{ $ctrl.embedWidth }}"
			height="{{ $ctrl.embedHeight }}"-->


		<!--<gj-ad-video
			ng-if="!$ctrl.adShown"
			ad-resource="Game"
			ad-resource-id="$ctrl.build.game_id"
			event-tracking-label="Pre-Roll - Browser"
			on-ad-shown="$ctrl.onAdShown()"
			>
		</gj-ad-video>

		<div gj-game-play-modal-embed
			ng-if="$ctrl.adShown"
			build="$ctrl.build"
			>
		</div>-->

	</div>
</div>
