<gj-card class="soundtrack-package-card">

	<div class="row">
		<div class="col-sm-9">

			<div class="card-title">
				<h4>
					<span translate>Game Soundtrack</span>
					<span class="jolticon jolticon-musical-note-double big pull-right text-muted"></span>
				</h4>
			</div>

			<div class="card-meta">
				{{ ctrl.songs.length | number }} songs
			</div>

			<br>

			<div class="card-content">

				<gj-fade-collapse
					fade-collapse-height="250"
					fade-collapse-is-open="ctrl.isShowingSoundtrack"
					fade-collapse-is-required="ctrl.canToggleSoundtrack"
					>

					<gj-audio-playlist
						audio-playlist-songs="::ctrl.songs"
						audio-playlist-is-playing="ctrl.isPlaying"
						>
					</gj-audio-playlist>

				</gj-fade-collapse>

			</div>

			<a class="hidden-text-expander"
				ng-if="ctrl.canToggleSoundtrack"
				ng-click="ctrl.isShowingSoundtrack = !ctrl.isShowingSoundtrack"
				gj-track-event="game-soundtrack-card:show-all-songs"
				></a>

		</div>
		<div class="col-sm-3 hidden-xs">

			<div class="card-thumb"
				ng-style="{ 'background-image': 'url(\'' + ctrl.game.img_thumbnail + '\')' }"
				>

				<a class="play-button-overlay play-button-overlay-small hidden-xs"
					ng-class="{ active: ctrl.isPlaying }"
					ng-click="ctrl.isPlaying = !ctrl.isPlaying"
					gj-track-event="game-soundtrack-card:play:cover-art"
					>

					<span class="jolticon"
						ng-class="!ctrl.isPlaying ? 'jolticon-play' : 'jolticon-stop'"></span>
				</a>

			</div>

		</div>
	</div>

	<div class="card-controls">
		<a class="btn btn-success-outline btn-block-xs"
			ng-click="ctrl.download()"
			gj-track-event="game-soundtrack-card:download"
			>
			<span class="jolticon jolticon-download"></span>
			<span translate>Download</span>
			<span class="jolticon-addon jolticon jolticon-musical-note-double"></span>
		</a>
	</div>

</gj-card>
