<div>

	<div class="audio-playlist-player clearfix">

		<app-audio-player
			v-if="currentSong"
			ref="player"
			:song="currentSong"
			@duration="durationEvent"
			@end="onSongEnded"
			/>

		<button
			class="audio-playlist-player-play btn btn-sparse"
			@click="mainSongButton"
			v-app-track-event="`audio-playlist:click:button`"
			>
			<app-jolticon :icon="currentSong ? 'stop' : 'play'" />
		</button>

		<div class="audio-playlist-player-track-info">
			<span class="audio-playlist-player-title">
				{{ currentSong ? currentSong.title : songs[0].title }}
			</span>

			<transition mode="out-in">
				<span class="audio-playlist-player-playtime text-muted anim-fade-enter anim-fade-leave"
					v-if="currentTime && duration"
					>
					{{ (currentTime || 0) | time }}
					/
					{{ (duration || 0) | time }}
				</span>
			</transition>
		</div>

		<app-audio-scrubber
			:duration="duration"
			:current-time="currentTime"
			@seek="seek"
			/>
	</div>

	<ul class="audio-playlist list-unstyled">
		<li
			v-for="( song, i ) of songs"
			:key="song.id"
			:class="{ active: currentSong && song.id === currentSong.id }"
			>
			<span
				class="audio-playlist-play"
				@click="toggleSong( song )"
				>
				<a class="btn btn-sparse btn-sm" v-app-track-event="`audio-playlist:click:icon`">
					<app-jolticon
						:icon="currentSong && song.id === currentSong.id ? 'stop' : 'play-small'"
						/>
				</a>
			</span>
			<span class="audio-playlist-number text-muted">
				{{ (i + 1) }}.
			</span>
			<a
				class="audio-playlist-song-title link-unstyled"
				@click="toggleSong( song )"
				v-app-track-event="`audio-playlist:click:title`"
				>
				{{ song.title }}
			</a>
		</li>
	</ul>

</div>
