<div class="audio-playlist-player">

	<gj-audio-player
		song="ctrl.currentSong"
		song-duration="ctrl.currentSongDuration"
		song-current-time="ctrl.currentSongTime"
		on-song-ended="ctrl.onSongEnded()">
	</gj-audio-player>

	<button class="audio-playlist-player-play btn btn-sparse" ng-click="ctrl.mainSongButton()" gj-track-event="audio-playlist:click:button">
		<span class="jolticon"
			ng-class="{ 'jolticon-play': !ctrl.currentSong, 'jolticon-stop': ctrl.currentSong }"></span>
	</button>

	<div class="audio-playlist-player-track-info">
		<span class="audio-playlist-player-title">{{ ctrl.currentSong.title || ctrl.songs[0].title }}</span>

		<span class="audio-playlist-player-playtime text-muted anim-fade-in anim-fade-leave" ng-if="ctrl.currentSongTime && ctrl.currentSongDuration">
			{{ (ctrl.currentSongTime || 0) | time }}
			/
			{{ (ctrl.currentSongDuration || 0) | time }}
		</span>
	</div>

	<gj-audio-scrubber
		song-duration="ctrl.currentSongDuration"
		song-current-time="ctrl.currentSongTime">
	</gj-audio-scrubber>
</div>

<ul class="audio-playlist">
	<li ng-repeat="song in ctrl.songs track by song.id"
		ng-class="{ active: song.id == ctrl.currentSong.id }">

		<span class="audio-playlist-play" ng-click="ctrl.toggleSong( song )">
			<a class="btn btn-sparse" gj-track-event="audio-playlist:click:icon">
				<span class="jolticon" ng-class="'jolticon-' + (song.id == ctrl.currentSong.id ? 'stop' : 'play-small')"></span>
			</a>
		</span>
		<span class="audio-playlist-number text-muted">{{ ::($index + 1) }}.</span>
		<a class="audio-playlist-song-title link-unstyled" ng-click="ctrl.toggleSong( song )" gj-track-event="audio-playlist:click:title">{{ ::song.title }}</a>
	</li>
</ul>
