@require '~styles/variables'

/**
 * Audio Playlist Player
 */
.audio-playlist-player
	margin-bottom: $line-height-computed

	&-play
		float: left

	&-title
		font-weight: bold

	&-playtime
		font-size: $font-size-small
		margin-left: 10px

	&-track-info
		margin-left: 55px

	.audio-scrubber
		margin-top: 10px
		margin-left: 55px

/**
 * Audio Playlist
 */
.audio-playlist

	&-number
		display: inline-block
		min-width: 25px
		margin-right: 5px
		font-size: $font-size-small
		text-align: right

	> li
		margin-bottom: 5px

		&.active
			.audio-playlist-song-title
				font-weight: bold
