.ad-video
	text-align: center

.ad-video-player
	position: relative
	margin: 0 auto
	width: 910px
	height: 512px

.ad-video-player-ad-container
.ad-video-player-embed-video
.ad-video-player-play-overlay
	position: absolute
	top: 0
	left: 0
	width: 910px
	height: 512px

.ad-video-player-play-overlay
	background-color: rgba( $black, 0.2 )
	cursor: pointer
	z-index: 2

.ad-video-player .loading
	display: none
	position: relative
	padding-top: $grid-gutter-width
	z-index: 2

.ad-video-teardown

	.ad-video-player-play-overlay
		display: none

	.loading
		display: block
