$list-group-item-padding = 10px
$list-group-item-padding-thin = 7px
$list-group-icon-width = 30px
$list-group-addon-width = 40px
$list-group-drag-handle-width = 20px

.list-group
	margin-bottom: $font-size-base
	border: 1px solid $gray-lightest
	border-radius: $border-radius-base

	&.nowrap
		white-space: nowrap

.fill-lightest .list-group
	border-color: $gray-lighter

.list-group-item
	position: relative
	display: block
	padding: $list-group-item-padding
	text-decoration: none
	border-bottom: 1px solid $gray-lightest
	background-color: $white
	color: $text-color !important

	&:last-child
		border-bottom: 0

	a&
		user-select: none

	a&:hover
	&.active
		background-color: $gray-lightest

	// Disabled styling.
	&.disabled
		cursor: default
		color: $gray-lighter !important

		a&
			cursor: not-allowed

		&:hover
			background-color: $white

	// Badges should float right and be correctly aligned vertically.
	.badge
		position: relative
		float: right
		vertical-align: text-top
		top: 3px  // Arbitrary
		margin-left: $list-group-item-padding

	// Tags should be correctly aligned vertically.
	.tag
		position: relative
		vertical-align: text-top
		top: 1px  // Arbitrary
		margin-right: $list-group-item-padding

	// Pink tags are notifications and should be floated right.
	.tag-pink
		margin-right: 0
		margin-left: $list-group-item-padding
		float: right

	// When it has an icon, bump all content in a bit.
	&.has-icon
		padding-left: $list-group-icon-width + ($list-group-item-padding / 2)

		// There is some extra spacing on the right from the browser adding spacing in between inline items.
		// That's why we have to subtract 1px and 2px. It ends up being around 3px of extra spacing we have to subtract.
		> .jolticon
		> .list-group-item-heading > .jolticon
		.list-group-item-icon
			position: relative
			top: 2px  // Arbitrary
			margin-right: -2px
			margin-left: -($list-group-icon-width + 1px)
			width: ($list-group-icon-width)
			text-align: center

	&.has-addon
		padding-left: $list-group-addon-width + $list-group-item-padding

	&.has-icon.has-addon
		padding-left: ($list-group-addon-width + $list-group-icon-width + ($list-group-item-padding / 2))

	&.has-drag-handle
		padding-right: $list-group-drag-handle-width + $list-group-item-padding

.list-group-item-heading
	margin-top: 0
	margin-bottom: $list-group-item-padding

	&:last-child
		margin-bottom: 0

.list-group-item-text
	font-size: $font-size-small
	color: $text-muted !important
	margin-bottom: $list-group-item-padding

	&:last-child
		margin-bottom: 0

.list-group-item-addon
	position: absolute
	top: 0
	left: 0
	bottom: 0
	width: 40px
	text-align: center
	background-color: $gray-lightest
	padding: $list-group-item-padding 0

.list-group.thin
	.list-group-item
		font-size: $font-size-small
		padding-top: $list-group-item-padding-thin
		padding-bottom: $list-group-item-padding-thin

		.badge
			top: 1px

		.tag
			top: -1px

// When a list-group is inside a popover.
// Darken the borders.
.popover .list-group
	border-color: $gray-lighter
	margin-bottom: $list-group-item-padding

	&:last-child
		margin-bottom: 0

	 > .list-group-item
		border-color: $gray-lighter
		border-left: 0
		border-right: 0
		border-radius: 0 !important

/**
 * Dark list groups
 */
.list-group-dark
	border: 0

	.list-group-item
		border: 0
		background-color: $gray-darkest
		color: $gray-lightest !important

		&.disabled
			color: $gray !important

			&:hover
				background-color: $gray-darkest
				color: $gray !important

		> .jolticon
		> .list-group-item-heading > .jolticon
			color: $gray-light

		a
			color: $white !important
			&:hover
				color: $gj-blue !important

		&:first-child
			border-top-left-radius: $border-radius-base
			border-top-right-radius: $border-radius-base

		&:last-child
			border-bottom-left-radius: $border-radius-base
			border-bottom-right-radius: $border-radius-base

	.list-group-item-heading
		color: $gray-lighter

	.list-group-item-addon
		poaition: relative
		background-color: transparent

		&::before
			content: ''
			position: absolute
			right: 0
			top: 50%
			width: 1px
			height: 25px
			line-height: @height
			margin-top: -(@height / 2)
			overflow: hidden
			background-color: $gray-dark


	a.list-group-item:hover
	.list-group-item.active
		color: $white !important
		background-color: $gray-darker

		> .jolticon
		> .list-group-item-heading > .jolticon
			color: $gray-lightest
