.badge
	theme-prop('background-color', 'bg-offset')
	theme-prop('color', 'fg')
	display: inline-block
	mind-width: 10px
	padding: 3px 7px
	font-size: $font-size-tiny
	font-weight: bold
	line-height: 1
	vertical-align: baseline
	white-space: nowrap
	text-align: center
	border-radius: 10px

	&:empty
		display: none

.badge-highlight
	theme-prop('background-color', 'highlight')
	theme-prop('color', 'highlight-fg')

.badge-notice
	theme-prop('background-color', 'notice')
	theme-prop('color', 'notice-fg')

.badge
	&.warning, nav.pills > ul > li > .active > &.warning
		@extend .badge-notice

	nav.pills > ul > li > .active > &
		@extend .badge-highlight

	nav.pills > ul > li > a > &
		margin-left: 3px
