.badge
	display: inline-block
	mind-width: 10px
	padding: 3px 7px
	font-size: $font-size-tiny
	font-weight: bold
	color: $gray
	background-color: $gray-lighter
	line-height: 1
	vertical-align: baseline
	white-space: nowrap
	text-align: center
	border-radius: 10px

	&:empty
		display: none

.badge-active
	background-color: var(--theme-green)
	color: var(--theme-dark-green)

.badge-pink
	background-color: var(--theme-pink)
	color: $white

.badge-highlight
	theme-prop('background-color', 'downlight')
	theme-prop('color', 'highlight')

.badge-notice
	theme-prop('background-color', 'notice')
	color: $black

.badge
	&.warning, nav.pills > ul > li > .active > &.warning
		@extend .badge-pink

	nav.pills > ul > li > .active > &
		@extend .badge-active

	nav.pills > ul > li > a > &
		margin-left: 3px
