$fireside-post-like-widget-avatar-size = 50px

.fireside-post-like-widget

	// .btn
	// 	border-radius: 30px
	// 	border: 1px solid $gray-lighter
	// 	background-color: transparent
	// 	color: $text-color !important
	// 	line-height: 30px

	// 	&:hover
	// 		background-color: $white !important
	// 		color: $black !important
	// 		border: 1px solid $gray-light

	// 		.jolticon
	// 			color: $black !important

	// 	&:active
	// 		transform: scale( 0.95 )

	// 	.jolticon
	// 		color: $text-color !important
	// 		line-height: 32px

.fireside-post-like-widget-avatar
	margin-top: $line-height-computed
	position: relative
	display: inline-block

	.user-avatar
		display: inline-block
		width: $fireside-post-like-widget-avatar-size
		vertical-align: middle
		margin: 0 5px

	.jolticon
		position: absolute
		bottom: 0
		right: 0
		background-color: $gj-pink
		border-radius: 100%
		border: 1px solid $white
		padding: 2px
		color: $white
		pointer-events: none

.fireside-post-like-widget-avatar-more
	display: inline-block
	border-radius: 100%
	background-color: $gj-pink
	width: $fireside-post-like-widget-avatar-size
	height: @width
	line-height: 1
	color: $white !important
	vertical-align: middle
	font-size: $font-size-small
	cursor: default

	strong
		display: block
		padding-top: 9px
