<div class="fireside-post-like-widget" v-app-auth-required>
	<button
		class="btn"
		@click="toggleLike"
		:class="{
			'btn-outline': !post.user_like,
			'btn-success-outline active': post.user_like,
			'btn-sparse': isSparse,
			'btn-circle': circle,
		}"
		v-app-tooltip="tooltip"
		>
		<span class="btn-badge" v-if="!isSparse && post.like_count">
			{{ post.like_count | number }}
		</span>

		<app-jolticon icon="heart" />

		<span class="hidden-xs" v-if="!isSparse">
			<translate v-if="!post.user_like">
				Like This Post
			</translate>
			<translate v-else>Liked!</translate>
		</span>
	</button>
	<span class="blip filled" v-if="isSparse && post.like_count">
		<span class="blip-caret"></span>
		<span class="blip-count">{{ post.like_count | number }}</span>
	</span>
</div>
