.comment-widget-add-form
	position: relative

	> form
		margin-left: 100px

	.form-group
		margin-bottom: $line-height-computed

.comment-widget-add-form-user
	position: absolute
	top: 0
	left: 0
	width: 100px - ($grid-gutter-width / 2)

// When the form is in the comment list for a reply.
.comment-widget-comments

	.comment-widget-add-form
		margin-top: $line-height-computed

		> form
			margin-left: 200px

	.comment-widget-add-form-user
		left: 100px

@media $media-xs

	.comment-widget-add-form-user
		display: none

	.comment-widget-add-form > form
		margin-left: 0

	// Mobile replying.
	.comment-widget-comments .comment-widget-add-form > form
		margin-left: 0
		border-left: 3px solid $gray-lighter
		padding-left: ($grid-gutter-width-xs / 2)
