<div class="comment-widget-add-form">

	<div class="comment-widget-add-form-user">
		<app-user-avatar :user="app.user" />
	</div>

	<app-form name="commentAddForm">

		<app-form-group
			class="no-animate"
			name="comment"
			:label="$gettext( 'Leave a Comment' )"
			:hide-label="true"
			>

			<app-form-control-markdown
				preview-class="comment-widget-comment-content"
				preview-url="/comments/preview"
				markdown-mode="comments"
				:placeholder="$gettext( `Leave a comment...` )"
				/>

			<app-form-control-errors label="comment" />
		</app-form-group>

		<app-form-button icon="add-comment" class="btn-outline btn-block-xs">
			<translate>Add Comment</translate>
		</app-form-button>

	</app-form>

</div>
