<div class="comment-widget-add-form">

	<div class="comment-widget-add-form-user">
		<app-user-avatar :user="app.user" />
	</div>

	<app-form name="commentAddForm">

		<!--<form-group class="no-animate" name="comment" label="{{ 'Leave a Comment' | translate }}" hide-label="true">

			<div
				form-markdown-editor
				preview-class="comment-widget-comment-content"
				markdown-preview-url="/comments/preview"
				markdown-mode="comments"
				placeholder="{{ commentPlacholder }}"
				>
			</div>

			<control-errors label="comment"></control-errors>

		</form-group>-->

		<app-form-group
			class="no-animate"
			name="comment"
			:label="$gettext( 'Leave a Comment' )"
			:hide-label="true"
			>

			<app-form-control type="text" :placeholder="$gettext( 'Leave a comment...' )" />

		</app-form-group>

		<app-form-button icon="add-comment" class="btn-outline btn-block-xs">
			<translate>Add Comment</translate>
		</app-form-button>

	</app-form>

</div>
