<div id="comment-{{ comment.id }}" class="comment-widget-comment"
	ng-class="::{ 'comment-widget-comment-is-child': isChild, 'comment-widget-comment-highlighted': ctrl.highlightedComment == comment.id }"
	>

	<div class="comment-widget-comment-avatar">
		<span gj-user-avatar="::comment.user"></span>
	</div>

	<div class="comment-widget-comment-body">

		<div class="comment-widget-comment-title">
			<span ng-if="::isOwner" class="comment-widget-comment-owner tag visible-xs pull-right">Owner</span>
			<a ng-href="{{::profileUrl}}">{{::comment.user.display_name}}</a>
			<span class="comment-widget-comment-time" am-time-ago="comment.posted_on"></span>
			<span ng-if="::isOwner" class="comment-widget-comment-owner tag hidden-xs">Owner</span>
		</div>

		<gj-fade-collapse
			fade-collapse-height="300"
			fade-collapse-is-open="commentState.showFullComment"
			fade-collapse-is-required="commentState.canToggleComment"
			>
			<div class="comment-widget-comment-content" ng-bind-html="::comment.comment_compiled"></div>
		</gj-fade-collapse>

		<a class="hidden-text-expander"
			ng-if="::commentState.canToggleComment"
			ng-click="commentState.showFullComment = !commentState.showFullComment"
			gj-track-event="comment-widget:toggle-full-content"
			></a>

		<div class="comment-widget-comment-meta">

			<!--
				Comment Voting
			-->
			<a class="comment-widget-comment-voting"
				ng-if="::canVote"
				gj-tooltip="{{ votingTooltip }}"
				ng-click="onVoteClick()"
				gj-track-event="comment-widget:vote-click"
				>

				<!--
					We make it a sparse i-button that's highlighted when they've voted on the comment,
					otherwise it's just a simple clear icon.
				-->
				<span ng-class="{ 'i-button sparse active': ctrl.userVotes[comment.id] }">
					<span class="jolticon jolticon-thumbs-up"></span>
				</span>

				<span class="blip light" ng-class="{ filled: comment.votes || comment.votes != '0' }">
					<span class="blip-caret"></span>
					<span class="blip-count">{{ comment.votes }}</span>
				</span>
			</a>

			<span class="blip light no-caret"
				ng-if="::!canVote"
				ng-class="{ filled: comment.votes || comment.votes != '0' }"
				gj-tooltip="{{ votingTooltip }}"
				gj-track-event="comment-widget:vote-click-notallowed"
				>

				<span class="blip-count">{{ comment.votes }}</span>
			</span>

			<!--
				Only show the reply if isn't a child.
				We only show it on the parent comments.
			-->
			<span ng-if="::!isChild">
				<span class="dot-separator"></span>

				<a ng-click="onReplyClick()" gj-track-event="comment-widget:reply-click">
					<span class="jolticon jolticon-reply"></span>
					Reply
				</a>

			</span>

			<span ng-if="::canFollow">
				<span class="dot-separator"></span>

				<a
					ng-if="!ctrl.subscriptions[ comment.id ]"
					ng-click="onFollowClick()"
					gj-tooltip="Get notifications when people post new replies to this thread."
					gj-track-event="comment-widget:follow-click"
					>
					<span class="jolticon jolticon-subscribe"></span>
					Follow Thread
				</a>

				<a class="following"
					ng-if="ctrl.subscriptions[ comment.id ]"
					ng-click="onFollowClick()"
					gj-track-event="comment-widget:follow-click"
					>
					<span class="jolticon jolticon-subscribed"></span>
					Stop Following
				</a>
			</span>

		</div>

	</div>

</div>
