<div id="comment-{{ $ctrl.comment.id }}"
	ng-class="::{
		'comment-widget-comment-highlighted': $ctrl.commentWidget.highlightedComment == $ctrl.comment.id
	}"
	>

	<div class="timeline-list-item-icon">
		<span gj-user-avatar="::$ctrl.comment.user"></span>
	</div>

	<div class="timeline-list-item-main">

		<a class="timeline-list-item-title"
			ng-href="{{ ::profileUrl }}"
			>
			{{ ::$ctrl.comment.user.display_name }}
			<span ng-if="::$ctrl.isOwner" class="comment-widget-comment-owner tag"
				translate
				translate-comment="This signifies the owner of what the comment is posted on. For example, if this is a comment by the game's developer."
				>
				Owner
			</span>
		</a>

		<div class="timeline-list-item-meta">

			<small class="text-muted" title="{{ ::$ctrl.comment.posted_on | date:'medium' }}" am-time-ago="::$ctrl.comment.posted_on"></small>

			<span class="dot-separator"></span>

			<!-- Permalink -->
			<!--<a class="link-muted"
				ng-click="$ctrl.copyPermalink()"
				gj-tooltip="{{ 'Copy Link to Clipboard' | translate }}"
				>
				<span class="jolticon jolticon-link middle"></span>
			</a>-->

			<a class="link-muted"
				ng-if="$ctrl.comment.user.id == $ctrl.app.user.id"
				ng-click="$ctrl.edit()"
				gj-tooltip="{{ 'Edit Comment' | translate }}"
				>
				<span class="jolticon jolticon-edit middle"></span>
			</a>

			<a class="link-muted"
				ng-if="::$ctrl.app.user"
				gj-popover-trigger="comment-more-options-{{ ::$ctrl.comment.id }}"
				gj-tooltip="{{ 'Options' | translate }}"
				>
				<span class="jolticon jolticon-ellipsis-h middle"></span>
			</a>

		</div>

		<div class="timeline-list-item-details">

			<div ng-if="!$ctrl.isEditing">
				<gj-fade-collapse
					fade-collapse-height="300"
					fade-collapse-is-open="$ctrl.showFullComment"
					fade-collapse-is-required="$ctrl.canToggleComment"
					>
					<div class="comment-widget-comment-content"
						ng-bind-html="$ctrl.commentWidget.isShowingTranslations && $ctrl.commentWidget.translations[ $ctrl.comment.id ].content ? $ctrl.commentWidget.translations[ $ctrl.comment.id ].content : $ctrl.comment.comment_compiled"
						>
					</div>
				</gj-fade-collapse>

				<a class="hidden-text-expander"
					ng-if="::$ctrl.canToggleComment"
					ng-click="$ctrl.showFullComment = !$ctrl.showFullComment"
					gj-track-event="comment-widget:toggle-full-content"
					></a>
			</div>

			<div ng-if="$ctrl.isEditing">
				<gj-comment-widget-comment-form
					gj-comment="$ctrl.comment"
					gj-form-cancel-handler="$ctrl.closeEdit()"
					gj-form-submit-handler="$ctrl.closeEdit()"
					>
				</gj-comment-widget-comment-form>
				<br>
			</div>

			<div class="comment-widget-comment-videos" ng-if="::$ctrl.comment.videos.length">
				<div class="row">
					<gj-comment-video-thumbnail
						class="col-xs-6"
						ng-repeat="video in $ctrl.comment.videos | limitTo:($ctrl.showAllVideos ? 10 : 2) track by video.id"
						video="::video"
						>
					</gj-comment-video-thumbnail>
				</div>

				<div class="comment-widget-comment-videos-more-link"
					ng-if="$ctrl.comment.videos.length > 2 && !$ctrl.showAllVideos"
					>
					<a class="small link-muted"
						ng-click="$ctrl.showAllVideos = true"
						translate
						translate-params-$count="$ctrl.comment.videos.length - 2"
						gj-track-event="comment-widget:more-videos"
						>
						+{{ $count }} more videos
					</a>
				</div>
				<br>
			</div>

			<div ng-if="::$ctrl.app.user">

				<a class="btn btn-success-outline btn-sm btn-sparse"
					ng-if="::$ctrl.canVote"
					ng-class="{ active: $ctrl.comment.user_vote }"
					gj-tooltip="{{ $ctrl.votingTooltip }}"
					ng-click="$ctrl.toggleVote()"
					gj-track-event="comment-widget:vote-click"
					>
					<span class="btn-badge" ng-if="$ctrl.comment.votes">
						{{ $ctrl.comment.votes }}
					</span>
					<span class="jolticon jolticon-thumbs-up"></span>
				</a>

				<a class="btn btn-outline btn-sm"
					ng-click="$ctrl.reply()"
					gj-track-event="comment-widget:reply-click"
					>
					<span class="jolticon jolticon-reply"></span>
					<span translate>Reply</span>
				</a>

				<span ng-if="::$ctrl.canFollow">
					<a class="btn btn-outline btn-sm"
						ng-if="!$ctrl.comment.subscription"
						ng-click="$ctrl.toggleFollow()"
						gj-tooltip="{{ 'Get notifications when people post new replies to this thread.' | translate }}"
						gj-track-event="comment-widget:follow-click"
						>
						<span class="jolticon jolticon-subscribe"></span>
						<span translate>Follow Thread</span>
					</a>

					<a class="btn btn-outline btn-sm active"
						ng-if="!!$ctrl.comment.subscription"
						ng-click="$ctrl.toggleFollow()"
						gj-track-event="comment-widget:follow-click"
						>
						<span class="jolticon jolticon-subscribe"></span>
						<span translate>Following</span>
					</a>
				</span>

			</div>

		</div>

		<div class="timeline-list comment-widget-replies"
			ng-if="$ctrl.childComments.length || $ctrl.isReplying"
			>

			<!--
				Child Comments
			-->
			<div class="timeline-list-item"
				ng-repeat="childComment in $ctrl.childComments || [] track by childComment.id"
				>

				<gj-comment-widget-comment
					comment="childComment"
					is-child="true"
					>
				</gj-comment-widget-comment>

			</div>

			<!--
				Don't include the form in the DOM until we need it.
				When the if is triggered, the scroll-when will trigger and we'll scroll to
				the reply box.
			-->
			<div class="timeline-list-item"
				ng-if="$ctrl.isReplying"
				gj-scroll-when
				>
				<gj-comment-widget-comment-form
					show-user="true"
					resource="{{ ::$ctrl.comment.resource }}"
					resource-id="::$ctrl.comment.resourceId"
					parent-id="::$ctrl.comment.id"
					gj-form-submit-handler="$ctrl.onCommentAdd( formModel, true )"
					>
				</gj-comment-widget-comment-form>
			</div>
		</div>

	</div>

</div>

<gj-popover
	popover-id="comment-more-options-{{ ::$ctrl.comment.id }}"
	popover-append-to-body="true"
	>
	<div class="list-group list-group-dark">
		<a class="list-group-item has-icon"
			ng-if="::$ctrl.app.user.id != $ctrl.comment.user"
			ng-click="$ctrl.report( $ctrl.comment )"
			>
			<span class="jolticon jolticon-flag warning"></span>
			<span translate>Report Comment</span>
		</a>
		<a class="list-group-item"
			ng-if="::$ctrl.app.user.id == $ctrl.comment.user.id"
			ng-click="$ctrl.remove()"
			>
			<span class="jolticon jolticon-remove warning"></span>
			<span translate>Remove</span>
		</a>
		<a class="list-group-item has-icon"
			ng-if="::$ctrl.app.user.permission_level >= 3"
			ng-href="{{ ::$ctrl.env.baseUrl }}/moderate/comments/remove/{{ ::$ctrl.comment.id }}"
			target="_blank"
			>
			<span class="jolticon jolticon-remove warning"></span>
			Remove (Mod)
		</a>
	</div>
</gj-popover>
