<div
	class="comment-widget"
	>
	<app-loading v-if="!hasBootstrapped && !hasError" />
	<div v-else-if="hasError" class="alert alert-notice">
		<translate>Couldn't fetch comments.</translate>
	</div>
	<div v-else-if="hasBootstrapped">
		<app-message-thread-add v-if="user">
			<form-comment
				:resource="resource"
				:resource-id="resourceId"
				:autofocus="autofocus"
				@submit="_onCommentAdd"
				/>
		</app-message-thread-add>
		<div v-else class="alert">
			<p>You must be <a v-app-auth-required :href="loginUrl">logged in</a> to Game Jolt to post a comment.</p>
		</div>

		<app-message-thread>
			<app-comment-widget-comment
				v-for="comment of comments"
				:key="comment.id"
				:resource="resource"
				:resource-id="resourceId"
				:comment="comment"
				:children="childComments[ comment.id ]"
				/>
		</app-message-thread>

		<div v-if="shouldShowLoadMore" class="page-cut">
			<button class="btn btn-outline" @click="loadMore" v-app-track-event="`comment-widget:more`">
				<translate>Load More</translate>
			</button>
		</div>

		<app-loading v-if="isLoading" class="loading-centered" />

	</div>
</div>
