@require '~styles/variables'

.comment-widget

	&-translate-btn
		margin-bottom: $line-height-computed * 2

		@media $media-sm-up
			margin-left: 100px

.translate-button-branding
	font-weight: normal
	font-size: $font-size-tiny
	text-transform: none
	display: block

	@media $media-sm-up
		display: inline
		margin-left: 20px
