<div
	class="comment-widget"
	:id="`comment-pagination-${id}`"
	>
	<div v-if="!hasBootstrapped && !hasError">
		<app-loading />
	</div>

	<div v-if="hasError">
		<div class="alert alert-warning">
			<translate>Couldn't fetch comments for game.</translate>
		</div>
	</div>

	<div v-if="hasBootstrapped && !hasError">
		<div v-if="!noIntro">
			<div v-if="!commentsCount">
				<p>
					<em><translate>Let us know your thoughts and be the first to comment!</translate></em>
				</p>
				<br>
			</div>
		</div>

		<!-- Comment Add Form -->
		<div>
			<app-message-thread-add v-if="app.user">
				<app-comment-widget-add
					:resource="resource"
					:resource-id="resourceId"
					@submit="onCommentAdd"
					/>
			</app-message-thread-add>

			<div v-else class="alert alert-info">
				<p>You must be <a v-app-auth-required :href="loginUrl">logged in</a> to Game Jolt to post a comment.</p>
			</div>
		</div>

		<div class="timeline-list-item" v-if="allowTranslate">
			<div class="timeline-list-item-main">

				<div class="comment-widget-translate-btn">
					<button class="btn btn-block btn-outline"
						v-if="!isShowingTranslations"
						@click="toggleTranslate"
						>
						<translate
							:translate-params="{ lang }"
							translate-comment="%{ lang } is passed in with the current language"
							>
							Translate comments to %{ lang }
						</translate>
					</button>

					<div v-if="isShowingTranslations">
						<button class="btn btn-block btn-outline"
							@click="toggleTranslate"
							>
							<translate>Show original comments</translate>
							<span class="translate-button-branding">
								<translate>translated by</translate>
								<img src="./google-logo.png" alt="Google">
							</span>
						</button>

						<br>
						<div class="small text-muted text-center">
							<translate>Automatic translations use Google Translate and may not be completely accurate.</translate>
						</div>
					</div>
				</div>

			</div>
		</div>

		<app-loading-fade :is-loading="isLoading || isTranslating">

			<!-- Comments List -->
			<app-message-thread>
				<app-comment-widget-comment
					v-for="comment of comments"
					:key="comment.id"
					:resource="resource"
					:resource-id="resourceId"
					:comment="comment"
					:children="childComments[ comment.id ]"
					/>
			</app-message-thread>

		</app-loading-fade>

		<app-message-thread-pagination
			v-if="perPage && parentCount"
			:pager="true"
			:items-per-page="perPage"
			:total-items="parentCount"
			:current-page="currentPage"
			:prevent-url-change="true"
			@pagechange="onPageChange"
			/>

	</div>
</div>
