<div class="content-block-editor">
	<div class="container">

		<div class="row">
			<div class="col-xs-9">

				<p>
					<strong translate>
						Insert Widgets
					</strong>
					<span class="text-muted small" translate>Widgets are pieces of placeholder code that are replaced by dynamic content.</span>
				</p>

				<a class="btn"
					gj-tooltip="{{ 'Will show your game\'s media (screenshots, videos, etc).' | translate }}"
					ng-click="$ctrl.insertAtCaret( '{% game-media %}' )"
					translate
					>
					Game Media
				</a>
				<a class="btn"
					gj-tooltip="{{ 'Will show your game\'s description.' | translate }}"
					ng-click="$ctrl.insertAtCaret( '{% game-description %}' )"
					translate
					>
					Game Description
				</a>
				<a class="btn"
					gj-tooltip="{{ 'Will show your game\'s packages.' | translate }}"
					ng-click="$ctrl.insertAtCaret( '{% game-packages %}' )"
					translate
					>
					Game Packages
				</a>
				&nbsp;
				&nbsp;
				<a class="link-muted"
					ng-href="{{ $ctrl.env.helpBaseUrl }}/widgets-sites"
					target="_blank"
					translate
					>
					View all...
				</a>

			</div>
			<div class="col-xs-3">
				<gj-loading
					ng-if="$ctrl.isPreviewLoading"
					class="pull-right"
					hide-label="true"
					loading-stationary="true"
					>
				</gj-loading>
			</div>
		</div>


		<!--
			The ng-repeat will refresh the DOM any time the current block changes.
			This will create a new editor instance and refresh the block content.
		-->
		<gj-content-block-editor-form
			gj-site-content-block="$ctrl.contentBlock"
			>
		</gj-content-block-editor-form>

	</div>
</div>
