<div
	ref="container"
	class="content-editor-controls"
	:style="{
		'top': this.top,
		'right': this.right,
	}"
	>
	<transition name="fade">
		<div v-if="visible">
			<transition name="fade">
				<span
					v-if="!this.collapsed"
					>
					<app-button
						v-if="capabilities.media"
						circle
						icon="screenshot"
						@click="onClickMedia"
						v-app-tooltip="$gettext('Upload Media')"
						/>
					<app-button
						v-if="capabilities.hasAnyEmbed"
						circle
						icon="embed"
						@click="onClickEmbed"
						v-app-tooltip="$gettext('Embed Content')"
						/>
					<app-button
						v-if="capabilities.codeBlock"
						circle
						icon="brackets"
						@click="onClickCodeBlock"
						v-app-tooltip="$gettext('Add Code Block')"
						/>
					<app-button
						v-if="capabilities.blockquote"
						circle
						icon="blockquote"
						@click="onClickBlockquote"
						v-app-tooltip="$gettext('Add Quote')"
						/>
					<app-button
						v-if="capabilities.hr"
						circle
						icon="hr"
						@click="onClickHr"
						v-app-tooltip="$gettext('Add Horizontal Rule')"
						/>
					<app-button
						v-if="capabilities.table"
						circle
						icon="insert-table"
						@click="onClickTable"
						v-app-tooltip="$gettext('Add Table')"
						/>
					<span class="dot-separator"></span>
				</span>
			</transition>
			<app-button
				class="-add-button"
				:class="{
					'-add-button-rotated': !collapsed
				}"
				circle
				:icon="'add'"
				@click="onClickExpand"
				/>
		</div>
	</transition>
</div>
