.content-editor-controls
	position: absolute

.-add-button
	transition: transform 0.2s ease

.-add-button-rotated
	transform: rotate(-45deg);

.fade-enter-active, .fade-leave-active
	transition: opacity 0.2s

.fade-enter, .fade-leave-to
	opacity: 0
