.site-selector
	display: inline-block

// We only slim out the padding of the "more" selector if the logo is visible.
.site-selector-more
	.site-selector-logo-visible &
		padding-left: 5px !important
		padding-right: 5px !important

.site-selector-list-item
	display: block
	padding: 15px

	@media $media-xs
		text-align: center

	&:hover
		background-color: $gray-dark
