<app-card>

	<div class="-icon">
		<app-jolticon
			big
			:icon="providerIcon"
			/>
	</div>

	<div class="-body">
		<h5>
			<translate>{{ providerName }}</translate>
		</h5>

		<template v-if="!isAccountSet">
			<p>
				<small class="text-muted">
					<translate>Not linked.</translate>
				</small>
			</p>

			<app-button
				v-if="!preview"
				primary
				icon="link"
				@click="onLink()"
				>
				<translate>Link Now</translate>
			</app-button>
		</template>
		<template v-else>
			<p>
				<strong v-if="platformLink">
					<a :href="platformLink" target="_blank">
						{{ account.name }}
					</a>
				</strong>
				<span v-else>
						{{ account.name }}
				</span>
			</p>

			<div v-if="!preview">
				<app-button
					@click="onSync()"
					>
					<translate>Sync</translate>
				</app-button>
				<app-button
					trans
					@click="onUnlink()"
					>
					<translate>Unlink</translate>
				</app-button>
			</div>
		</template>

		<slot />
	</div>

</app-card>
