.sheet
	border-width: 1px
	rounded-corners()
	theme-prop('border-color', 'bg-subtle')
	border-style: solid
	theme-prop('background-color', 'bg')

.sheet-padded
	padding: ($grid-gutter-width / 2)

.sheet-elevate
	elevate-1()

.sheet-split
	border-top-width: 1px
	theme-prop('border-color', 'bg-subtle')
	border-style: solid
