nav.pills
	font-family: $font-family-heading

	& > ul
		@extend .clearfix
		padding-left: 0
		margin-bottom: $line-height-computed

		& > li
			margin: 0
			list-style: none
			float: left

			&:last-child a
				margin-right: 0

			& > a
				display: inline-block
				padding: 7px 10px
				margin-right: 3px
				margin-bottom: 3px
				cursor: pointer
				color: $gray-light
				// Don't allow to select the text when clicking on a "tab".
				user-select: none

				&:hover
					theme-prop('background-color', 'bg-offset')

				&.active
					background-color: var(--theme-dark-green)
					color: var(--theme-green)
