nav.pills
	font-family: $font-family-heading

	& > ul
		@extend .clearfix
		padding-left: 0
		margin-bottom: $line-height-computed

		& > li
			margin: 0
			list-style: none
			float: left

			&:last-child a
				margin-right: 0

			& > a
				theme-prop('color', 'light')
				display: inline-block
				padding: 7px 10px
				margin-right: 3px
				margin-bottom: 3px
				cursor: pointer
				// Don't allow to select the text when clicking on a "tab".
				user-select: none

				&:hover
					theme-prop('background-color', 'bg-offset')

				&.active
					theme-prop('background-color', 'highlight')
					theme-prop('color', 'highlight-fg')

				// Nothing needs to be clickable or anything within the item,
				// since all the events happen within the <a> tag.
				& > *
					pointer-events: none
