<transition appear>
	<div tabindex="-1" role="dialog" class="modal"
		:style="{
			'z-index': 1050 + modal.index,
		}"
		v-shortkey="[ 'esc' ]"
		@shortkey="dismissEsc"
		@click="dismissBackdrop"
		>

		<div class="modal-dialog"
			:class="{
				'modal-sm': modal.size === 'sm',
				'modal-lg': modal.size === 'lg',
			}"
			>

			<div
				class="modal-content"
				@mouseover="isHoveringContent = true"
				@mouseout="isHoveringContent = false"
				>
				<slot />
			</div>

		</div>

	</div>
</transition>
