@require '~styles/variables'
@require '../../stylus/common/mixins'

// Container that the modal scrolls within
.modal
	overflow: auto
	overflow-y: scroll
	position: fixed
	top: 0
	right: 0
	bottom: 0
	left: 0
	z-index: $zindex-modal
	-webkit-overflow-scrolling: touch

	// Prevent Chrome on Windows from adding a focus outline. For details, see
	// https://github.com/twbs/bootstrap/pull/10951.
	outline: 0

	// Animation stuff.
	// Tells vue that we want to animate for this long, basically.
	&.v-enter-active
	&.v-leave-active
		transition-duration: 300ms

		.modal-dialog
			transition: opacity 300ms

		.modal-content
			transition: transform 300ms $strong-ease-out

	&.v-enter
	&.v-leave-to
		.modal-dialog
			opacity: 0

		.modal-content
			transform: scale3d( 0.8, 0.8, 0.8 )

	.modal-dialog
		opacity: 1

	.modal-content
		transform: none

// Shell div to position the modal with bottom padding
.modal-dialog
	position: relative
	width: 100%
	margin-top: 40px

	@media $media-sm
		padding-left: $modal-padding
		padding-right: $modal-padding

	@media $media-sm-up
		margin: 30px auto
		margin-top: 100px

.modal-content
	position: relative
	background-clip: padding-box
	outline: none // Remove focus outline from opened modal
	background-color: $modal-content-bg
	box-shadow: 0 5px 15px rgba( $black, 0.5 )

	@media $media-sm-up
		border-radius: $border-radius-base

@media $media-sm-up

	.modal-sm.modal-dialog
		width: 600px

@media $media-md-up

	.modal-dialog
		width: $container-md
