<transition appear>
	<div
		class="-container"
		role="dialog"
		tabindex="-1"
		:style="{
			'z-index': zIndex,
		}"
		@click="dismissBackdrop"
		>
		<div
			class="modal"
			:class="{
				'modal-sm': modal.size === 'sm',
				'modal-lg': modal.size === 'lg',
				'modal-full': modal.size === 'full',
			}"
			>
			<app-theme
				class="modal-content"
				:theme="theme"
				@mouseover.native="isHoveringContent = true"
				@mouseout.native="isHoveringContent = false"
				>
				<slot />
			</app-theme>
		</div>
	</div>
</transition>
