<transition appear>
	<div
		class="-container"
		role="dialog"
		tabindex="-1"
		:style="{
			'z-index': zIndex,
		}"
		v-shortkey="[ 'esc' ]"
		@shortkey="dismissEsc"
		@click="dismissBackdrop"
		>
		<div
			class="modal"
			:class="{
				'modal-sm': modal.size === 'sm',
				'modal-lg': modal.size === 'lg',
				'modal-full': modal.size === 'full',
			}"
			>
			<div class="modal-content fill-darker"
				@mouseover="isHoveringContent = true"
				@mouseout="isHoveringContent = false"
				>
				<slot />
			</div>
		</div>
	</div>
</transition>
