<div
	class="scroll-scroller"
	:class="{
		'-horizontal': horizontal,
		'-hide-scrollbar': hideScrollbar,
		'-overlay': shouldOverlay,
	}"
	>
	<template v-if="shouldOverlay">
		<div class="simplebar-scroll-content">
			<div class="simplebar-content">
				<app-scroll-inview-parent
					v-if="isMounted"
					:container="_inviewContainer"
					:velocity="inviewVelocity"
					:throttle="inviewThrottle"
					>
					<slot />
				</app-scroll-inview-parent>
			</div>
		</div>
	</template>
	<template v-else>
		<app-scroll-inview-parent
			v-if="isMounted"
			:container="_inviewContainer"
			:velocity="inviewVelocity"
			:throttle="inviewThrottle"
			>
			<slot />
		</app-scroll-inview-parent>
	</template>
</div>
