@require '~styles/variables'
@require '~styles-lib/mixins'

.-like-btn
	margin-bottom: $line-height-computed

	@media $media-sm-up
		float: right

.-user-info
	clearfix()

	.-avatar
		float: left
		width: 50px

	.-content
		float: left
		margin-left: 10px

	.social-widgets
		margin-top: 5px
		margin-bottom: 0
