@require '~styles/variables'
@require '~styles-lib/mixins'

.message-thread-item
	.-meta
		margin-bottom: 1em

	.-byline
		text-overflow()

	.-author
		margin-right: 2px

		a
			font-weight: bold

	.-meta-sub
		a
			margin-right: 2px

		.tag
			margin-right: 5px

	.-meta-slot
		float: right
		margin-left: 5px

		>>> .tag
			vertical-align: middle
