@require '~styles/variables'
@require '../../../stylus/common/mixins'

.message-thread-item

	&-meta
		margin-bottom: 1em

	&-byline
		text-overflow()

	&-author
		margin-right: 2px

		a
			font-weight: bold

	&-meta-sub

		a
			margin-right: 2px

		.tag
			margin-right: 5px

	&-replies

		&-split
			margin-left: -(($timeline-list-icon-size / 2) + $timeline-list-avatar-margin)
			border-top: 2px solid $gray-lighter

			@media $media-xs
				margin-right: -($grid-gutter-width-xs / 2)

		// Target the div within so that the slot doesn't take up any space until
		// there's content within it
		& > div
			margin-bottom: $line-height-computed
			margin-left: ($timeline-list-icon-size / 2) - $timeline-list-avatar-margin
