@require '~styles/variables'
@require '../../../stylus/common/mixins'

.message-thread-item
	// Will show the avatar on mobile.
	>>> .timeline-list-item-bubble
		@media $media-xs
			display: block
			float: left
			margin-top: 6px // Align it better with the text to the right.
			margin-left: ($grid-gutter-width-xs / 2)
			margin-right: ($grid-gutter-width-xs / 2)
			width: $button-line-height
			height: $button-line-height
			line-height: $button-line-height
			border: 0

	.-meta
		margin-bottom: 1em

	.-byline
		text-overflow()

	.-author
		margin-right: 2px

		a
			font-weight: bold

	.-meta-sub
		a
			margin-right: 2px

		.tag
			margin-right: 5px

	.-meta-slot
		float: right
