<div>

	<div class="list-group" id="theme-selector-selection">
		<a class="list-group-item has-icon" v-app-popover-trigger="`theme-selector-options`">
			<div v-if="!current">
				<app-jolticon icon="chevron-down" class="list-group-item-icon" />
				<em><translate>Please choose a theme...</translate></em>
			</div>
			<div v-else>
				<div class="list-group-item-heading">
					<app-jolticon icon="chevron-down" class="list-group-item-icon" />
					<strong>{{ current.name }}</strong>
					<small class="text-muted">
						by @{{ current.user.username }}
					</small>
				</div>
				<p class="list-group-item-text">
					{{ current.description }}
				</p>
			</div>
		</a>
	</div>

	<app-popover
		popover-id="theme-selector-options"
		track-element-width="#theme-selector-selection"
		>
		<div class="list-group">
			<a
				class="list-group-item"
				v-for="template of templates"
				:key="template.id"
				@click="select( template.id )"
				>
				<div class="list-group-item-heading">
					<strong>{{ template.name }}</strong>
					<small class="text-muted">
						by @{{ template.user.username }}
					</small>
				</div>
				<p class="list-group-item-text">
					{{ template.description }}
				</p>
			</a>
		</div>
	</app-popover>

</div>
