<div class="list-group" id="theme-selector-selection">
	<a class="list-group-item has-icon" gj-popover-trigger="theme-selector-options">
		<div ng-if="!$ctrl.current">
			<span class="list-group-item-icon jolticon jolticon-chevron-down"></span>
			<em translate>Please choose a theme...</em>
		</div>
		<div ng-if="$ctrl.current">
			<div class="list-group-item-heading">
				<span class="list-group-item-icon jolticon jolticon-chevron-down"></span>
				<strong>{{ $ctrl.current.name }}</strong>
				<small class="text-muted">
					by @{{ $ctrl.current.user.username }}
				</small>
			</div>
			<p class="list-group-item-text">
				{{ $ctrl.current.description }}
			</p>
		</div>
	</a>
</div>

<gj-popover popover-id="theme-selector-options" popover-track-element-width="#theme-selector-selection">
	<div class="list-group">
		<a class="list-group-item"
			ng-repeat="template in $ctrl.templates track by template.id"
			ng-click="$ctrl.select( template.id )"
			>
			<div class="list-group-item-heading">
				<strong>{{ template.name }}</strong>
				<small class="text-muted">
					by @{{ template.user.username }}
				</small>
			</div>
			<p class="list-group-item-text">
				{{ template.description }}
			</p>
		</a>
	</div>
</gj-popover>
