@require '~styles/variables'
@require '~styles-lib/mixins'

.translate-lang-selector
	theme-prop('color', 'light')
	theme-prop('border-color', 'light')
	margin: $line-height-computed auto
	width: auto
	background-color: transparent

	&:focus, &:active
		border-color: $white

	@media $media-sm-up
		display: inline-block
		margin: 0
