@require '~styles/variables'

.loading-fade
	position: relative

	&-img
		position: absolute
		top: 20px
		left: 0
		right: 0
		z-index: 1

	&-loading

		.loading-fade-content
			opacity: 0.5
			pointer-events: none
