<section class="section" id="styleguide-jolticons">

	<h1 class="section-header">Jolticons</h1>

	<p>Add a jolticon by making a <code>span</code> element with a <code>.jolticon</code> class and the identifier of your choice.</p>

	<div class="row">
		<div class="col-xs-2 text-center"
			ng-repeat="jolticon in [
				'medal',
				'verified',
				'itchio',
				'indiedb',
				'audio',
				'radio-circle-filled',
				'radio-circle',
				'dashboard',
				'playlist',
				'chat-in-game',
				'chat-idle',
				'chat-online',
				'chat-offline',
				'pedestals-numbers',
				'pedestals-trophy',
				'step-backward',
				'step-forward',
				'fast-backward',
				'fast-forward',
				'backward',
				'forward',
				'pause',
				'stop',
				'play-small',
				'help-circle',
				'exclamation-circle',
				'info-circle',
				'user',
				'youtube',
				'unity',
				'silverlight',
				'java',
				'flash',
				'html5',
				'users',
				'friends',
				'token',
				'ellipsis-h',
				'ellipsis-v',
				'link',
				'world',
				'plug',
				'brackets',
				'markdown',
				'search',
				'broadcast',
				'feed',
				'grid-3',
				'grid-2',
				'media-list',
				'arrows',
				'arrows-h',
				'arrows-v',
				'steam',
				'desura',
				'heart',
				'box-empty',
				'comment',
				'box',
				'filter',
				'home',
				'chevron-right',
				'chevron-down',
				'chevron-left',
				'chevron-up',
				'musical-note',
				'musical-note-double',
				'wrench',
				'windows',
				'video',
				'user-messages',
				'twitter-bird',
				'twitter',
				'tumblr',
				'trophy',
				'trans-left',
				'trans-down',
				'thumbs-up',
				'thumbs-down',
				'tags',
				'tag',
				'subscribed',
				'subscribe',
				'stream',
				'sign-out',
				'sign-in',
				'share',
				'settings',
				'screenshot',
				'rss',
				'retweet',
				'reply-all',
				'reply',
				'remove',
				'reddit',
				'play-round',
				'play',
				'pencil-box',
				'other-os',
				'number-sign',
				'notifications',
				'notice-round',
				'notice',
				'minus',
				'minimize',
				'menu',
				'mac',
				'logout',
				'linux',
				'light-on',
				'light-off',
				'left',
				'layers',
				'key-diagonal',
				'inactive',
				'gift',
				'gamejolt',
				'game',
				'friends-online',
				'friend-requests',
				'friend-remove-2',
				'friend-remove-1',
				'friend-add-2',
				'friend-add-1',
				'folder-open',
				'folder',
				'facebook',
				'exp',
				'email',
				'edit',
				'download-box',
				'download',
				'cog',
				'claim',
				'checkbox',
				'check',
				'chart',
				'bundle',
				'books',
				'bolt-unfilled',
				'bolt-filled',
				'blog-article',
				'at-sign',
				'add-comment',
				'add-box',
				'add',
				'active',
				'thumbtack',
				'flag',
				'lock',
				'unlock',
				'calendar',
				'calendar-minus',
				'calendar-x',
				'calendar-plus',
				'calendar-check',
				'calendar-grid',
				'credit-card',
				'rom',
			] | orderBy:jolticon">
			<p tooltip=".jolticon-{{ jolticon }}">
				<span class="jolticon jolticon-{{ jolticon }} big"></span>
			</p>
		</div>

	</div>

</section>
