.jolticon-medal:before {
	content: "\e68e";
}

.jolticon-verified:before {
	content: "\e68f";
}

.jolticon-itchio:before {
	content: "\e690";
}

.jolticon-indiedb:before {
	content: "\e691";
}

.jolticon-audio:before {
	content: "\e692";
}

.jolticon-radio-circle-filled:before {
	content: "\e693";
}

.jolticon-radio-circle:before {
	content: "\e694";
}

.jolticon-dashboard:before {
	content: "\e695";
}

.jolticon-playlist:before {
	content: "\e68d";
}

.jolticon-chat-in-game:before {
	content: "\e67e";
}

.jolticon-chat-idle:before {
	content: "\e67f";
}

.jolticon-chat-online:before {
	content: "\e680";
}

.jolticon-chat-offline:before {
	content: "\e681";
}

.jolticon-pedestals-numbers:before {
	content: "\e682";
}

.jolticon-pedestals-trophy:before {
	content: "\e683";
}

.jolticon-step-backward:before {
	content: "\e684";
}

.jolticon-step-forward:before {
	content: "\e685";
}

.jolticon-fast-backward:before {
	content: "\e686";
}

.jolticon-fast-forward:before {
	content: "\e687";
}

.jolticon-backward:before {
	content: "\e688";
}

.jolticon-forward:before {
	content: "\e689";
}

.jolticon-pause:before {
	content: "\e68a";
}

.jolticon-stop:before {
	content: "\e68b";
}

.jolticon-play-small:before {
	content: "\e68c";
}

.jolticon-help-circle:before {
	content: "\e66e";
}

.jolticon-exclamation-circle:before {
	content: "\e673";
}

.jolticon-info-circle:before {
	content: "\e674";
}

.jolticon-user:before {
	content: "\e675";
}

.jolticon-youtube:before {
	content: "\e676";
}

.jolticon-unity:before {
	content: "\e677";
}

.jolticon-silverlight:before {
	content: "\e678";
}

.jolticon-java:before {
	content: "\e679";
}

.jolticon-flash:before {
	content: "\e67a";
}

.jolticon-html5:before {
	content: "\e67b";
}

.jolticon-users:before {
	content: "\e67c";
}

.jolticon-friends:before {
	content: "\e67d";
}

.jolticon-token:before {
	content: "\e672";
}

.jolticon-ellipsis-h:before {
	content: "\e66a";
}

.jolticon-ellipsis-v:before {
	content: "\e66b";
}

.jolticon-link:before {
	content: "\e66c";
}

.jolticon-world:before {
	content: "\e66d";
}

.jolticon-plug:before {
	content: "\e66f";
}

.jolticon-brackets:before {
	content: "\e670";
}

.jolticon-markdown:before {
	content: "\e671";
}

.jolticon-search:before {
	content: "\e65f";
}

.jolticon-broadcast:before {
	content: "\e660";
}

.jolticon-feed:before {
	content: "\e661";
}

.jolticon-grid-3:before {
	content: "\e662";
}

.jolticon-grid-2:before {
	content: "\e663";
}

.jolticon-media-list:before {
	content: "\e664";
}

.jolticon-arrows:before {
	content: "\e665";
}

.jolticon-arrows-h:before {
	content: "\e666";
}

.jolticon-arrows-v:before {
	content: "\e667";
}

.jolticon-steam:before {
	content: "\e668";
}

.jolticon-desura:before {
	content: "\e669";
}

.jolticon-heart:before {
	content: "\e65e";
}

.jolticon-box-empty:before {
	content: "\e65d";
}

.jolticon-comment:before {
	content: "\e65c";
}

.jolticon-box:before {
	content: "\e65b";
}

.jolticon-filter:before {
	content: "\e65a";
}

.jolticon-home:before {
	content: "\e659";
}

.jolticon-chevron-right:before {
	content: "\e658";
}

.jolticon-chevron-down:before {
	content: "\e657";
}

.jolticon-chevron-left:before {
	content: "\e656";
}

.jolticon-chevron-up:before {
	content: "\e655";
}

.jolticon-musical-note:before {
	content: "\e654";
}

.jolticon-musical-note-double:before {
	content: "\e653";
}

.jolticon-wrench:before {
	content: "\e600";
}

.jolticon-windows:before {
	content: "\e601";
}

.jolticon-video:before {
	content: "\e602";
}

.jolticon-vertical:before {
	content: "\e603";
}

.jolticon-user-messages:before {
	content: "\e604";
}

.jolticon-twitter-bird:before {
	content: "\e605";
}

.jolticon-twitter:before {
	content: "\e606";
}

.jolticon-tumblr:before {
	content: "\e607";
}

.jolticon-trophy:before {
	content: "\e608";
}

.jolticon-trans-left:before {
	content: "\e609";
}

.jolticon-trans-down:before {
	content: "\e60a";
}

.jolticon-thumbs-up:before {
	content: "\e60b";
}

.jolticon-thumbs-down:before {
	content: "\e60c";
}

.jolticon-tags:before {
	content: "\e60d";
}

.jolticon-tag:before {
	content: "\e60e";
}

.jolticon-subscribed:before {
	content: "\e60f";
}

.jolticon-subscribe:before {
	content: "\e610";
}

.jolticon-stream:before {
	content: "\e611";
}

.jolticon-sign-out:before {
	content: "\e612";
}

.jolticon-sign-in:before {
	content: "\e613";
}

.jolticon-share:before {
	content: "\e614";
}

.jolticon-settings:before {
	content: "\e615";
}

.jolticon-screenshot:before {
	content: "\e616";
}

.jolticon-rss:before {
	content: "\e617";
}

.jolticon-retweet:before {
	content: "\e618";
}

.jolticon-reply-all:before {
	content: "\e619";
}

.jolticon-reply:before {
	content: "\e61a";
}

.jolticon-remove:before {
	content: "\e61b";
}

.jolticon-reddit:before {
	content: "\e61c";
}

.jolticon-play-round:before {
	content: "\e61d";
}

.jolticon-play:before {
	content: "\e61e";
}

.jolticon-pencil-box:before {
	content: "\e61f";
}

.jolticon-other-os:before {
	content: "\e620";
}

.jolticon-number-sign:before {
	content: "\e621";
}

.jolticon-notifications:before {
	content: "\e622";
}

.jolticon-notice-round:before {
	content: "\e623";
}

.jolticon-notice:before {
	content: "\e624";
}

.jolticon-minus:before {
	content: "\e625";
}

.jolticon-minimize:before {
	content: "\e626";
}

.jolticon-menu:before {
	content: "\e627";
}

.jolticon-mac:before {
	content: "\e628";
}

.jolticon-logout:before {
	content: "\e629";
}

.jolticon-linux:before {
	content: "\e62a";
}

.jolticon-light-on:before {
	content: "\e62b";
}

.jolticon-light-off:before {
	content: "\e62c";
}

.jolticon-left:before {
	content: "\e62d";
}

.jolticon-layers:before {
	content: "\e62e";
}

.jolticon-key-diagonal:before {
	content: "\e62f";
}

.jolticon-inactive:before {
	content: "\e630";
}

.jolticon-horizontal:before {
	content: "\e631";
}

.jolticon-help:before {
	content: "\e632";
}

.jolticon-gift:before {
	content: "\e633";
}

.jolticon-gamejolt:before {
	content: "\e634";
}

.jolticon-game:before {
	content: "\e635";
}

.jolticon-friends-online:before {
	content: "\e636";
}

.jolticon-friend-requests:before {
	content: "\e637";
}

.jolticon-friend-remove-2:before {
	content: "\e638";
}

.jolticon-friend-remove-1:before {
	content: "\e639";
}

.jolticon-friend-add-2:before {
	content: "\e63a";
}

.jolticon-friend-add-1:before {
	content: "\e63b";
}

.jolticon-folder-open:before {
	content: "\e63c";
}

.jolticon-folder:before {
	content: "\e63d";
}

.jolticon-facebook:before {
	content: "\e63e";
}

.jolticon-exp:before {
	content: "\e63f";
}

.jolticon-email:before {
	content: "\e640";
}

.jolticon-edit:before {
	content: "\e641";
}

.jolticon-download-box:before {
	content: "\e642";
}

.jolticon-download:before {
	content: "\e643";
}

.jolticon-cog:before {
	content: "\e644";
}

.jolticon-claim:before {
	content: "\e645";
}

.jolticon-checkbox:before {
	content: "\e646";
}

.jolticon-check:before {
	content: "\e647";
}

.jolticon-chart:before {
	content: "\e648";
}

.jolticon-bundle:before {
	content: "\e649";
}

.jolticon-books:before {
	content: "\e64a";
}

.jolticon-bolt-unfilled:before {
	content: "\e64b";
}

.jolticon-bolt-filled:before {
	content: "\e64c";
}

.jolticon-blog-article:before {
	content: "\e64d";
}

.jolticon-at-sign:before {
	content: "\e64e";
}

.jolticon-add-comment:before {
	content: "\e64f";
}

.jolticon-add-box:before {
	content: "\e650";
}

.jolticon-add:before {
	content: "\e651";
}

.jolticon-active:before {
	content: "\e652";
}
