.jolticon-google-plus:before {
    content: "\e9a0";
}
.jolticon-rom:before {
    content: "\e99f";
}
.jolticon-thumbtack:before {
    content: "\e900";
}
.jolticon-flag:before {
    content: "\e901";
}
.jolticon-offline:before {
    content: "\e902";
}
.jolticon-verified:before {
    content: "\e903";
}
.jolticon-radio-circle-filled:before {
    content: "\e904";
}
.jolticon-radio-circle:before {
    content: "\e905";
}
.jolticon-medal:before {
    content: "\e906";
}
.jolticon-itchio:before {
    content: "\e907";
}
.jolticon-indiedb:before {
    content: "\e908";
}
.jolticon-dashboard:before {
    content: "\e909";
}
.jolticon-checkbox:before {
    content: "\e90a";
}
.jolticon-box-empty:before {
    content: "\e90b";
}
.jolticon-audio:before {
    content: "\e90c";
}
.jolticon-unlock:before {
    content: "\e90d";
}
.jolticon-lock:before {
    content: "\e90e";
}
.jolticon-calendar-x:before {
    content: "\e90f";
}
.jolticon-calendar-minus:before {
    content: "\e910";
}
.jolticon-calendar-plus:before {
    content: "\e911";
}
.jolticon-calendar-check:before {
    content: "\e912";
}
.jolticon-calendar-grid:before {
    content: "\e913";
}
.jolticon-calendar:before {
    content: "\e914";
}
.jolticon-credit-card:before {
    content: "\e915";
}
.jolticon-youtube:before {
    content: "\e916";
}
.jolticon-wrench:before {
    content: "\e917";
}
.jolticon-world:before {
    content: "\e918";
}
.jolticon-windows:before {
    content: "\e919";
}
.jolticon-video:before {
    content: "\e91a";
}
.jolticon-users:before {
    content: "\e91b";
}
.jolticon-user-messages:before {
    content: "\e91c";
}
.jolticon-user:before {
    content: "\e91d";
}
.jolticon-unity:before {
    content: "\e91e";
}
.jolticon-twitter-bird:before {
    content: "\e91f";
}
.jolticon-twitter:before {
    content: "\e920";
}
.jolticon-tumblr:before {
    content: "\e921";
}
.jolticon-trophy:before {
    content: "\e922";
}
.jolticon-trans-left:before {
    content: "\e923";
}
.jolticon-trans-down:before {
    content: "\e924";
}
.jolticon-token:before {
    content: "\e925";
}
.jolticon-thumbs-up:before {
    content: "\e926";
}
.jolticon-thumbs-down:before {
    content: "\e927";
}
.jolticon-tags:before {
    content: "\e928";
}
.jolticon-tag:before {
    content: "\e929";
}
.jolticon-subscribed:before {
    content: "\e92a";
}
.jolticon-subscribe:before {
    content: "\e92b";
}
.jolticon-stream:before {
    content: "\e92c";
}
.jolticon-stop:before {
    content: "\e92d";
}
.jolticon-step-forward:before {
    content: "\e92e";
}
.jolticon-step-backward:before {
    content: "\e92f";
}
.jolticon-silverlight:before {
    content: "\e930";
}
.jolticon-sign-out:before {
    content: "\e931";
}
.jolticon-sign-in:before {
    content: "\e932";
}
.jolticon-share:before {
    content: "\e933";
}
.jolticon-settings:before {
    content: "\e934";
}
.jolticon-screenshot:before {
    content: "\e935";
}
.jolticon-rss:before {
    content: "\e936";
}
.jolticon-retweet:before {
    content: "\e937";
}
.jolticon-reply-all:before {
    content: "\e938";
}
.jolticon-reply:before {
    content: "\e939";
}
.jolticon-remove:before {
    content: "\e93a";
}
.jolticon-reddit:before {
    content: "\e93b";
}
.jolticon-plug:before {
    content: "\e93c";
}
.jolticon-play-small:before {
    content: "\e93d";
}
.jolticon-play-round:before {
    content: "\e93e";
}
.jolticon-playlist:before {
    content: "\e93f";
}
.jolticon-play:before {
    content: "\e940";
}
.jolticon-pencil-box:before {
    content: "\e941";
}
.jolticon-pedestals-trophy:before {
    content: "\e942";
}
.jolticon-pedestals-numbers:before {
    content: "\e943";
}
.jolticon-pause:before {
    content: "\e944";
}
.jolticon-other-os:before {
    content: "\e945";
}
.jolticon-number-sign:before {
    content: "\e946";
}
.jolticon-notifications:before {
    content: "\e947";
}
.jolticon-notice:before {
    content: "\e948";
}
.jolticon-notice-round:before {
    content: "\e949";
}
.jolticon-musical-note-double:before {
    content: "\e94a";
}
.jolticon-musical-note:before {
    content: "\e94b";
}
.jolticon-minus:before {
    content: "\e94c";
}
.jolticon-minimize:before {
    content: "\e94d";
}
.jolticon-menu:before {
    content: "\e94e";
}
.jolticon-markdown:before {
    content: "\e94f";
}
.jolticon-mac:before {
    content: "\e950";
}
.jolticon-logout:before {
    content: "\e951";
}
.jolticon-linux:before {
    content: "\e952";
}
.jolticon-link:before {
    content: "\e953";
}
.jolticon-light-on:before {
    content: "\e954";
}
.jolticon-light-off:before {
    content: "\e955";
}
.jolticon-left:before {
    content: "\e956";
}
.jolticon-layers:before {
    content: "\e957";
}
.jolticon-key-diagonal:before {
    content: "\e958";
}
.jolticon-java:before {
    content: "\e959";
}
.jolticon-info-circle:before {
    content: "\e95a";
}
.jolticon-inactive:before {
    content: "\e95b";
}
.jolticon-html5:before {
    content: "\e95c";
}
.jolticon-home:before {
    content: "\e95d";
}
.jolticon-help-circle:before {
    content: "\e95e";
}
.jolticon-heart:before {
    content: "\e95f";
}
.jolticon-gift:before {
    content: "\e960";
}
.jolticon-gamejolt:before {
    content: "\e961";
}
.jolticon-game:before {
    content: "\e962";
}
.jolticon-friends-online:before {
    content: "\e963";
}
.jolticon-friends:before {
    content: "\e964";
}
.jolticon-friend-requests:before {
    content: "\e965";
}
.jolticon-friend-remove-2:before {
    content: "\e966";
}
.jolticon-friend-remove-1:before {
    content: "\e967";
}
.jolticon-friend-add-2:before {
    content: "\e968";
}
.jolticon-friend-add-1:before {
    content: "\e969";
}
.jolticon-forward:before {
    content: "\e96a";
}
.jolticon-folder-open:before {
    content: "\e96b";
}
.jolticon-folder:before {
    content: "\e96c";
}
.jolticon-flash:before {
    content: "\e96d";
}
.jolticon-filter:before {
    content: "\e96e";
}
.jolticon-fast-forward:before {
    content: "\e96f";
}
.jolticon-fast-backward:before {
    content: "\e970";
}
.jolticon-facebook:before {
    content: "\e971";
}
.jolticon-exp:before {
    content: "\e972";
}
.jolticon-exclamation-circle:before {
    content: "\e973";
}
.jolticon-email:before {
    content: "\e974";
}
.jolticon-ellipsis-v:before {
    content: "\e975";
}
.jolticon-ellipsis-h:before {
    content: "\e976";
}
.jolticon-edit:before {
    content: "\e977";
}
.jolticon-download-box:before {
    content: "\e978";
}
.jolticon-download:before {
    content: "\e979";
}
.jolticon-comment:before {
    content: "\e97a";
}
.jolticon-cog:before {
    content: "\e97b";
}
.jolticon-claim:before {
    content: "\e97c";
}
.jolticon-chevron-up:before {
    content: "\e97d";
}
.jolticon-chevron-right:before {
    content: "\e97e";
}
.jolticon-chevron-left:before {
    content: "\e97f";
}
.jolticon-chevron-down:before {
    content: "\e980";
}
.jolticon-check:before {
    content: "\e981";
}
.jolticon-chat-online:before {
    content: "\e982";
}
.jolticon-chat-offline:before {
    content: "\e983";
}
.jolticon-chat-in-game:before {
    content: "\e984";
}
.jolticon-chat-idle:before {
    content: "\e985";
}
.jolticon-chart:before {
    content: "\e986";
}
.jolticon-bundle:before {
    content: "\e987";
}
.jolticon-brackets:before {
    content: "\e988";
}
.jolticon-box:before {
    content: "\e989";
}
.jolticon-books:before {
    content: "\e98a";
}
.jolticon-bolt-unfilled:before {
    content: "\e98b";
}
.jolticon-bolt-filled:before {
    content: "\e98c";
}
.jolticon-blog-article:before {
    content: "\e98d";
}
.jolticon-backward:before {
    content: "\e98e";
}
.jolticon-at-sign:before {
    content: "\e98f";
}
.jolticon-add-comment:before {
    content: "\e990";
}
.jolticon-add-box:before {
    content: "\e991";
}
.jolticon-add:before {
    content: "\e992";
}
.jolticon-active:before {
    content: "\e993";
}
.jolticon-desura:before {
    content: "\e994";
}
.jolticon-steam:before {
    content: "\e995";
}
.jolticon-arrows-v:before {
    content: "\e996";
}
.jolticon-arrows-h:before {
    content: "\e997";
}
.jolticon-arrows:before {
    content: "\e998";
}
.jolticon-media-list:before {
    content: "\e999";
}
.jolticon-grid-2:before {
    content: "\e99a";
}
.jolticon-grid-3:before {
    content: "\e99b";
}
.jolticon-feed:before {
    content: "\e99c";
}
.jolticon-broadcast:before {
    content: "\e99d";
}
.jolticon-search:before {
    content: "\e99e";
}
