<app-card
	class="game-package-card"
	:id="`game-package-card-${package.id}`"
	>

	<div
		class="game-package-card-pricing fill-gray"
		:class="{ 'game-package-card-pricing-owned fill-green': isOwned }"
		>

		<!-- If they own the package -->
		<div v-if="isOwned">
			<strong class="text-upper">
				<translate>Owned</translate>
			</strong>
		</div>

		<!-- If they don't own the package yet. -->
		<template v-else>

			<!-- Fixed Pricing -->
			<div v-if="sellable.type === 'paid'">
				<span class="game-package-card-pricing-sale-percentage"
					v-if="sale"
					>
					-{{ salePercentageOff }}%
				</span>
				<strong class="game-package-card-pricing-amount">
					{{ integer( pricing ) | currency( undefined, 0 ) }}<span class="game-package-card-pricing-decimal">.{{ decimal( pricing ) }}</span>
				</strong>
				<span class="game-package-card-pricing-amount game-package-card-pricing-amount-old"
					v-if="sale"
					>
					{{ integer( saleOldPricing ) | currency( undefined, 0 ) }}<span class="game-package-card-pricing-decimal">.{{ decimal( saleOldPricing ) }}</span>
				</span>
				<br><span class="game-package-card-pricing-tag muted">or more</span>
			</div>

			<!-- Pay What You Want -->
			<div v-else-if="sellable.type === 'pwyw'">
				<translate class="game-package-card-pricing-tag text-lower">
					Name Your Price
				</translate>
			</div>

			<!-- Free/Default -->
			<div v-else-if="sellable.type === 'free'">
				<strong class="game-package-card-pricing-amount text-upper">
					<translate>Free</translate>
				</strong>
			</div>
		</template>

	</div>

	<div class="card-title">
		<h4>
			{{ (package.title || game.title) }}
		</h4>
	</div>

	<div class="card-meta card-meta-sm">

		<!--
			In client, if the game is installed.
		-->
		<template v-if="localPackage">

			<!-- Reduce number of watches -->
			<template v-if="localPackage.isInstalling">
				<template v-if="!localPackage.isPatchPaused">
					<translate class="tag tag-blue text-upper" v-if="localPackage.isInstalling">Installing</translate>
					<translate class="tag tag-pink text-upper" v-if="localPackage.didInstallFail">Install Failed</translate>
				</template>
				<template v-if="localPackage.isPatchPaused">
					<translate class="tag text-upper">Install Paused</translate>
				</template>
			</template>
			<template v-if="localPackage.isUpdating">
				<template v-if="!localPackage.isPatchPaused">
					<translate class="tag tag-blue text-upper" v-if="localPackage.isUpdating">Updating</translate>
					<translate class="tag tag-pink text-upper" v-if="localPackage.didUpdateFail">Update Failed</translate>
				</template>
				<template v-if="localPackage.isPatchPaused">
					<translate class="tag text-upper">Update Paused</translate>
				</template>
			</template>
			<translate class="tag tag-active text-upper" v-if="localPackage.isSettled && !localPackage.isRunning">Installed</translate>
			<translate class="tag tag-active text-upper" v-if="localPackage.isRunning">Running</translate>
			<translate class="tag text-upper" v-if="localPackage.isRemoving">Removing</translate>
			<span class="dot-separator"></span>
		</template>

		<app-jolticon
			v-for="supportKey of card.platformSupport"
			:icon="card.platformSupportInfo[ supportKey ].icon"
			v-app-tooltip="card.platformSupportInfo[ supportKey ].tooltip"
			/>

		<span class="dot-separator" v-if="card.platformSupport.length"></span>

		<template v-if="card.showcasedRelease">
			<translate>Version:</translate>
			<strong>{{ card.showcasedRelease.version_number }}</strong>

			<span class="dot-separator"></span>

			<app-time-ago :date="card.showcasedRelease.published_on" />
		</template>
	</div>

	<div class="card-content card-sale-info" v-if="sale">
		<strong><translate>On sale!</translate></strong>
		<translate>Offer ends in</translate>
		<app-countdown :end="pricing.end" />
	</div>

	<div class="card-content" v-if="package.description">
		<app-fade-collapse
			:collapse-height="100"
			:is-open="showFullDescription"
			@require-change="canToggleDescription = $event"
			>

			<!--TODO: This used to link-->
			<div v-html="package.description"></div>

		</app-fade-collapse>

		<a class="hidden-text-expander"
			v-if="canToggleDescription"
			@click="showFullDescription = !showFullDescription"
			v-app-track-event="`game-package-card:show-full-description`"
			>
		</a>
	</div>

	<template v-if="!card.showcasedRelease">
		<br>
		<div class="alert alert-warning">
			<translate>No published releases yet.</translate>
		</div>
	</template>

	<div class="card-controls" v-else>

		<template v-if="sellable.type !== 'paid' || isOwned || isPartner">

			<!--
				The buttons are so different for client that we put them in a child component.
				They will only be available on WTTF since they're pushed in the client component there.'
			-->
			<template v-if="GJ_IS_CLIENT">
				<app-client-package-card-buttons
					:game="game"
					:package="package"
					:card="card"
					@click="buildClick( $event.build, $event.fromExtraSection )"
					@show-build-payment="showPayment"
					/>
			</template>

			<app-game-package-card-buttons
				v-else
				:package="package"
				:card="card"
				@click="buildClick( $event.build, $event.fromExtraSection )"
				/>

			<template v-if="isPartner && sellable.type === 'paid' && !isOwned">
				<br>
				<div class="alert alert-info">
					<translate>You get access to this package because you're a partner.</translate>
				</div>
				<hr>
			</template>

		</template>

		<template v-if="sellable.type === 'paid' && !isOwned">
			<div class="clearfix">
				<button class="btn btn-success-outline btn-block-xs" @click="showPayment()">
					<app-jolticon icon="heart" />
					<translate>Buy Now</translate>
				</button>

				<span class="game-package-card-payment-what-link">
					(<a class="link-help" @click="isWhatOpen = !isWhatOpen"><translate>What do you get?</translate></a>)
				</span>
			</div>
		</template>

	</div>

	<app-expand :when="isWhatOpen" class="package-card-well-expander">
		<div class="package-card-well">

			<div v-for="build of builds" :key="build.id">

				{{ build.primary_file.filename }}
				<small class="text-muted">({{ build.primary_file.filesize | filesize }})</small>

				<span class="package-card-well-os" v-for="os of [ 'windows', 'mac', 'linux', 'other' ]">
					<template v-if="build[ 'os_' + os ] || build[ 'os_' + os + '_64' ]">
						{{ card.platformSupportInfo[ os ].tooltip }}
					</template>

					<template v-if="!build[ 'os_' + os ] && build[ 'os_' + os + '_64' ]">
						64-bit
					</template>
				</span>

			</div>

			<br>

			<small><translate>And really warm feelings for supporting an indie developer!</translate></small>

		</div>
	</app-expand>

</app-card>
