@require '~styles/variables'

.game-package-card

	&-pricing
		float: right
		margin-top: -(15px + 4px)
		margin-left: 15px
		padding: 10px
		text-align: center
		border-radius: $border-radius-base

		&-amount
			color: $white

		&-decimal
			font-size: $font-size-small

		&-amount-old
			color: $gray-lighter
			margin-left: 5px
			text-decoration: line-through

			&
			.game-package-card-pricing-decimal
				font-size: $font-size-tiny

		&-tag
			color: $white
			font-size: $font-size-tiny
			font-weight: bold
			text-transform: uppercase

			&.muted
				color: $gray-lighter

		&-sale-percentage
			display: block
			margin-left: -10px
			margin-right: -10px
			margin-top: -10px
			margin-bottom: 5px
			padding-top: 3px
			padding-bottom: 3px
			font-weight: bold
			background-color: $gj-green
			color: $black

	.card
		padding-bottom: 0

	.card-sale-info
		color: $gj-green

	.card-controls
		margin-bottom: 15px

	.package-card-well-expander
		clear: both
		margin-left: -15px
		margin-right: -15px

	.package-card-well
		color: $gray-lightest
		padding: 15px
		border-top: 1px dashed $gray-light

		p:last-child
			margin-bottom: 0

		&-os
			margin: 0 5px
			font-size: $font-size-small

	&-payment-what-link
		display: block
		text-align: center
		font-size: $font-size-small

		@media $media-sm-up
			float: right
			display: inline-block
