<div class="list-group list-group-dark nowrap">

	<a class="list-group-item has-icon"
		ng-repeat="extraBuild in ::ctrl.extraBuilds track by extraBuild.icon + '-' + extraBuild.build.id"
		ng-click="ctrl.buildClick( extraBuild.build, true )"
		gj-track-event="game-package-card:more-options:click-option"
		>
		<span ng-class="::'jolticon jolticon-' + extraBuild.icon"></span>

		<!--
			We show the filename if it's an "Other" build.
		-->
		<span ng-if="::!extraBuild.build.os_other" ng-switch="::extraBuild.build.type">
			<span ng-switch-when="downloadable" translate>
				Download
			</span>
			<span ng-switch-when="rom"
				translate
				translate-params-platform="ctrl.emulatorInfo[ extraBuild.build.emulator_type ]"
				translate-comment="{{ platform }} will be the platform we are downloading for, such as Game Boy, NES, etc."
				>
				Download {{ platform }} ROM
			</span>
			<span ng-switch-default translate>
				Play
			</span>
		</span>

		<span ng-if="::extraBuild.build.os_other">
			{{ ::extraBuild.build.primary_file.filename }}
		</span>

		<small ng-if="::extraBuild.arch == '64'" translate>64-bit</small>

		<small class="text-muted">({{ ::extraBuild.build.primary_file.filesize | filesize }})</small>

		<!--
			If the version is different than the main release, then show it.
		-->
		<span class="tiny" ng-if="::extraBuild.build.game_release_id != ctrl.showcasedRelease.id">
			<em>v{{ ::extraBuild.build._release.version_number }}</em>
		</span>

		<small class="text-muted" ng-if="Environment.isClient && extraBuild.type != 'html'">
			<br>
			<em translate>(will open in browser)</em>
		</small>
	</a>
</div>
