<div ng-if="formState.checkoutStep == 'primary'">
	<p ng-if="::sellable.type == 'pwyw'">
		<span ng-if="::!pricing.amount" translate>
			Support this developer by paying what you're able.
		</span>
		<span ng-if="::pricing.amount" translate translate-scope="{ amount: gjCurrencyFilter( pricing.amount ) }">
			This developer suggests paying <strong>{{ amount }}</strong> for this package, but you're free to pay what you're able.
		</span>
	</p>

	<p ng-if="::sellable.type == 'paid'" translate translate-scope="{ amount: gjCurrencyFilter( pricing.amount ) }">
		The developer has set the price of this game to <strong>{{ amount }}</strong>, but you are able to support them by giving more.
	</p>

	<hr>
</div>

<form gj-form="formModel" name="paymentForm" class="game-package-card-payment-form">

	<div class="game-package-card-payment-form-spinner" ng-if="formState.shouldShowSpinner">
		<gj-loading class="loading-centered" label="{{ 'Processing order. Gonna be rad!' | translate }}"></gj-loading>
	</div>

	<div ng-if="!formState.isLoaded">
		<gj-loading></gj-loading>
	</div>

	<div ng-if="formState.isLoaded">
		<div ng-if="formState.checkoutStep == 'primary'" class="anim-fade-in no-animate-leave" ng-class="{ 'form-horizontal': !Screen.isXs, row: Screen.isXs }">
			<form-group name="price" label="{{ 'Name your price:' | translate }}" label-class="col-sm-4" class="no-animate">
				<div class="col-sm-8">

					<span class="game-package-card-payment-form-amount-input">
						<span class="game-package-card-payment-form-amount-input-currency">$</span>
						<input form-control="number"
							gj-focus-when
							gj-form-currency-input
							step="1"
							ng-min="::sellable.type == 'paid' ? pricing.amount / 100 : 1"
							>
					</span>

					<span class="text-muted" ng-if="::sellable.type == 'paid'" translate translate-scope="{ amount: gjCurrencyFilter( pricing.amount ) }">
						({{ amount }} or more)
					</span>

					<control-errors label="{{ 'price' | translate }}"></control-errors>
				</div>
			</form-group>

			<form-group name="email_address" label="{{ 'Email Address:' | translate }}" label-class="col-sm-4" class="no-animate" ng-if="!App.user">
				<div class="col-sm-8">
					<input form-control="text">
					<control-errors label="{{ 'email address' | translate }}"></control-errors>
				</div>
			</form-group>

			<div class="form-group no-animate">
				<label class="col-sm-4 control-label" translate>Checkout with:</label>
				<div class="col-sm-8">

					<div ng-if="cards.length">

						<div>
							<a class="saved-card" ng-click="useSavedCard( cards[0] )">
								<div class="saved-card-avatar">
									<img ng-src="{{ ::App.user.img_avatar }}" class="img-responsive" alt="" gj-tooltip="{{ App.user.display_name }}">
								</div>
								<div class="saved-card-content">
									<div class="saved-card-label" translate>
										Saved Card
									</div>
									<span class="tag tag-active">
										{{ ::cards[0].brand }}
									</span>
									<span class="saved-card-number">
										****
										{{ ::cards[0].last4 }}
									</span>
								</div>
							</a>
							<a class="saved-card-more" gj-tooltip="{{ 'Select another card' | translate }}">
								<span class="jolticon jolticon-chevron-down"></span>
							</a>
						</div>

						<br>
						<div class="line-thru line-thru-left">
							<span translate>or</span>
						</div>
						<br>
					</div>

					<button class="btn btn-outline"
						ng-disabled="!paymentForm.$valid"
						ng-click="checkoutCard()"
						>
						<span class="jolticon jolticon-credit-card"></span>
						<span ng-if="cards.length" translate>New Card</span>
						<span ng-if="!cards.length" translate>Card</span>
					</button>
					<button class="btn btn-outline"
						ng-disabled="!paymentForm.$valid"
						ng-click="collectAddress( 'paypal' )"
						>
						<span translate>PayPal</span>
					</button>
				</div>
			</div>
		</div>

		<div ng-if="formState.checkoutStep == 'address'" class="anim-fade-in no-animate-leave">

			<p>
				<span class="jolticon jolticon-info-circle"></span>
				<span translate>The EU sucks and makes us collect billing addresses for all orders. (ノಠ益ಠ)ノ彡┻━┻</span>
			</p>
			<br>

			<div class="row">
				<div class="col-sm-6">
					<form-group name="country" label="{{ 'Country' | translate }}" class="no-animate">
						<select form-control>
							<option ng-repeat="country in ::formState.countries track by country.code" value="{{ ::country.code }}">
								{{ country.name }}
							</option>
						</select>
						<control-errors></control-errors>
					</form-group>
				</div>
			</div>

			<form-group name="street1" label="{{ 'Street Address' | translate }}" class="no-animate">
				<input form-control="text">
				<control-errors></control-errors>
			</form-group>

			<div class="row">
				<div class="col-sm-6">
					<form-group name="region" label="{{ 'State/Province/County' | translate }}" class="no-animate">

						<input class="no-animate-leave" form-control="text" ng-if="!formState.regions">

						<select class="no-animate-leave" form-control ng-if="formState.regions">
							<option ng-repeat="region in ::formState.regions track by region.code" value="{{ ::region.code }}">
								{{ region.name }}
							</option>
						</select>

						<control-errors></control-errors>
					</form-group>
				</div>
				<div class="col-sm-6">
					<form-group name="postcode" label="{{ 'Zip/Postal Code' | translate }}" class="no-animate">
						<input form-control="text">
						<control-errors></control-errors>
					</form-group>
				</div>
			</div>

			<form-group name="reside_in_country" hide-label="true" class="no-animate">
				<label class="checkbox">
					<input form-control="checkbox">
					<span translate>I currently live in the country selected above</span>
				</label>
				<control-errors></control-errors>
			</form-group>

			<div class="form-group no-animate">
				<button class="btn btn-success-outline"
					ng-disabled="!paymentForm.$valid"
					ng-click="checkoutPaypal()"
					>
					<span class="jolticon jolticon-chevron-right"></span>
					<span translate>Proceed to PayPal</span>
				</button>
				<a class="pull-right small link-muted" ng-click="startOver()">
					&laquo;
					<span translate>Go back</span>
				</a>
			</div>

		</div>
	</div>

</form>
