.game-package-card-payment-form

	.form-group
		margin-bottom: $font-size-base

	label
		font-family: $font-family-base
		color: $white !important

	&-amount-input
		position: relative
		display: inline-block

		input
			display: inline-block
			width: 120px
			margin-right: 10px
			padding-left: 25px

		&-currency
			position: absolute
			content: '$'
			top: 7px
			left: 10px
			color: $gray-light
			z-index: 2
