<div ng-if="formState.checkoutStep == 'primary'">
	<p ng-if="::sellable.type == 'pwyw'">
		<span ng-if="::!pricing.amount" translate translate-scope="{ developer: game.developer.display_name }">
			Show {{ developer }} some <span class="jolticon jolticon-heart"></span> by supporting them.
		</span>
		<span ng-if="::pricing.amount" translate translate-scope="{ amount: gjCurrencyFilter( pricing.amount ) }">
			This developer suggests paying <strong>{{ amount }}</strong>, but you're able to pay what you want.
		</span>
	</p>

	<p ng-if="::sellable.type == 'paid'" translate translate-scope="{ amount: gjCurrencyFilter( pricing.amount ) }">
		The developer has set the price of this game to <strong>{{ amount }}</strong>, but you are able to support them by giving more.
	</p>

	<hr>
</div>

<form gj-form="formModel" name="paymentForm" class="game-package-card-payment-form">

	<div class="game-package-card-payment-form-spinner" ng-if="formState.isProcessing">
		<gj-loading class="loading-centered" label="{{ 'Processing order. Gonna be rad!' | translate }}"></gj-loading>
	</div>

	<div ng-if="!formState.isLoaded">
		<gj-loading></gj-loading>
	</div>

	<div ng-if="formState.isLoaded">
		<div ng-if="formState.checkoutStep == 'primary'" class="anim-fade-in no-animate-leave" ng-class="{ 'form-horizontal': !Screen.isXs, row: Screen.isXs }">
			<form-group name="amount" label="{{ 'Name your price:' | translate }}" label-class="col-sm-4" class="no-animate">
				<div class="col-sm-8">

					<span class="game-package-card-payment-form-amount-input">
						<span class="game-package-card-payment-form-amount-input-currency">$</span>
						<input form-control="number"
							gj-focus-when
							gj-form-currency-input
							step="1"
							ng-min="::sellable.type == 'paid' ? pricing.amount / 100 : minOrderAmount / 100"
							>
					</span>

					<span class="text-muted" ng-if="::sellable.type == 'paid'" translate translate-scope="{ price: gjCurrencyFilter( pricing.amount ) }">
						({{ price }} or more)
					</span>

					<control-errors label="{{ 'price' | translate }}">
						<control-error ng-if="sellable.type == 'pwyw'" when="min">
							Because of payment processing fees, we are not able to sell this game for less than {{ minOrderAmount | gjCurrency }}. You can click the link below to grab the download for free, though!
						</control-error>
					</control-errors>
				</div>
			</form-group>

			<form-group name="email_address" label="{{ 'Email Address:' | translate }}" label-class="col-sm-4" class="no-animate" ng-if="!App.user">
				<div class="col-sm-8">
					<input form-control="text">
					<control-errors label="{{ 'email address' | translate }}"></control-errors>
				</div>
			</form-group>

			<div class="form-group no-animate">
				<label class="col-sm-4 control-label" translate>Checkout with:</label>
				<div class="col-sm-8">

					<!--
						If they have any wallet funds, we try let them checkout with their wallet.
						If they don't have enough funds in their wallet for the order, we give 'em a message.
					-->
					<div gj-expand-when="paymentForm.$valid">
						<div ng-if="App.user && walletBalance > 0">
							<div ng-if="hasSufficientWalletFunds()">
								<a class="saved-card" ng-click="collectAddress( 'wallet' )" ng-class="{ disabled: formState.isLoadingMethods }">
									<div class="saved-card-avatar">
										<img ng-src="{{ ::App.user.img_avatar }}" class="img-responsive" alt="" gj-tooltip="{{ App.user.display_name }}">
									</div>
									<div class="saved-card-content">
										<div class="saved-card-label" translate>
											Your Wallet
										</div>
										<div class="small">
											<span translate>Balance:</span>
											{{ walletBalance / 100 | currency:'$' }}

											<span class="text-muted" ng-if="walletTax > 0">
												+{{ walletTax / 100 | currency:'$' }}
												<span translate>tax</span>
											</span>
										</div>
									</div>
								</a>

								<div class="line-thru line-thru-left">
									<span translate>or</span>
								</div>
							</div>

							<div ng-if="!hasSufficientWalletFunds()" class="alert alert-info" translate>
								You do not have enough funds in your Wallet for this order.
							</div>
						</div>

						<div ng-if="App.user && cards.length">
							<div>
								<a class="saved-card" ng-click="checkoutSavedCard( cards[0] )" ng-class="{ disabled: formState.isLoadingMethods }">
									<div class="saved-card-avatar">
										<img ng-src="{{ ::App.user.img_avatar }}" class="img-responsive" alt="" gj-tooltip="{{ App.user.display_name }}">
									</div>
									<div class="saved-card-content">
										<div class="saved-card-label" translate>
											Saved Card
										</div>
										<span class="tag tag-active">
											{{ ::cards[0].brand }}
										</span>
										<span class="saved-card-number">
											**
											{{ ::cards[0].last4 }}
										</span>
										<small class="text-muted" ng-if="cardsTax[ cards[0].id ].amount > 0">
											+{{ cardsTax[ cards[0].id ].amount / 100 | currency:'$' }}
											<span translate>tax</span>
										</small>
									</div>
								</a>

								<a class="saved-card-more"
									ng-if="cards.length > 1"
									ng-class="{ disabled: formState.isLoadingMethods }"
									gj-tooltip="{{ 'Select another card' | translate }}"
									gj-popover-trigger="payment-form-card-selector-{{ sellable.id }}"
									>
									<span class="jolticon jolticon-chevron-down"></span>
								</a>

								<gj-popover
									ng-if="cards.length > 1"
									popover-id="payment-form-card-selector-{{ sellable.id }}"
									popover-position-horizontal="left"
									>
									<div class="list-group list-group-dark">
										<a class="list-group-item"
											ng-click="checkoutSavedCard( cards )"
											ng-repeat="card in cards track by card.id"
											>
											<span class="tag tag-active">
												{{ ::card.brand }}
											</span>
											****
											{{ ::card.last4 }}
											<small class="text-muted" ng-if="cardsTax[ card.id ].amount > 0">
												+{{ cardsTax[ card.id ].amount / 100 | currency:'$' }}
												<span translate>tax</span>
											</small>
										</a>
									</div>
								</gj-popover>
							</div>

							<div class="line-thru line-thru-left">
								<span translate>or</span>
							</div>
						</div>
					</div>

					<button class="btn btn-outline"
						ng-disabled="!paymentForm.$valid"
						ng-click="checkoutCard()"
						>
						<span class="jolticon jolticon-credit-card"></span>
						<span ng-if="cards.length" translate>New Card</span>
						<span ng-if="!cards.length" translate>Card</span>
					</button>

					<button class="btn btn-outline"
						ng-disabled="!paymentForm.$valid"
						ng-click="collectAddress( 'paypal' )"
						>
						<span translate>PayPal</span>
					</button>

				</div>
			</div>
		</div>

		<div ng-if="formState.checkoutStep == 'address'" class="anim-fade-in no-animate-leave">

			<div class="alert alert-info">
				<span class="jolticon jolticon-info-circle"></span>
				<span translate>Because of international tax laws, we are required to collect this information.</span>
			</div>

			<div class="row">
				<div class="col-sm-6">
					<form-group name="country" label="{{ 'Country' | translate }}" class="no-animate">
						<select form-control>
							<option ng-repeat="country in ::formState.countries track by country.code" value="{{ ::country.code }}">
								{{ country.name }}
							</option>
						</select>
						<control-errors></control-errors>
					</form-group>
				</div>
			</div>

			<form-group name="street1" label="{{ 'Street Address' | translate }}" class="no-animate">
				<input form-control="text">
				<control-errors></control-errors>
			</form-group>

			<div class="row">
				<div class="col-sm-6">
					<form-group name="region" label="{{ 'State/Province/County' | translate }}" class="no-animate">

						<input class="no-animate-leave" form-control="text" ng-if="!formState.regions" ng-model-options="{ updateOn: 'blur default', debounce: { blur: 0, default: 1000 } }">

						<select class="no-animate-leave" form-control ng-if="formState.regions">
							<option ng-repeat="region in ::formState.regions track by region.code" value="{{ ::region.code }}">
								{{ region.name }}
							</option>
						</select>

						<control-errors></control-errors>
					</form-group>
				</div>
				<div class="col-sm-6">
					<form-group name="postcode" label="{{ 'Zip/Postal Code' | translate }}" class="no-animate">
						<input form-control="text">
						<control-errors></control-errors>
					</form-group>
				</div>
			</div>

			<div class="form-group no-animate">

				<!--
					For some reason the tax amount goes on top of this. Gotta manually hoist it on top.
				-->
				<div class="pull-right small" style="position: relative; z-index: 1">
					<a class="link-muted" ng-click="startOver()">
						&laquo;
						<span translate>Go back</span>
					</a>
				</div>

				<div ng-if="formState.checkoutType == 'paypal'">
					<button class="btn btn-success-outline"
						ng-disabled="!paymentForm.$valid"
						ng-click="checkoutPaypal()"
						>
						<span class="jolticon jolticon-chevron-right"></span>
						<span translate>Proceed to PayPal</span>
					</button>
				</div>

				<div ng-if="formState.checkoutType == 'wallet'">
					<gj-loading
						ng-if="!formState.calculatedAddressTax && paymentForm.$valid"
						class="loading-centered"
						label="Calculating tax..."
						>
					</gj-loading>

					<p class="anim-fade-in no-animate-leave small" ng-if="formState.calculatedAddressTax && formState.addressTaxAmount > 0">
						+{{ formState.addressTaxAmount / 100 | currency:'$' }}
						<span translate>tax</span>
						<span tooltip="{{ 'We are required to collect taxes on orders for certain regions.' | translate }}">
							<span class="jolticon jolticon-help-circle text-muted"></span>
						</span>
					</p>

					<div ng-if="!hasSufficientWalletFunds()" class="alert alert-info" translate>
						You do not have enough funds in your Wallet for this order.
					</div>

					<button class="btn btn-success-outline"
						ng-disabled="!paymentForm.$valid || !formState.calculatedAddressTax || !hasSufficientWalletFunds()"
						ng-click="checkoutWallet()"
						>
						<span class="jolticon jolticon-chevron-right"></span>
						<span translate>Buy Using Wallet</span>
						<small class="text-muted" ng-if="formState.calculatedAddressTax">
							{{ formModel.amount + (formState.addressTaxAmount / 100) | currency:'$' }}
						</small>
					</button>
				</div>
			</div>

		</div>
	</div>

</form>
