@require '~styles/variables'
@require '../../stylus/common/mixins'

.datetime-picker
	clearfix()

	>>> .datepicker-table
		float: left
		margin-right: ($grid-gutter-width / 2)

		@media $media-xs
			float: none
			margin-right: 0

	>>> .timepicker
		float: left

		@media $media-xs
			float: none
			margin-top: $line-height-computed
