<table class="timepicker">
	<tbody>
		<tr class="text-center">
			<td><a @click="incrementHours()" class="timepicker-link">
				<app-jolticon icon="chevron-up" :big="true" />
			</a></td>
			<td>&nbsp;</td>
			<td><a @click="incrementMinutes()" class="timepicker-link">
				<app-jolticon icon="chevron-up" :big="true" />
			</a></td>
			<td v-show="showMeridian"></td>
		</tr>
		<tr>
			<td style="width: 50px;" class="form-group">
				<app-form-control
					ref="hours"
					v-model="hours"
					@changed="updateHours()"
					:class="['text-center', { invalid: invalidHours }]"
					:readonly="readonlyInput"
					:maxlength="2"
					:rules="{
						max: 2,
					}"
					/>
			</td>
			<td>:</td>
			<td style="width: 50px;" class="form-group">
				<app-form-control
					ref="minutes"
					v-model="minutes"
					@changed="updateMinutes()"
					:class="['text-center', { invalid: invalidMinutes }]"
					:readonly="readonlyInput"
					maxlength="2"
					:rules="{
						max: 2,
					}"
					/>
			</td>
			<td v-show="showMeridian">
				<button
					type="button"
					class="timepicker-btn text-center"
					@click.prevent="toggleMeridian()"
					>
					{{meridian}}
				</button>
			</td>
		</tr>
		<tr class="text-center">
			<td><a @click="decrementHours()" class="timepicker-link">
				<app-jolticon icon="chevron-down" :big="true" />
			</a></td>
			<td>&nbsp;</td>
			<td><a @click="decrementMinutes()" class="timepicker-link">
				<app-jolticon icon="chevron-down" :big="true" />
			</a></td>
			<td v-show="showMeridian"></td>
		</tr>
	</tbody>
</table>
