.page-error
	text-align: center

	.ararat
		display: block
		margin: 0 auto
		width: 208px
		height: 186px
		background: bottom url('./ararat.png')
		margin-bottom: $grid-gutter-width

		@media $media-xs
			margin-bottom: $grid-gutter-width-xs
