<v-popover
	:id="popperId"
	ref="popover"
	:class="{
		'-block': block,
		'-ssr': GJ_IS_SSR,
	}"
	popover-base-class="popper"
	popover-wrapper-class="popper-wrapper"
	popover-arrow-class="popper-arrow"
	:popover-inner-class="popoverInnerClass"
	:placement="placement"
	:trigger="trigger"
	:delay="delay"
	:disabled="disabled"
	:open="show"
	:auto-hide="autoHide"
	:open-group="openGroup"
	@apply-show="onShow"
	@apply-hide="onHide"
	>
	<slot />
	<app-scroll-scroller
		v-if="isVisible"
		slot="popover"
		:style="{
			maxHeight,
			width,
			maxWidth,
		}"
		overlay
		:inview-throttle="0"
		>
		<slot name="popover"  />
	</app-scroll-scroller>
</v-popover>
