<div>
	<div ref="inner"
		class="comment-video-lightbox"
		v-shortkey="[ 'esc' ]"
		@shortkey="close"
		>

		<div class="comment-video-lightbox-interaction">
			<div class="comment-video-lightbox-interaction-who">
				<router-link class="comment-video-lightbox-game"
					:to="{ name: 'discover.games.view.overview', params: { slug: video.game.slug, id: video.game.id } }"
					@click="close"
					v-app-track-event="`comment-video-lightbox:game`"
					>
					<app-img-responsive :src="video.game.img_thumbnail" alt="" />
					<div class="comment-video-lightbox-game-content">
						<div class="comment-video-lightbox-game-content-title">
							<strong>{{ video.game.title }}</strong>
						</div>
						<div class="comment-video-lightbox-game-content-dev">
							<translate>by</translate>
							{{ video.game.developer.display_name }}
						</div>
					</div>
				</router-link>

				<div class="separator hidden-xs"></div>

				<router-link class="comment-video-lightbox-user"
					:to="{ name: 'profile.overview', params: { username: video.comment.user.username } }"
					v-app-tooltip.bottom="`${video.comment.user.display_name} (@${video.comment.user.username})`"
					v-app-track-event="`comment-video-lightbox:user`"
					@click="close"
					>
					<img :src="video.comment.user.img_avatar" class="img-responsive" alt="">
				</router-link>

				<app-social-youtube-subscribe
					:channel="video.channel_id"
					theme="dark"
					/>
			</div>

			<div class="comment-video-lightbox-interaction-actions">
				<a class="btn btn-block-xs"
					v-if="canVote"
					:class="{
						'btn-success active': !!video.comment.user_vote,
						'btn-outline btn-overlay-variant': !video.comment.user_vote,
					}"
					@click="toggleVote"
					v-app-track-event="`comment-video-lightbox:change-like`"
					>
					<span class="btn-badge hidden-xs" v-if="video.comment.votes > 0">
						{{ video.comment.votes | number }}
					</span>
					<app-jolticon icon="thumbs-up" />
					<translate v-if="!video.comment.user_vote">Like</translate>
					<translate v-else>Liked!</translate>
				</a>

				<a class="btn btn-outline btn-overlay-variant btn-block-xs"
					@click="reply"
					v-app-track-event="`comment-video-lightbox:reply`"
					>
					<app-jolticon icon="reply" />
					<translate>Reply</translate>
				</a>

				<a class="btn btn-danger-outline btn-overlay-variant btn-block-xs"
					@click="close"
					>
					<app-jolticon icon="remove" />
					<translate>Close</translate>
				</a>
			</div>
		</div>

		<div class="comment-video-lightbox-content">

			<app-video-embed
				video-provider="youtube"
				:video-id="video.video_id"
				:max-video-width="maxWidth"
				:max-video-height="maxHeight"
				:autoplay="true"
				/>

		</div>

	</div>
</div>
