$zindex-comment-video-lightbox ?= 500

gj-comment-video-lightbox
	transition: opacity 300ms

	&.ng-leave

		// We want their pointer events to pass through so that they can interact with the page
		// right away even while the overlay is animating out.
		// This should make it less annoying for the user.
		pointer-events: none

		.comment-video-lightbox-content
			transition: transform 250ms
			transform: translateY( 0 )

	&.ng-leave.ng-leave-active
		opacity: 0

		.comment-video-lightbox-content
			transform: translateY( 200px )

.comment-video-lightbox
	position: fixed
	top: 0
	right: 0
	bottom: 0
	left: 0
	z-index: $zindex-comment-video-lightbox
	background-color: rgba( 0, 0, 0, 0.85 )
	user-select: none

	&-content
		position: absolute
		left: 0
		right: 0
		bottom: 0
		top: 150px

		@media $media-sm-up
			top: 100px

		.video-embed iframe
			margin: 0 auto

	&-interaction
		@extend .clearfix
		padding: 20px

		&-who
		&-actions
			position: relative
			z-index: 2

		.btn
		.comment-video-lightbox-game
		gj-social-youtube-subscribe
			vertical-align: top

		@media $media-xs
			&-actions
				position: absolute
				bottom: 20px
				left: 20px
				right: 20px

		@media $media-sm-up
			&-who
				float: left

			&-actions
				float: right

	.separator
		display: inline-block
		vertical-align: top
		width: 1px
		height: 30px
		margin: 0 15px
		margin-top: 10px
		background-color: $white
		opacity: 0.3

	&-game
		@extend .clearfix
		display: block
		margin-bottom: $line-height-computed
		text-align: left
		color: $white
		font-size: $font-size-small

		@media $media-sm-up
			display: inline-block

		&:hover
			color: $white
			text-decoration: underline

		> img
			float: left
			width: 75px
			border: 1px solid $white

			@media $media-sm-up
				border-width: 2px

		&-content
			margin-left: 85px

			&-title
			&-dev
				text-overflow()

				@media $media-sm
					max-width: 100px

				@media $media-md-up
					max-width: 200px

	&-user
		display: inline-block
		width: 30px
		margin-right: 10px
		background-color: $gray-darkest
		border: 1px solid $white

		@media $media-sm-up
			width: 50px
			border-width: 2px
