@require '~styles/variables'
@require '~styles-lib/mixins'

.pill
	rounded-corners()
	theme-prop('background-color', 'bg-offset')
	theme-prop('color', 'fg')
	display: inline-flex
	align-items: center
	padding: 5px 10px
	font-size: $font-size-small
	user-select: none
	margin-right: 5px
	margin-bottom: 5px

	&.active
		theme-prop('background-color', 'bi-bg')
		theme-prop('color', 'bi-fg')
		font-weight: bold

	a&
		pressy()
		cursor: pointer

		&:hover
			theme-prop('background-color', 'bi-bg')
			theme-prop('color', 'bi-fg')

.-img
	img-circle()
	overflow: hidden
	margin-right: 5px
	width: 18px
	height: 18px
