@require '~styles/variables'
@require '~styles-lib/mixins'

.form-control-upload
	rounded-corners()
	border: 2px dashed $gray-light
	padding: ($grid-gutter-width / 2)

	&.drop-active
		border-color: var(--theme-green)
		border-style: solid

.list-group
	margin-bottom: 0
