@require '~styles/variables'

.form-control-upload
	border: 2px dashed $gray-light
	padding: ($grid-gutter-width / 2)
	border-radius: $border-radius-base

	&.drop-active
		border-color: var(--theme-green)
		border-style: solid

.list-group
	margin-bottom: 0
