@require '~styles/variables'
@require './../../../../../../lib/gj-lib-client/stylus/common/mixins.styl'

.form-control-upload
	border: 2px dashed $gray-light
	padding: ($grid-gutter-width / 2)
	border-radius: $border-radius-base

	&.drop-active
		border-color: $gj-green
		border-style: solid
