<app-form class="auth-form" name="loginForm">
	<div class="text-center">
		<p>
			<b>
				<translate>Log in with:</translate>
			</b>
		</p>
		<p>
			<app-button
				icon="facebook"
				circle
				primary
				class="anim-fade-in-enlarge stagger"
				:disabled="Connection.isClientOffline"
				@click.prevent="linkedChoose('facebook')"
				v-app-tooltip="`Facebook`"
				/>

			<app-button
				icon="twitter-bird"
				circle
				primary
				class="anim-fade-in-enlarge stagger"
				:disabled="Connection.isClientOffline"
				@click.prevent="linkedChoose('twitter')"
				v-app-tooltip="`Twitter`"
				/>

			<app-button
				icon="google-plus"
				circle
				primary
				class="anim-fade-in-enlarge stagger"
				:disabled="Connection.isClientOffline"
				@click.prevent="linkedChoose('google')"
				v-app-tooltip="`Google+`"
				/>

			<app-button
				icon="twitch"
				circle
				primary
				class="anim-fade-in-enlarge stagger"
				:disabled="Connection.isClientOffline"
				@click.prevent="linkedChoose('twitch')"
				v-app-tooltip="`Twitch`"
				/>
		</p>
	</div>

	<p class="page-help">
		By logging in, you agree to the
		<a :href="Environment.baseUrl + '/terms'" class="link-muted">Terms of Use</a>
		and
		<a :href="Environment.baseUrl + '/privacy'" class="link-muted">Privacy Policy</a>,
		including
		<a :href="Environment.baseUrl + '/cookies'" class="link-muted">Cookie Policy</a>.
	</p>

	<div class="auth-line-thru">
		<translate>or</translate>
	</div>

	<fieldset :disabled="Connection.isClientOffline">

		<!--
			Min not needed since the login will fail if incorrect anyway.
		-->

		<app-form-group name="username" :label="$gettext( 'Username' )" :hide-label="true">
			<app-form-control
				type="text"
				:placeholder="$gettext( 'Username' )"
				:rules="{ max: 30, pattern: 'username' }"
				@changed="onChanged"
				/>

			<app-form-control-errors />
		</app-form-group>

		<app-form-group name="password" :label="$gettext( 'Password' )" :hide-label="true">
			<app-form-control
				type="password"
				:placeholder="$gettext( 'Password' )"
				:rules="{ max: 300 }"
				@changed="onChanged"
				/>

			<app-form-control-errors />
		</app-form-group>

		<br>

		<div class="alert alert-notice anim-fade-in-enlarge no-animate-leave" v-if="invalidLogin">
			<p><translate>Incorrect username or password.</translate></p>
			<p><translate>Please note, after 5 incorrect login attempts you will be locked out of your account for 1 hour.</translate></p>
			<p><translate>If you've forgotten your username or password, you can retrieve them below.</translate></p>
		</div>

		<div class="alert alert-notice anim-fade-in-enlarge no-animate-leave" v-if="blockedLogin">
			<p><translate>Whoa, there! You've tried to log in too many times and just straight up failed. You'll have to cool down a bit before trying again.</translate></p>
		</div>

		<app-loading
			v-if="state.isProcessing"
			:label="$gettext( 'Figuring this all out...' )"
			:centered="true"
			/>

		<div class="form-group">
			<app-form-button block>
				<translate>Log In</translate>
			</app-form-button>
		</div>

	</fieldset>
</app-form>
