<button class="btn btn-outline btn-block anim-fade-in-enlarge stagger"
	ng-class="{ 'btn-dark-variant': $ctrl.darkVariant }"
	ng-disabled="!$ctrl.conn.isOnline"
	ng-click="$ctrl.linkedAccountLogin( 'facebook' )"
	>
	<span class="jolticon jolticon-facebook"></span>
	<span translate>Log In With Facebook</span>
</button>

<button class="btn btn-outline btn-block anim-fade-in-enlarge stagger"
	ng-class="{ 'btn-dark-variant': $ctrl.darkVariant }"
	ng-disabled="!$ctrl.conn.isOnline"
	ng-click="$ctrl.linkedAccountLogin( 'google' )"
	>
	<span class="jolticon jolticon-google-plus"></span>
	<span translate>Log In With Google+</span>
</button>

<button class="btn btn-outline btn-block anim-fade-in-enlarge stagger"
	ng-class="{ 'btn-dark-variant': $ctrl.darkVariant }"
	ng-disabled="!$ctrl.conn.isOnline"
	ng-click="$ctrl.linkedAccountLogin( 'twitter' )"
	>
	<span class="jolticon jolticon-twitter"></span>
	<span translate>Log In With Twitter</span>
</button>

<button class="btn btn-outline btn-block anim-fade-in-enlarge stagger"
	ng-class="{ 'btn-dark-variant': $ctrl.darkVariant }"
	ng-disabled="!$ctrl.conn.isOnline"
	ng-click="$ctrl.linkedAccountLogin( 'twitch' )"
	>
	<span class="jolticon jolticon-twitch"></span>
	<span translate>Log In With Twitch</span>
</button>

<div class="auth-line-thru">
	<span translate>or</span>
</div>

<gj-auth-login-form
	dark-variant="$ctrl.darkVariant"
	gj-form-submit-handler="$ctrl.onLoggedIn( formModel )"
	>
</gj-auth-login-form>
