.form-markdown-editor

	> nav
		@extend .clearfix
		margin-bottom: 0

		> ul
			float: left

	textarea
		width: 100%
		padding: ($grid-gutter-width / 2)

		@media $media-xs
			padding: ($grid-gutter-width-xs / 2)

	&-helptext
		float: right
		padding-top: 10px
		padding-bottom: 10px
		font-size: $font-size-tiny

		// We show a big markdown icon, so we have to remove the extra padding.
		@media $media-xs
			padding-top: 0
			padding-bottom: 0

		.jolticon
			vertical-align: top
			padding-right: 3px

	&-helplink
		display: inline-block

		@media $media-sm-up
			margin-left: 15px

	&-preview
		border: 1px solid $input-border

	// Handle this with CSS so that it's immediate in the view when toggling modes.
	textarea
	&-preview
		display: none

	&.is-editing textarea
		display: block

	&.is-previewing .form-markdown-editor-preview
		display: block

	&.has-controls textarea
		border-bottom-style: dashed

@require './media-items'
