<div class="form-markdown-editor-media-items well">

	<div class="media-item-list scrollable scrollable-x overlay-scrollbar">
		<div class="media-item-list-col"
			ng-repeat="item in mediaItems track by item.id"
			>

			<div class="media-item-list-item">
				<div class="media-item-list-item-inner">
					<div class="media-item-list-item-controls">

						<a class="btn btn-sparse"
							gj-tooltip="Copy Markdown Embed"
							ng-click="copyLink( item )"
							>
							<span class="jolticon jolticon-link"></span>
						</a>

					</div>

					<span class="media-item-list-item-img" ng-style="{ 'background-image': 'url(\'' + item.img_url + '\')' }"></span>
				</div>
			</div>

		</div>
	</div>
	<br>

	<!--
		Note, we have to make the form field optional, otherwise it will affect the
		parent form and say it's invalid.
	-->
	<form gj-form="formModel" name="markdownEditorMediaItemForm">
		<div ng-if="Loader.ready( 'upload' )">

			<form-group name="image" hide-label="true" optional="true">

				<gj-form-upload-control
					form-control="upload"
					gj-file-select="onSubmit()"
					gj-max-filesize="maxFilesize"
					gj-max-img-width="maxWidth"
					gj-max-img-height="maxHeight"
					accept=".png,.jpg,.jpeg,.gif"
					upload-link-label="Upload a PNG, JPG, or GIF image."
					multiple="true"
					>
				</gj-form-upload-control>

				<control-errors></control-errors>

			</form-group>

		</div>
	</form>

</div>
