.form-markdown-editor-media-items
	@extend .well
	border: 1px solid $input-border
	border-top: 0
	background-color: $input-bg

	.form-group
		margin-bottom: 0

	.media-item-list
		white-space: nowrap

		.col
			float: none
			display: inline-block

	.media-item-list-item
		margin-bottom: 0
