@require '~styles/variables'
@require '~styles-lib/mixins'

.tag
	content-prop('background-color', 'bg-offset')
	content-prop('color', 'fg')
	display: inline-block
	padding: 1px 4px 2px
	font-family: $font-family-tiny
	font-size: $font-size-tiny
	font-weight: normal
	vertical-align: text-bottom
	white-space: nowrap
	border-radius: $border-radius-small
	line-height: 16px // Same size as a jolticon.

	&:empty
		display: none

	.jolticon
		vertical-align: bottom
		margin: 0

	&.big
		padding-left: 8px
		padding-right: @padding-left
		font-size: $font-size-large
		line-height: 16px * 2

		.jolticon
			vertical-align: baseline

.tag-active
	background-color: var(--theme-dark-green)
	color: var(--theme-green)

.tag-green
	background-color: var(--theme-green)
	color: $black

.tag-pink
	background-color: var(--theme-pink)
	color: $white

.tag-blue
	background-color: var(--theme-blue)
	color: $gray-darker

.tag-highlight
	theme-prop('background-color', 'downlight')
	theme-prop('color', 'highlight')

	a&:hover
		color: $white

.tag-notice
	theme-prop('background-color', 'notice')
	color: $black

	a&:hover
		color: $gray-darker
