.tag
	display: inline-block
	padding: 1px 4px 2px
	font-family: $font-family-tiny
	font-size: $font-size-tiny
	font-weight: normal
	vertical-align: text-bottom
	white-space: nowrap
	content-prop('background-color', 'offset')
	content-prop('color', 'text')
	// content-prop('color', 'muted')
	// color: $gray
	// background-color: $gray-lighter
	border-radius: $border-radius-small
	line-height: 16px // Same size as a jolticon.

	&:empty
		display: none

	.jolticon
		vertical-align: bottom
		margin: 0

	&.big
		padding-left: 8px
		padding-right: @padding-left
		font-size: $font-size-large
		line-height: 16px * 2

		.jolticon
			vertical-align: baseline

.tag-active
	background-color: var(--user-dark-green)
	color: var(--user-green)

.tag-green
	background-color: var(--user-green)
	color: $black

.tag-pink
	background-color: var(--user-pink)
	color: $white

.tag-blue
	background-color: var(--user-blue)
	color: $gray-darker

.tag-highlight
	user-prop('background-color', 'offlight')
	user-prop('color', 'highlight')

	a&:hover
		color: $white

.tag-notice
	user-prop('background-color', 'notice')
	color: $black

	a&:hover
		color: $gray-darker
