$alert-padding = ($grid-gutter-width / 2)
$alert-padding-xs = ($grid-gutter-width-xs / 2)

.alert
	position: relative
	padding: $alert-padding-xs
	margin-bottom: $line-height-computed
	font-size: $font-size-small
	border-radius: $border-radius-base

	@media $media-sm-up
		padding: $alert-padding

	h4
		margin-top: 0
		color: inherit

	p
	ul
		margin-bottom: 0

	p + p
		margin-top: 5px

	// We add spacing to the top proportionate to the amount of spacing that would
	// usually be above the top of text.
	.btn
		margin-top: 5px + ($line-height-computed - $font-size-base)

	.jolticon
		@extend .jolticon.middle

	// alert-well is for styling it as a full-width row
	&-well
		border-radius: 0

.alert-dismiss
	position: absolute
	top: $alert-padding-xs
	right: $alert-padding-xs

	@media $media-sm-up
		top: $alert-padding
		right: $alert-padding

// To be used with .alert-dismiss to give space to the right side.
.alert-content
	margin-right: 30px

.alert-info
	@extend .fill-lightest

.fill-lightest .alert-info
	@extend .fill-lighter

.alert-warning
	@extend .fill-pink

.alert-success
	@extend .fill-dark-green

.alert-dark
	@extend .fill-darker

.alert-actions
	position: relative
	margin: -($alert-padding)
	margin-top: $alert-padding
	padding: $alert-padding
	background-color: $gray-dark
	border-bottom-left-radius: $border-radius-base
	border-bottom-right-radius: $border-radius-base

	&::before
		content: ''
		caret( $gray-dark, direction: 'up', size: 5px )

	> .btn
		margin-top: 0
