@require '~styles/variables'
@require '~styles-lib/mixins'

.tab-list
	full-bleed-xs()
	position: relative
	margin-bottom: $line-height-computed
	padding-left: $line-height-computed
	padding-right: $line-height-computed

	&::after
		content: ''
		position: absolute
		left: 0
		right: 0
		bottom: 0
		height: 2px
		background-color: $black
		z-index: 1

	@media $media-xs
		padding-left: 0
		padding-right: 0
		// XS size will default to centered.
		text-align: center

		&-content
			overflow-x: auto
			overflow-y: hidden
			white-space: nowrap

	ul
		display: inline-block
		margin: 0
		padding: 0

		@media $media-xs
			float: none !important

		& > li
			display: inline-block
			margin: 0

			& > a
				display: inline-block
				padding: $tab-list-padding-v $tab-list-padding-h
				margin: 0 3px
				cursor: pointer
				border: 2px solid $black
				border-top-left-radius: $border-radius-base
				border-top-right-radius: $border-radius-base
				border-bottom: 0
				font-weight: bold
				color: $black
				// Don't allow to select the text when clicking on a tab.
				user-select: none

				&:hover
					background-color: $gray-lightest

				&.active
					position: relative
					background-color: $white
					z-index: 2

	&-centered
		text-align: center
		margin-left: 0

	&-addons
		float: right

	&-meta
		color: $text-muted
		font-size: $font-size-small
		margin-bottom: $line-height-computed

		@media $media-md-up
			float: left
			margin-top: 7px
			margin-bottom: 0

	&-controls
		float: right

		.btn
			border-bottom-left-radius: 0
			border-bottom-right-radius: 0

	&-input
		margin-bottom: $line-height-computed

		@media $media-md-up
			float: right
			margin-left: 20px
			margin-bottom: 0
			max-width: 250px
