@require '~styles/variables'
@require '~styles-lib/mixins'

.media-item
	width: 100%
	display: flex
	flex-direction: column
	margin-bottom: $line-height-computed

.media-item-container
	display: flex
	justify-content: center
	align-items: center
	theme-prop('background-color', 'bg-offset')
	rounded-corners()
	overflow: hidden

.caption-placeholder
	cursor: pointer
	pressy()
